In [7]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib notebook

sns.set_style("whitegrid")
plt.rcParams.update({'font.size': 32})
sns.set_context("poster", rc={"font.size":34,"axes.titlesize":34,"axes.labelsize":34, "lines.linewidth": 2})  
plt.rcParams['figure.figsize'] = 18, 12

pd.options.display.max_columns = 999
pd.options.display.max_rows = 100


from datetime import datetime
str(datetime.now())

'2017-11-10 13:11:56.590032'

In [9]:
df = pd.read_excel('../../measurements/ECCC/LakeErie_Markelov_Dove26May2017.xlsx', sheetname='Data')

In [10]:
df.columns

Index(['CRUISE_PLAN', 'CRUISE_START_DATE', 'CRUISE_STOP_DATE',
       'LAST_DATE_UPDATED', 'WATER_BODY', 'CSN', 'LATITUDE_DD', 'LONGITUDE_DD',
       'PSN', 'SOUNDING', 'STN_DATE', 'CODE', 'DEPTH_FROM', 'DEPTH_TO',
       'DETECTION', 'FLAG', 'SEQ_NO', 'VALUE', 'ABBREV', 'FULL_NAME', 'UNITS'],
      dtype='object')

In [46]:
# df.pivot_table(aggfunc=lambda x: len(x.unique()))
df.groupby(['FULL_NAME'])['DEPTH_TO'].nunique()

FULL_NAME
ALUMINUM                                    1
ALUMINUM                                    1
AMMONIA FIL. INTEGRATED                    23
AMMONIA NITROGEN, SOLUBLE                   1
AMMONIA NITROGEN,SOLUBLE                    1
CALCIUM                                     1
CALCIUM,FILTERED                            1
CALCIUM,FILTERED ATOMIC ABS.                1
CARBON,DISSOLVED ORGANIC                    1
CARBON,PARTICULATE ORGANIC                  1
CARBON,PARTICULATE ORGANIC,INTEGRATED      52
CHLORIDE                                    1
CHLORIDE,FILTERED                           1
CHLOROPHYL A, UNCORRECTED                   1
CHLOROPHYLL A CORRECTED INTEGRATED         50
CHLOROPHYLL A UNCORRECTED INTEGRATED       52
CHLOROPHYLL A, CORRECTED PHAEOPHYTIN        1
DISSOLVED INORGANIC CARBON                  1
DISSOLVED OXYGEN, PROFILER WQP              1
FLUORIDE                                    1
I-NO3+2F NITRITE + NITRITE FIL. INTEG.     23
INTEGRATED PH MEASUREMENT TEMPERATURE      24
IRON                                        1
IRON                                        1
MAGNESIUM                                   1
MAGNESIUM,FILTERED                          1
MAGNESIUM,FILTERED                          1
NITRATE+NITRITE NITROGEN, FILTERED          1
NITRATE+NITRITE NITROGEN,FILTERED           1
NITROGEN,TOTAL PARTICULATE                  1
NITROGEN,TOTAL PARTICULATE - INTEGRATED    52
OXYGEN,% SAT. DISSOLVED                     1
OXYGEN,CONCENTRATION DISSOLVED              1
PH                                          1
PH FROM INTEG. SAMPLE                      24
PHOSPHOROUS SOL. REACT. F.-INTEGRATED      23
PHOSPHOROUS,SOLUBLE REACTIVE,FILTERED       1
PHOSPHOROUS,TOTAL                           1
PHOSPHOROUS,TOTAL INTEGRATED SAMPLE        23
PHOSPHORUS, TOTAL, PARTICULATE              1
PHOSPHORUS,TOTAL FILTERED                   1
PHOSPHORUS,TOTAL FILTERED-INTEGRATED       23
POTASSIUM                                   1
POTASSIUM,FILTERED                          1
POTASSIUM,FILTERED PHOTOMETRIC              1
POTASSIUM-F.,ATOMIC ABSORPTION              1
SODIUM                                      1
SODIUM,FILTERED PHOTOMETRIC                 1
SODIUM,UNFILTERED                           1
SODIUM-F.,ATOMIC ABSORPTION                 1
SOLUBLE REACTIVE PHOSPHOROUS                1
SULPHATE                                    1
SULPHATE,FILTERED.                          1
TOTAL PHOSPHOROUS                           1
TOTAL PHOSPHOROUS FILTERED                  1
Name: DEPTH_TO, dtype: int64

In [45]:
# df.pivot_table(aggfunc=lambda x: len(x.unique()))
df.groupby(['FULL_NAME'])['PSN'].count()

FULL_NAME
ALUMINUM                                     145
ALUMINUM                                      24
AMMONIA FIL. INTEGRATED                       61
AMMONIA NITROGEN, SOLUBLE                    419
AMMONIA NITROGEN,SOLUBLE                    1208
CALCIUM                                      879
CALCIUM,FILTERED                             303
CALCIUM,FILTERED ATOMIC ABS.                2536
CARBON,DISSOLVED ORGANIC                     799
CARBON,PARTICULATE ORGANIC                   659
CARBON,PARTICULATE ORGANIC,INTEGRATED       1674
CHLORIDE                                    2021
CHLORIDE,FILTERED                           1712
CHLOROPHYL A, UNCORRECTED                    567
CHLOROPHYLL A CORRECTED INTEGRATED          1565
CHLOROPHYLL A UNCORRECTED INTEGRATED        1664
CHLOROPHYLL A, CORRECTED PHAEOPHYTIN         537
DISSOLVED INORGANIC CARBON                   533
DISSOLVED OXYGEN, PROFILER WQP             15648
FLUORIDE                                    1493
I-NO3+2F NITRITE + NITRITE FIL. INTEG.        61
INTEGRATED PH MEASUREMENT TEMPERATURE         61
IRON                                         145
IRON                                          24
MAGNESIUM                                    879
MAGNESIUM,FILTERED                          2535
MAGNESIUM,FILTERED                           303
NITRATE+NITRITE NITROGEN, FILTERED           418
NITRATE+NITRITE NITROGEN,FILTERED           1209
NITROGEN,TOTAL PARTICULATE                   659
NITROGEN,TOTAL PARTICULATE - INTEGRATED     1674
OXYGEN,% SAT. DISSOLVED                     3115
OXYGEN,CONCENTRATION DISSOLVED              3112
PH                                          3260
PH FROM INTEG. SAMPLE                         61
PHOSPHOROUS SOL. REACT. F.-INTEGRATED         61
PHOSPHOROUS,SOLUBLE REACTIVE,FILTERED       1209
PHOSPHOROUS,TOTAL                           2845
PHOSPHOROUS,TOTAL INTEGRATED SAMPLE           61
PHOSPHORUS, TOTAL, PARTICULATE                61
PHOSPHORUS,TOTAL FILTERED                   2849
PHOSPHORUS,TOTAL FILTERED-INTEGRATED          61
POTASSIUM                                    879
POTASSIUM,FILTERED                           303
POTASSIUM,FILTERED PHOTOMETRIC               833
POTASSIUM-F.,ATOMIC ABSORPTION              1700
SODIUM                                       879
SODIUM,FILTERED PHOTOMETRIC                  833
SODIUM,UNFILTERED                            303
SODIUM-F.,ATOMIC ABSORPTION                 1700
SOLUBLE REACTIVE PHOSPHOROUS                 801
SULPHATE                                    2015
SULPHATE,FILTERED.                          1696
TOTAL PHOSPHOROUS                            879
TOTAL PHOSPHOROUS FILTERED                   877
Name: PSN, dtype: int64

In [11]:
data = df[(df.PSN==970) & (df.CODE==245)]

In [12]:
for d in data.STN_DATE.unique()[:6]:
    one_date = data[data.STN_DATE ==d]
    one_date.sort(columns='STN_DATE', inplace=True)
    plt.scatter(one_date['VALUE'], -one_date['DEPTH_FROM'], label=str(d)[:10])
    plt.xlabel('O2, [mg/L]')
    plt.ylabel('depth, m')
    plt.xlim(0,15)
plt.legend()

AttributeError: 'DataFrame' object has no attribute 'sort'

In [ ]:
for c,d in zip( sns.color_palette(), data.DEPTH_FROM.unique()):
    one_date = data[data.DEPTH_FROM ==d]
    one_date.sort(columns='STN_DATE', inplace=True)
#     try:
    plt.plot_date(one_date['STN_DATE'], one_date['VALUE'], color=c, label='_nolegend_')
    plt.plot(one_date['STN_DATE'], one_date['VALUE'], color=c, label=str(d))
#     except:
#         pass
    plt.ylabel('O2, [mg/L]')
#     plt.ylabel('depth, m')
#     plt.xlim(0,15)
plt.legend()

In [ ]:
data_tp = df[(df.PSN==970) & (df.CODE==260)]

In [ ]:
for c,d in zip( sns.color_palette(), data.DEPTH_FROM.unique()):
    one_date = data_tp[data_tp.DEPTH_FROM ==d]
    one_date.sort(columns='STN_DATE', inplace=True)
#     try:
    plt.plot_date(one_date['STN_DATE'], one_date['VALUE'], color=c, label='_nolegend_')
    plt.plot(one_date['STN_DATE'], one_date['VALUE'], color=c, label=str(d))
#     except:
#         pass
    plt.ylabel('TP, [mg-P/L]')
#     plt.ylabel('depth, m')
#     plt.xlim(0,15)
plt.legend()