In [1]:
import glob
import pandas as pd
import datetime

In [70]:
code = '820070'
river = pd.read_csv('/Users/imarkelo/git/Great-Lakes-Data/measurements/MIDEQ/MIDEQ-'+code+'.csv', encoding='windows-1251')
river = river.dropna(subset=['Sample Date'])
river['Date'] = pd.to_datetime(river['Sample Date'], errors='coerce').apply(datetime.datetime.date)
river['Characteristic'] = river['Characteristic'].apply(lambda x: x.strip())
river[river['Characteristic']=='Total Total Phosphorus'][['Date','Units','Result Value']].to_csv('proc_data/TP_MIDEQ-'+code+'.csv', index=False)
river[river['Characteristic']=='Total Nitrate + Nitrite'][['Date','Units','Result Value']].to_csv('proc_data/NO32_MIDEQ-'+code+'.csv', index=False)
river[river['Characteristic']=='Total Total Nitrate'][['Date','Units','Result Value']].to_csv('proc_data/NO3_MIDEQ-'+code+'.csv', index=False)
river[river['Characteristic']=='Total Chloride'][['Date','Units','Result Value']].to_csv('proc_data/Cl_MIDEQ-'+code+'.csv', index=False)
river[river['Characteristic']=='Total Total Ortho Phosphate'][['Date','Units','Result Value']].to_csv('proc_data/PO4_MIDEQ-'+code+'.csv', index=False)
print(river[river['Characteristic']=='Total Total Phosphorus'].shape[0], 
      river[river['Characteristic']=='Total Nitrate + Nitrite'].shape[0], 
      river[river['Characteristic']=='Total Total Nitrate'].shape[0], 
      river[river['Characteristic']=='Total Chloride'].shape[0], 
      river[river['Characteristic']=='Total Total Ortho Phosphate'].shape[0], 
      sep=' ')

40 24 36 75 40

In [61]:
clinton_river = pd.read_csv('/Users/imarkelo/git/Great-Lakes-Data/measurements/MIDEQ/MIDEQ-500233.csv', encoding='windows-1251')
clinton_river = clinton_river.dropna(subset=['Sample Date'])
clinton_river['Date'] = pd.to_datetime(clinton_river['Sample Date'], errors='coerce').apply(datetime.datetime.date)
clinton_river['Characteristic'] = clinton_river['Characteristic'].apply(lambda x: x.strip())
clinton_river[clinton_river['Characteristic']=='Total Total Phosphorus'][['Date','Units','Result Value']].to_csv('proc_data/TP_MIDEQ-500233.csv', index=False)
print(clinton_river[clinton_river['Characteristic']=='Total Total Phosphorus'].shape)
clinton_river[clinton_river['Characteristic']=='Total Nitrate + Nitrite'][['Date','Units','Result Value']].to_csv('proc_data/NO32_MIDEQ-500233.csv', index=False)
print(clinton_river[clinton_river['Characteristic']=='Total Nitrate + Nitrite'].shape)
clinton_river[clinton_river['Characteristic']=='Total Total Nitrate'][['Date','Units','Result Value']].to_csv('proc_data/NO3_MIDEQ-500233.csv', index=False)
print(clinton_river[clinton_river['Characteristic']=='Total Total Nitrate'].shape)
clinton_river[clinton_river['Characteristic']=='Total Chloride'][['Date','Units','Result Value']].to_csv('proc_data/Cl_MIDEQ-500233.csv', index=False)
print(clinton_river[clinton_river['Characteristic']=='Total Chloride'].shape)
clinton_river[clinton_river['Characteristic']=='Total Total Ortho Phosphate'][['Date','Units','Result Value']].to_csv('proc_data/PO4_MIDEQ-500233.csv', index=False)
print(clinton_river[clinton_river['Characteristic']=='Total Total Ortho Phosphate'].shape)

(95, 13)
(47, 13)
(84, 13)
(127, 13)
(95, 13)

In [60]:
clinton_river.head()

,Description,Type,Water Depth,Latitude,Longitude,USGS HUC Code,Characteristic,Result Value,Units,Project Name,Sample Date,Value Type,Date
1,NaN,NaN,NaN,NaN,NaN,NaN,Total Copper,3.518,ug/l,WCTMP,9/8/1998,Actual,1998-09-08
2,NaN,NaN,NaN,NaN,NaN,NaN,Total Nickel,5.887,ug/l,WCTMP,9/8/1998,Actual,1998-09-08
3,NaN,NaN,NaN,NaN,NaN,NaN,Total Nitrogen,ammonia (NH3) as NH3,0.174,mg/l,WCTMP,9/8/1998,0001-01-01
4,NaN,NaN,NaN,NaN,NaN,NaN,Total Nitrogen,Kjeldahl,1.03,mg/l,WCTMP,9/8/1998,0001-01-01
5,NaN,NaN,NaN,NaN,NaN,NaN,Total pH,7.72,NaN,WCTMP,9/8/1998,Actual,1998-09-08

In [ ]:
black_river = pd.read_csv('/Users/imarkelo/git/Great-Lakes-Data/measurements/MIDEQ/MIDEQ-740267.csv', encoding='windows-1251')
black_river = black_river.dropna(subset=['Sample Date'])
black_river['Date'] = pd.to_datetime(black_river['Sample Date']).apply(datetime.datetime.date)
black_river['Characteristic'] = black_river['Characteristic'].apply(lambda x: x.strip())
black_river[black_river['Characteristic']=='Total Total Phosphorus'][['Date','Units','Result Value']].to_csv('proc_data/TP_MIDEQ-740267.csv', index=False)
print(black_river[black_river['Characteristic']=='Total Total Phosphorus'].shape)
black_river[black_river['Characteristic']=='Total Nitrate + Nitrite'][['Date','Units','Result Value']].to_csv('proc_data/NO32_MIDEQ-740267.csv', index=False)
print(black_river[black_river['Characteristic']=='Total Nitrate + Nitrite'].shape)
black_river[black_river['Characteristic']=='Total Total Nitrate'][['Date','Units','Result Value']].to_csv('proc_data/NO3_MIDEQ-740267.csv', index=False)
print(black_river[black_river['Characteristic']=='Total Total Nitrate'].shape)
black_river[black_river['Characteristic']=='Total Chloride'][['Date','Units','Result Value']].to_csv('proc_data/Cl_MIDEQ-740267.csv', index=False)
print(black_river[black_river['Characteristic']=='Total Chloride'].shape)
black_river[black_river['Characteristic']=='Total Total Ortho Phosphate'][['Date','Units','Result Value']].to_csv('proc_data/PO4_MIDEQ-740267.csv', index=False)
print(black_river[black_river['Characteristic']=='Total Total Ortho Phosphate'].shape)

In [10]:
black_river['Date'] = pd.to_datetime(black_river['Sample Date']).apply(datetime.datetime.date)

In [62]:
black_river[black_river['Characteristic']=='Total Total Ortho Phosphate'].shape

(48, 16)

In [28]:
black_river['Characteristic'].unique()

array(['Total pH (Field)', 'Total Total Magnesium', 'Total Total Nitrate',
       'Total Total Ortho Phosphate', 'Total Total Suspended Solids',
       'Total Chloride', 'Total Conductivity (Field)',
       'Total Nitrate + Nitrite', 'Total pH (Lab)',
       'Total Total Alkalinity', 'Total Total Calcium',
       'Total Total Kjeldahl Nitrogen', 'Total Turbidity',
       'Total Dissolved Oxygen (Field)', 'Total Hardness Ca2CO3',
       'Total Total Dissolved Solids', 'Total Total Nitrite',
       'Total Total Organic Carbon', 'Total Total Phosphorus',
       'Total Total Potassium', 'Total Conductivity (Lab)',
       'Total Temperature of Water', 'Total Total Ammonia',
       'Total Total Sodium', 'Total Total Sulfate'], dtype=object)

In [22]:
black_river.shape

(1142, 16)

In [11]:
black_river.head()

,Description,Type,Water Depth,Latitude,Longitude,USGS HUC Code,Characteristic,Result Value,Units,Project Name,Sample Date,Value Type,Depth,Depth Units,Sample Time,Date
1,NaN,NaN,NaN,NaN,NaN,NaN,Total pH (Field),8.4,pH,WCMP,9/24/2012,Actual,NaN,NaN,NaN,2012-09-24
2,NaN,NaN,NaN,NaN,NaN,NaN,Total Total Magnesium,30,mg/L,WCMP,9/24/2012,Actual,NaN,NaN,NaN,2012-09-24
3,NaN,NaN,NaN,NaN,NaN,NaN,Total Total Nitrate,ND,mg N/L,WCMP,9/24/2012,Actual,NaN,NaN,NaN,2012-09-24
4,NaN,NaN,NaN,NaN,NaN,NaN,Total Total Ortho Phosphate,0.008,mg P/L,WCMP,9/24/2012,Actual,NaN,NaN,NaN,2012-09-24
5,NaN,NaN,NaN,NaN,NaN,NaN,Total Total Suspended Solids,16,mg/L,WCMP,9/24/2012,Actual,NaN,NaN,NaN,2012-09-24

In [52]:
Detroit_river = pd.read_csv('/Users/imarkelo/git/Great-Lakes-Data/measurements/Excel Files/task 3/Western Basin/detroitriver_average.csv', encoding='windows-1251')
Detroit_river['Year'] = pd.to_numeric(Detroit_river['Year'], errors='coerce')
Detroit_river['Month'] = pd.to_numeric(Detroit_river['Month'], errors='coerce')
Detroit_river['Day'] = pd.to_numeric(Detroit_river['Day'], errors='coerce')
Detroit_river['Inflow volume [m3 d-1]'] = pd.to_numeric(Detroit_river['Inflow volume [m3 d-1]'], errors='coerce')
Detroit_river[' *Phosphorus, water, unfiltered, as phosphorus [mg m-3]'] = pd.to_numeric(Detroit_river[' *Phosphorus, water, unfiltered, as phosphorus [mg m-3]'], errors='coerce')
Detroit_river = Detroit_river.dropna(subset=['Year', 'Month', 'Day', 'Inflow volume [m3 d-1]'])
Detroit_river['Date'] = Detroit_river.apply(lambda x:datetime.datetime.strptime("{0} {1} {2} 00:00:00".format(int(x['Year']),int(x['Month']), int(x['Day'])), "%Y %m %d %H:%M:%S"),axis=1)
Detroit_river = Detroit_river.groupby(['Date']).mean().reset_index()

Detroit_river[['Date','Inflow volume [m3 d-1]']].to_csv('proc_data/Flow_Detroit_River_data.csv', index=False)



Detroit_river = pd.read_csv('/Users/imarkelo/git/Great-Lakes-Data/measurements/Excel Files/task 3/Western Basin/detroitriver_average.csv', encoding='windows-1251')
Detroit_river['Year'] = pd.to_numeric(Detroit_river['Year'], errors='coerce')
Detroit_river['Month'] = pd.to_numeric(Detroit_river['Month'], errors='coerce')
Detroit_river['Day'] = pd.to_numeric(Detroit_river['Day'], errors='coerce')
Detroit_river = Detroit_river.dropna(subset=['Year', 'Month', 'Day', 'Inflow volume [m3 d-1]'])
Detroit_river['Date'] = Detroit_river.apply(lambda x:datetime.datetime.strptime("{0} {1} {2} 00:00:00".format(int(x['Year']),int(x['Month']), int(x['Day'])), "%Y %m %d %H:%M:%S"),axis=1)
Detroit_river[' *Phosphorus, water, unfiltered, as phosphorus [mg m-3]'] = pd.to_numeric(Detroit_river[' *Phosphorus, water, unfiltered, as phosphorus [mg m-3]'], errors='coerce')
Detroit_river = Detroit_river.dropna(subset=[' *Phosphorus, water, unfiltered, as phosphorus [mg m-3]'])
Detroit_river[' *Phosphorus, water, unfiltered, as phosphorus [mg m-3]'] = Detroit_river[' *Phosphorus, water, unfiltered, as phosphorus [mg m-3]']/1000
Detroit_river[['Date','Month',' *Phosphorus, water, unfiltered, as phosphorus [mg m-3]']].to_csv('proc_data/TP_Detroit_River_data.csv', index=False)