In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

sns.set_style("whitegrid")
sns.set_style("ticks")
from datetime import datetime
str(datetime.now())

import scipy as sp

In [10]:
table = pd.read_excel('/Users/imarkelo/Google Drive/GDocuments/Lake Erie/Draft/Water Budget/Water Budget_gauged.xlsx', sheet_name='Total Annual re-estem')

In [12]:
table.head()

,RWB,HC,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,Mean
0,St. Clair River,Outflow LH,4782.000729,5060.392060,5002.331177,4968.235953,4804.197425,4859.677194,5218.747463,5010.079782,4714.731672,4869.019597,4804.090753,5169.250571,5435.596715,5876.587043,5858.016394,5095.530302
1,NaN,US Runoff,5.074288,10.798981,8.777848,13.013017,6.986587,11.077486,14.459652,5.905182,13.797113,5.067694,9.452151,7.957070,6.330900,8.826216,8.745694,9.084659
2,NaN,CA Runoff,9.532302,10.260222,14.073604,17.294701,8.978344,21.695975,13.372261,7.996603,21.907138,5.821416,12.381862,14.562303,7.697210,11.446788,12.508844,12.635305
3,NaN,Outflow,4796.607319,5081.451263,5025.182629,4998.543671,4820.162356,4892.450655,5246.579376,5023.981567,4750.435923,4879.908707,4825.924766,5191.769944,5449.624825,5896.860047,5879.270932,5117.250265
4,St Clair Basin,US Runoff,23.640303,34.915225,30.159578,42.181184,30.126745,43.149995,58.179072,26.249068,54.459825,22.860978,35.024944,38.133201,28.048785,30.726252,39.195186,35.803356

In [1]:
table[table.columns[:-1]].set_index('HC').mean(axis=1)

NameError: name 'table' is not defined