In [1]:
import pandas as pd



pwqmn_rawdata_2005_1 = pd.read_excel('../../measurements/PWQMN/pwqmn_rawdata_2005.xlsx', sheet_name='PWQMN_2005_File_1_of_3')
pwqmn_rawdata_2005_2 = pd.read_excel('../../measurements/PWQMN/pwqmn_rawdata_2005.xlsx', sheet_name='PWQMN_2005_File_2_of_3')
pwqmn_rawdata_2005_3 = pd.read_excel('../../measurements/PWQMN/pwqmn_rawdata_2005.xlsx', sheet_name='PWQMN_2005_File_3_of_3')
pwqmn_rawdata_2005 = pd.concat([pwqmn_rawdata_2005_1, pwqmn_rawdata_2005_2, pwqmn_rawdata_2005_3], ignore_index=True)

In [122]:
pwqmn_rawdata_2004_1 = pd.read_excel('../../measurements/PWQMN/pwqmn_rawdata_2004.xlsx', sheet_name='PWQMN_2004_File_1_of_3')
pwqmn_rawdata_2004_2 = pd.read_excel('../../measurements/PWQMN/pwqmn_rawdata_2004.xlsx', sheet_name='PWQMN_2004_File_2_of_3')
pwqmn_rawdata_2004_3 = pd.read_excel('../../measurements/PWQMN/pwqmn_rawdata_2004.xlsx', sheet_name='PWQMN_2004_File_3_of_3')
pwqmn_rawdata_2004 = pd.concat([pwqmn_rawdata_2004_1, pwqmn_rawdata_2004_2, pwqmn_rawdata_2004_3], ignore_index=True)

In [123]:
pwqmn_rawdata_2003_1 = pd.read_excel('../../measurements/PWQMN/pwqmn_rawdata_2003.xlsx', sheet_name='PWQMN_2003_File_1_of_2')
pwqmn_rawdata_2003_2 = pd.read_excel('../../measurements/PWQMN/pwqmn_rawdata_2003.xlsx', sheet_name='PWQMN_2003_File_2_of_2')
pwqmn_rawdata_2003 = pd.concat([pwqmn_rawdata_2003_1, pwqmn_rawdata_2003_2], ignore_index=True)

In [127]:
pwqmn_rawdata_2001_1 = pd.read_excel('../../measurements/PWQMN/pwqmn_rawdata_2001.xlsx', sheet_name='PWQMN_2001_rawdata_1_of_2')
pwqmn_rawdata_2001_2 = pd.read_excel('../../measurements/PWQMN/pwqmn_rawdata_2001.xlsx', sheet_name='PWQMN_2001_rawdata_2_of_2')
pwqmn_rawdata_2001 = pd.concat([pwqmn_rawdata_2001_1, pwqmn_rawdata_2001_2], ignore_index=True)

In [128]:
pwqmn_rawdata_2000_1 = pd.read_excel('../../measurements/PWQMN/pwqmn_rawdata_2000.xlsx', sheet_name='PWQMN_2000_rawdata_1_of_2')
pwqmn_rawdata_2000_2 = pd.read_excel('../../measurements/PWQMN/pwqmn_rawdata_2000.xlsx', sheet_name='PWQMN_2000_rawdata_1_of_2')
pwqmn_rawdata_2000 = pd.concat([pwqmn_rawdata_2000_1, pwqmn_rawdata_2000_2], ignore_index=True)

In [2]:
pwqmn_rawdata_2006_1 = pd.read_excel('../../measurements/PWQMN/pwqmn_rawdata_2006.xlsx', sheet_name='PWQMN_2006_File_1_of_2')
pwqmn_rawdata_2006_2 = pd.read_excel('../../measurements/PWQMN/pwqmn_rawdata_2006.xlsx', sheet_name='PWQMN_2006_File_2_of_2')
pwqmn_rawdata_2006 = pd.concat([pwqmn_rawdata_2006_1, pwqmn_rawdata_2006_2], ignore_index=True)

In [3]:
pwqmn_rawdata_2007_1 = pd.read_excel('../../measurements/PWQMN/pwqmn_rawdata_2007.xlsx', sheet_name='PWQMN_2007_File_1_of_2')
pwqmn_rawdata_2007_2 = pd.read_excel('../../measurements/PWQMN/pwqmn_rawdata_2007.xlsx', sheet_name='PWQMN_2007_File_2_of_2')
pwqmn_rawdata_2007 = pd.concat([pwqmn_rawdata_2007_1, pwqmn_rawdata_2007_2], ignore_index=True)

In [4]:
pwqmn_rawdata_2008_1 = pd.read_excel('../../measurements/PWQMN/pwqmn_rawdata_2008.xls', sheet_name='PWQMN_2008_File_1_of_2')
pwqmn_rawdata_2008_2 = pd.read_excel('../../measurements/PWQMN/pwqmn_rawdata_2008.xls', sheet_name='PWQMN_2008_File_2_of_2')
pwqmn_rawdata_2008 = pd.concat([pwqmn_rawdata_2008_1, pwqmn_rawdata_2008_2], ignore_index=True)

/Users/imarkelo/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

In [5]:
pwqmn_rawdata_2009_1 = pd.read_excel('../../measurements/PWQMN/pwqmn_rawdata_2009.xls', sheet_name='PWQMN_2009_File_1_of_2')
pwqmn_rawdata_2009_2 = pd.read_excel('../../measurements/PWQMN/pwqmn_rawdata_2009.xls', sheet_name='PWQMN_2009_File_2_of_2')
pwqmn_rawdata_2009 = pd.concat([pwqmn_rawdata_2009_1, pwqmn_rawdata_2009_2], ignore_index=True)

In [6]:
pwqmn_rawdata_2010_1 = pd.read_excel('../../measurements/PWQMN/pwqmn_rawdata_2010.xls', sheet_name='PWQMN_2010_File_1_of_2')
pwqmn_rawdata_2010_2 = pd.read_excel('../../measurements/PWQMN/pwqmn_rawdata_2010.xls', sheet_name='PWQMN_2010_File 2_of_2')
pwqmn_rawdata_2010 = pd.concat([pwqmn_rawdata_2010_1, pwqmn_rawdata_2010_2], ignore_index=True)

In [7]:
pwqmn_rawdata_2011_1 = pd.read_excel('../../measurements/PWQMN/pwqmn_rawdata_2011.xls', sheet_name='PWQMN_2011_File_1_of_2')
pwqmn_rawdata_2011_2 = pd.read_excel('../../measurements/PWQMN/pwqmn_rawdata_2011.xls', sheet_name='PWQMN_2011_File_2_of_2')
pwqmn_rawdata_2011 = pd.concat([pwqmn_rawdata_2011_1, pwqmn_rawdata_2011_2], ignore_index=True)

In [8]:
pwqmn_rawdata_2012_1 = pd.read_excel('../../measurements/PWQMN/pwqmn_rawdata_2012.xls', sheet_name='PWQMN_2012data Sheet 1 of 2')
pwqmn_rawdata_2012_2 = pd.read_excel('../../measurements/PWQMN/pwqmn_rawdata_2012.xls', sheet_name='PWQMN_2012data Sheet 2 of 2')
pwqmn_rawdata_2012 = pd.concat([pwqmn_rawdata_2012_1, pwqmn_rawdata_2012_2], ignore_index=True)

In [9]:
pwqmn_rawdata_2013 = pd.read_excel('../../measurements/PWQMN/pwqmn_rawdata_2013.xlsx', sheet_name='PWQMN_2013_DATA')

In [10]:
pwqmn_rawdata_2014 = pd.read_excel('../../measurements/PWQMN/pwqmn_rawdata_2014.xlsx', sheet_name='PWQMN_2014_DATA')

In [11]:
pwqmn_rawdata_2015 = pd.read_excel('../../measurements/PWQMN/pwqmn_rawdata_2015.xlsx', sheet_name='PWQMN_2015_DATA')

In [294]:
pwqmn_rawdata_1996_1999 = pd.read_csv('../../measurements/PWQMN/pwqmn_rawdata_1996_1999.csv')
pwqmn_rawdata_1996_1999= pwqmn_rawdata_1996_1999.rename(columns={"PARAMETER": "PARM DESCRIPTION", 'RESULT_VALUE':'RESULT'}, index=str)

In [352]:
pwqmn_rawdata_1996_1999['STATION'] ==

         Unnamed: 0       STATION           TIME         RESULT
count  2.956360e+05  2.956360e+05  295636.000000  295636.000000
mean   2.416161e+06  1.147159e+10    1045.607047      63.535986
std    1.119485e+06  5.575627e+09     394.061465     250.078631
min    1.973010e+05  4.370000e+02       0.000000     -31.400000
25%    1.746008e+06  6.007602e+09     935.000000       0.070000
50%    2.039550e+06  1.200860e+10    1100.000000       2.700000
75%    3.549128e+06  1.700210e+10    1247.000000      30.200000
max    4.370805e+06  1.900640e+10    2355.000000   66000.000000

In [296]:
pwqmn_rawdata_2016 = pd.read_excel('../../measurements/PWQMN/pwqmn_rawdata_2016.xlsx', sheet_name='PWQMN_2016_DATA')

In [297]:
dfs = [pwqmn_rawdata_2016, pwqmn_rawdata_2015, pwqmn_rawdata_2014, 
       pwqmn_rawdata_2013, pwqmn_rawdata_2012, pwqmn_rawdata_2011, 
       pwqmn_rawdata_2010, pwqmn_rawdata_2009, pwqmn_rawdata_2008, 
       pwqmn_rawdata_2007, pwqmn_rawdata_2006, pwqmn_rawdata_2005,
      pwqmn_rawdata_2004, pwqmn_rawdata_2003, pwqmn_rawdata_2002,
      pwqmn_rawdata_2001, pwqmn_rawdata_2000, pwqmn_rawdata_1996_1999]

In [298]:
dfsn = []
for df in dfs:
    df['DATE'] = pd.to_datetime(df['DATE'], errors='coerce')
    for c in df.columns:
        df = df.rename(index=str, columns={c:c.replace("_", " ")})
    df.rename({"STATION NO":"STATION", "LIMS_R": 'LIMS RCODE', "FIELD_NO":"FIELD NO", "FIELDNO":"FIELD NO"}, inplace=True)
    dfsn.append(df)

In [299]:
pwqmn_rawdata = pd.concat(dfsn, ignore_index=True)

/Users/imarkelo/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [301]:
pwqmn_rawdata.columns

Index(['ABREVIATION', 'ANAL METH', 'ANALMETH', 'ANALMETHOD', 'DATE',
       'FIELD NO', 'FIELDNO', 'LIMS R', 'LIMS RCODE', 'PARAM CODE', 'PARM',
       'PARM DESCRIPTION', 'REMARK CODE', 'REMARK CODE1', 'RESULT', 'STATION',
       'STATION NO', 'TIME', 'UNITS', 'Unnamed: 0', 'VALQUALIFI',
       'VALUE QUALIFIER', 'VALUQUALIFI'],
      dtype='object')

In [248]:
pwqmn_rawdata.shape

(2023162, 25)

In [252]:
import os

# Talfourd Creek

In [346]:
river = 'Talfourd Creek'
station = 15000200202
elem = 'PHOSPHORUS,UNFILTERED TOTAL'
short_name = 'TP'
TP = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
# TP.columns = ['TP_'+str(col) for col in TP.columns]
TP.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TP

elem = 'PHOSPHATE,FILTERED REACTIVE'
PO4 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
PO4.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
PO4


elem = 'CHLORIDE,         UNFIL.REAC'
Cl = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Cl.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Cl

elem = 'SILICATES,UNFILTERED REACTIVE'
Si = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Si.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Si

elem = 'NITROGEN; TOTAL'
TN = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
TN.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TN

elem = 'NITRITE,  UNFILTERED REACTIVE'
NO2 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO2.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO2

elem = 'NITRATE,  UNFILTERED REACTIVE'
NO3 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3

elem = 'NITROGEN,TOT,KJELDAHL/UNF.REA'
NTK = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NTK.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NTK

elem = 'NITRATES TOTAL,   UNFIL.REAC'
NO3R = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3R.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3R


dfs = [PO4, TN, NO3, NO2, NTK, NO3R, Si, Cl]
for df in dfs:
    TP = pd.merge(TP, df, on='DATE', how='outer')
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] = TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] / 1000
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'UNITS PHOSPHORUS,UNFILTERED TOTAL'] = 'MILLIGRAM PER LITER'

directory = 'st_clair_river/'+river.lower().replace(" ", "_")+'/'

if not os.path.exists(directory):
    os.makedirs(directory)

TP.to_csv(directory+"PWQMN_"+river.lower().replace(" ", "_")+"_"+str(station)+'.csv')

In [347]:
river = 'Bear Creek'
station = 4002700802
elem = 'PHOSPHORUS,UNFILTERED TOTAL'
short_name = 'TP'
TP = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
# TP.columns = ['TP_'+str(col) for col in TP.columns]
TP.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TP

elem = 'PHOSPHATE,FILTERED REACTIVE'
PO4 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
PO4.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
PO4


elem = 'CHLORIDE,         UNFIL.REAC'
Cl = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Cl.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Cl

elem = 'SILICATES,UNFILTERED REACTIVE'
Si = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Si.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Si

elem = 'NITROGEN; TOTAL'
TN = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
TN.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TN

elem = 'NITRITE,  UNFILTERED REACTIVE'
NO2 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO2.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO2

elem = 'NITRATE,  UNFILTERED REACTIVE'
NO3 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3

elem = 'NITROGEN,TOT,KJELDAHL/UNF.REA'
NTK = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NTK.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NTK

elem = 'NITRATES TOTAL,   UNFIL.REAC'
NO3R = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3R.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3R


dfs = [PO4, TN, NO3, NO2, NTK, NO3R, Si, Cl]
for df in dfs:
    TP = pd.merge(TP, df, on='DATE', how='outer')
    
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] = TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] / 1000
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'UNITS PHOSPHORUS,UNFILTERED TOTAL'] = 'MILLIGRAM PER LITER'

directory = 'st_clair_river/'+river.lower().replace(" ", "_")+'/'

if not os.path.exists(directory):
    os.makedirs(directory)

TP.to_csv(directory+"PWQMN_"+river.lower().replace(" ", "_")+"_"+str(station)+'.csv')

In [348]:
river = 'Big Creek'
station = 4001303302
elem = 'PHOSPHORUS,UNFILTERED TOTAL'
short_name = 'TP'
TP = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
# TP.columns = ['TP_'+str(col) for col in TP.columns]
TP.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TP

elem = 'PHOSPHATE,FILTERED REACTIVE'
PO4 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
PO4.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
PO4


elem = 'CHLORIDE,         UNFIL.REAC'
Cl = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Cl.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Cl

elem = 'SILICATES,UNFILTERED REACTIVE'
Si = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Si.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Si

elem = 'NITROGEN; TOTAL'
TN = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
TN.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TN

elem = 'NITRITE,  UNFILTERED REACTIVE'
NO2 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO2.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO2

elem = 'NITRATE,  UNFILTERED REACTIVE'
NO3 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3

elem = 'NITROGEN,TOT,KJELDAHL/UNF.REA'
NTK = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NTK.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NTK

elem = 'NITRATES TOTAL,   UNFIL.REAC'
NO3R = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3R.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3R


dfs = [PO4, TN, NO3, NO2, NTK, NO3R, Si, Cl]
for df in dfs:
    TP = pd.merge(TP, df, on='DATE', how='outer')
    
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] = TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] / 1000
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'UNITS PHOSPHORUS,UNFILTERED TOTAL'] = 'MILLIGRAM PER LITER'

directory = 'lake_st_clair/'+river.lower().replace(" ", "_")+'/'

if not os.path.exists(directory):
    os.makedirs(directory)

TP.to_csv(directory+"PWQMN_"+river.lower().replace(" ", "_")+"_"+str(station)+'.csv')

In [349]:
river = 'Sydenham River'
station = 4002700183
elem = 'PHOSPHORUS,UNFILTERED TOTAL'
short_name = 'TP'
TP = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
# TP.columns = ['TP_'+str(col) for col in TP.columns]
TP.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TP

elem = 'PHOSPHATE,FILTERED REACTIVE'
PO4 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
PO4.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
PO4


elem = 'CHLORIDE,         UNFIL.REAC'
Cl = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Cl.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Cl

elem = 'SILICATES,UNFILTERED REACTIVE'
Si = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Si.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Si

elem = 'NITROGEN; TOTAL'
TN = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
TN.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TN

elem = 'NITRITE,  UNFILTERED REACTIVE'
NO2 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO2.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO2

elem = 'NITRATE,  UNFILTERED REACTIVE'
NO3 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3

elem = 'NITROGEN,TOT,KJELDAHL/UNF.REA'
NTK = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NTK.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NTK

elem = 'NITRATES TOTAL,   UNFIL.REAC'
NO3R = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3R.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3R


dfs = [PO4, TN, NO3, NO2, NTK, NO3R, Si, Cl]
for df in dfs:
    TP = pd.merge(TP, df, on='DATE', how='outer')
    
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] = TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] / 1000
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'UNITS PHOSPHORUS,UNFILTERED TOTAL'] = 'MILLIGRAM PER LITER'

directory = 'lake_st_clair/'+river.lower().replace(" ", "_")+'/'

if not os.path.exists(directory):
    os.makedirs(directory)

TP.to_csv(directory+"PWQMN_"+river.lower().replace(" ", "_")+"_"+str(station)+'.csv')

In [350]:
river = 'Sydenham River'
station = 4002701602
elem = 'PHOSPHORUS,UNFILTERED TOTAL'
short_name = 'TP'
TP = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
# TP.columns = ['TP_'+str(col) for col in TP.columns]
TP.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TP

elem = 'PHOSPHATE,FILTERED REACTIVE'
PO4 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
PO4.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
PO4


elem = 'CHLORIDE,         UNFIL.REAC'
Cl = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Cl.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Cl

elem = 'SILICATES,UNFILTERED REACTIVE'
Si = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Si.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Si

elem = 'NITROGEN; TOTAL'
TN = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
TN.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TN

elem = 'NITRITE,  UNFILTERED REACTIVE'
NO2 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO2.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO2

elem = 'NITRATE,  UNFILTERED REACTIVE'
NO3 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3

elem = 'NITROGEN,TOT,KJELDAHL/UNF.REA'
NTK = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NTK.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NTK

elem = 'NITRATES TOTAL,   UNFIL.REAC'
NO3R = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3R.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3R


dfs = [PO4, TN, NO3, NO2, NTK, NO3R, Si, Cl]
for df in dfs:
    TP = pd.merge(TP, df, on='DATE', how='outer')
    
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] = TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] / 1000
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'UNITS PHOSPHORUS,UNFILTERED TOTAL'] = 'MILLIGRAM PER LITER'

directory = 'lake_st_clair/'+river.lower().replace(" ", "_")+'/'

if not os.path.exists(directory):
    os.makedirs(directory)

TP.to_csv(directory+"PWQMN_"+river.lower().replace(" ", "_")+"_"+str(station)+'.csv')

In [312]:
river = 'Thames River'
station = 4001305802
elem = 'PHOSPHORUS,UNFILTERED TOTAL'
short_name = 'TP'
TP = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
# TP.columns = ['TP_'+str(col) for col in TP.columns]
TP.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TP

elem = 'PHOSPHATE,FILTERED REACTIVE'
PO4 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
PO4.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
PO4


elem = 'CHLORIDE,         UNFIL.REAC'
Cl = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Cl.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Cl

elem = 'SILICATES,UNFILTERED REACTIVE'
Si = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Si.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Si

elem = 'NITROGEN; TOTAL'
TN = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
TN.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TN

elem = 'NITRITE,  UNFILTERED REACTIVE'
NO2 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO2.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO2

elem = 'NITRATE,  UNFILTERED REACTIVE'
NO3 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3

elem = 'NITROGEN,TOT,KJELDAHL/UNF.REA'
NTK = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NTK.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NTK

elem = 'NITRATES TOTAL,   UNFIL.REAC'
NO3R = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3R.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3R


dfs = [PO4, TN, NO3, NO2, NTK, NO3R, Si, Cl]
for df in dfs:
    TP = pd.merge(TP, df, on='DATE', how='outer')

TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] = TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] / 1000
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'UNITS PHOSPHORUS,UNFILTERED TOTAL'] = 'MILLIGRAM PER LITER'

directory = 'lake_st_clair/'+river.lower().replace(" ", "_")+'/'

if not os.path.exists(directory):
    os.makedirs(directory)

TP.to_csv(directory+"PWQMN_"+river.lower().replace(" ", "_")+"_"+str(station)+'.csv')

In [313]:
river = 'Ruscom River'
station = 4001000302
elem = 'PHOSPHORUS,UNFILTERED TOTAL'
short_name = 'TP'
TP = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
# TP.columns = ['TP_'+str(col) for col in TP.columns]
TP.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TP

elem = 'PHOSPHATE,FILTERED REACTIVE'
PO4 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
PO4.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
PO4


elem = 'CHLORIDE,         UNFIL.REAC'
Cl = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Cl.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Cl

elem = 'SILICATES,UNFILTERED REACTIVE'
Si = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Si.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Si

elem = 'NITROGEN; TOTAL'
TN = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
TN.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TN

elem = 'NITRITE,  UNFILTERED REACTIVE'
NO2 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO2.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO2

elem = 'NITRATE,  UNFILTERED REACTIVE'
NO3 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3

elem = 'NITROGEN,TOT,KJELDAHL/UNF.REA'
NTK = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NTK.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NTK

elem = 'NITRATES TOTAL,   UNFIL.REAC'
NO3R = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3R.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3R


dfs = [PO4, TN, NO3, NO2, NTK, NO3R, Si, Cl]
for df in dfs:
    TP = pd.merge(TP, df, on='DATE', how='outer')

    
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] = TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] / 1000
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'UNITS PHOSPHORUS,UNFILTERED TOTAL'] = 'MILLIGRAM PER LITER' 

directory = 'lake_st_clair/'+river.lower().replace(" ", "_")+'/'

if not os.path.exists(directory):
    os.makedirs(directory)

TP.to_csv(directory+"PWQMN_"+river.lower().replace(" ", "_")+"_"+str(station)+'.csv')

In [314]:
river = 'Jeannettes Creek'
station = 4001311002
elem = 'PHOSPHORUS,UNFILTERED TOTAL'
short_name = 'TP'
TP = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
# TP.columns = ['TP_'+str(col) for col in TP.columns]
TP.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TP

elem = 'PHOSPHATE,FILTERED REACTIVE'
PO4 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
PO4.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
PO4


elem = 'CHLORIDE,         UNFIL.REAC'
Cl = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Cl.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Cl

elem = 'SILICATES,UNFILTERED REACTIVE'
Si = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Si.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Si

elem = 'NITROGEN; TOTAL'
TN = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
TN.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TN

elem = 'NITRITE,  UNFILTERED REACTIVE'
NO2 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO2.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO2

elem = 'NITRATE,  UNFILTERED REACTIVE'
NO3 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3

elem = 'NITROGEN,TOT,KJELDAHL/UNF.REA'
NTK = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NTK.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NTK

elem = 'NITRATES TOTAL,   UNFIL.REAC'
NO3R = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3R.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3R


dfs = [PO4, TN, NO3, NO2, NTK, NO3R, Si, Cl]
for df in dfs:
    TP = pd.merge(TP, df, on='DATE', how='outer')
# TP.insert(1,'STATION', station)
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] = TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] / 1000
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'UNITS PHOSPHORUS,UNFILTERED TOTAL'] = 'MILLIGRAM PER LITER'

directory = 'lake_st_clair/'+river.lower().replace(" ", "_")+'/'

if not os.path.exists(directory):
    os.makedirs(directory)

TP.to_csv(directory+"PWQMN_"+river.lower().replace(" ", "_")+"_"+str(station)+'.csv')

In [315]:
river = 'Big Creek'
station = 4001303302
elem = 'PHOSPHORUS,UNFILTERED TOTAL'
short_name = 'TP'
TP = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
# TP.columns = ['TP_'+str(col) for col in TP.columns]
TP.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TP

elem = 'PHOSPHATE,FILTERED REACTIVE'
PO4 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
PO4.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
PO4


elem = 'CHLORIDE,         UNFIL.REAC'
Cl = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Cl.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Cl

elem = 'SILICATES,UNFILTERED REACTIVE'
Si = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Si.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Si

elem = 'NITROGEN; TOTAL'
TN = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
TN.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TN

elem = 'NITRITE,  UNFILTERED REACTIVE'
NO2 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO2.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO2

elem = 'NITRATE,  UNFILTERED REACTIVE'
NO3 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3

elem = 'NITROGEN,TOT,KJELDAHL/UNF.REA'
NTK = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NTK.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NTK

elem = 'NITRATES TOTAL,   UNFIL.REAC'
NO3R = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3R.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3R


dfs = [PO4, TN, NO3, NO2, NTK, NO3R, Si, Cl]
for df in dfs:
    TP = pd.merge(TP, df, on='DATE', how='outer')
# TP.insert(1,'STATION', station)
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] = TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] / 1000
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'UNITS PHOSPHORUS,UNFILTERED TOTAL'] = 'MILLIGRAM PER LITER'

directory = 'lake_st_clair/'+river.lower().replace(" ", "_")+'/'

if not os.path.exists(directory):
    os.makedirs(directory)

TP.to_csv(directory+"PWQMN_"+river.lower().replace(" ", "_")+"_"+str(station)+'.csv')

In [316]:
river = 'Turkey Creek'
station = 10000100302
elem = 'PHOSPHORUS,UNFILTERED TOTAL'
short_name = 'TP'
TP = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
# TP.columns = ['TP_'+str(col) for col in TP.columns]
TP.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TP

elem = 'PHOSPHATE,FILTERED REACTIVE'
PO4 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
PO4.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
PO4


elem = 'CHLORIDE,         UNFIL.REAC'
Cl = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Cl.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Cl

elem = 'SILICATES,UNFILTERED REACTIVE'
Si = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Si.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Si

elem = 'NITROGEN; TOTAL'
TN = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
TN.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TN

elem = 'NITRITE,  UNFILTERED REACTIVE'
NO2 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO2.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO2

elem = 'NITRATE,  UNFILTERED REACTIVE'
NO3 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3

elem = 'NITROGEN,TOT,KJELDAHL/UNF.REA'
NTK = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NTK.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NTK

elem = 'NITRATES TOTAL,   UNFIL.REAC'
NO3R = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3R.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3R


dfs = [PO4, TN, NO3, NO2, NTK, NO3R, Si, Cl]
for df in dfs:
    TP = pd.merge(TP, df, on='DATE', how='outer')
# TP.insert(1,'STATION', station)
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] = TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] / 1000
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'UNITS PHOSPHORUS,UNFILTERED TOTAL'] = 'MILLIGRAM PER LITER'

directory = 'detroit_river/'+river.lower().replace(" ", "_")+'/'

if not os.path.exists(directory):
    os.makedirs(directory)

TP.to_csv(directory+"PWQMN_"+river.lower().replace(" ", "_")+"_"+str(station)+'.csv')

TP[TP.columns[1::2]].describe()

,"PHOSPHORUS,UNFILTERED TOTAL","PHOSPHATE,FILTERED REACTIVE",NITROGEN; TOTAL,"NITRATE, UNFILTERED REACTIVE","NITRITE, UNFILTERED REACTIVE","NITROGEN,TOT,KJELDAHL/UNF.REA","NITRATES TOTAL, UNFIL.REAC","SILICATES,UNFILTERED REACTIVE","CHLORIDE, UNFIL.REAC"
count,118.000000,115.000000,43.000000,0.0,117.000000,85.000000,116.000000,0.0,120.000000
mean,0.119897,0.035543,1.459535,NaN,0.052026,1.022353,0.978371,NaN,224.917500
std,0.081721,0.029863,0.584820,NaN,0.042185,0.517760,0.728053,NaN,233.834354
min,0.041000,0.003600,0.510000,NaN,0.003000,0.100000,0.005000,NaN,38.700000
25%,0.080500,0.018400,1.070000,NaN,0.030000,0.760000,0.636000,NaN,131.750000
50%,0.111000,0.031800,1.460000,NaN,0.042000,0.960000,0.887000,NaN,185.500000
75%,0.137250,0.040700,1.670000,NaN,0.060000,1.180000,1.190000,NaN,246.000000
max,0.836000,0.259000,3.300000,NaN,0.371000,4.200000,6.290000,NaN,2280.000000

In [317]:
river = 'Canard River'
station = 10000200202
elem = 'PHOSPHORUS,UNFILTERED TOTAL'
short_name = 'TP'
TP = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
# TP.columns = ['TP_'+str(col) for col in TP.columns]
TP.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TP

elem = 'PHOSPHATE,FILTERED REACTIVE'
PO4 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
PO4.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
PO4


elem = 'CHLORIDE,         UNFIL.REAC'
Cl = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Cl.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Cl

elem = 'SILICATES,UNFILTERED REACTIVE'
Si = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Si.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Si

elem = 'NITROGEN; TOTAL'
TN = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
TN.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TN

elem = 'NITRITE,  UNFILTERED REACTIVE'
NO2 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO2.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO2

elem = 'NITRATE,  UNFILTERED REACTIVE'
NO3 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3

elem = 'NITROGEN,TOT,KJELDAHL/UNF.REA'
NTK = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NTK.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NTK

elem = 'NITRATES TOTAL,   UNFIL.REAC'
NO3R = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3R.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3R


dfs = [PO4, TN, NO3, NO2, NTK, NO3R, Si, Cl]
for df in dfs:
    TP = pd.merge(TP, df, on='DATE', how='outer')
# TP.insert(1,'STATION', station)
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] = TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] / 1000
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'UNITS PHOSPHORUS,UNFILTERED TOTAL'] = 'MILLIGRAM PER LITER'

directory = 'detroit_river/'+river.lower().replace(" ", "_")+'/'

if not os.path.exists(directory):
    os.makedirs(directory)

TP.to_csv(directory+"PWQMN_"+river.lower().replace(" ", "_")+"_"+str(station)+'.csv')

TP[TP.columns[1::2]].describe()

,"PHOSPHORUS,UNFILTERED TOTAL","PHOSPHATE,FILTERED REACTIVE",NITROGEN; TOTAL,"NITRATE, UNFILTERED REACTIVE","NITRITE, UNFILTERED REACTIVE","NITROGEN,TOT,KJELDAHL/UNF.REA","NITRATES TOTAL, UNFIL.REAC","SILICATES,UNFILTERED REACTIVE","CHLORIDE, UNFIL.REAC"
count,114.000000,110.000000,40.000000,0.0,113.000000,86.000000,111.000000,0.0,115.000000
mean,0.150789,0.074206,1.851250,NaN,0.059292,1.225930,1.773586,NaN,161.667826
std,0.101414,0.063057,1.237388,NaN,0.087836,0.670926,2.430204,NaN,104.497256
min,0.011000,0.000500,0.440000,NaN,0.001000,0.270000,0.005000,NaN,12.600000
25%,0.078000,0.020025,0.830000,NaN,0.014000,0.845000,0.149500,NaN,82.200000
50%,0.143500,0.064300,1.635000,NaN,0.029000,1.095000,0.679000,NaN,129.000000
75%,0.192750,0.097425,2.480000,NaN,0.069000,1.420000,2.340000,NaN,199.000000
max,0.637000,0.299000,5.530000,NaN,0.725000,4.900000,11.000000,NaN,450.000000

In [318]:
river = 'Cedar Creek'
station = 16001800202
elem = 'PHOSPHORUS,UNFILTERED TOTAL'
short_name = 'TP'
TP = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
# TP.columns = ['TP_'+str(col) for col in TP.columns]
TP.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TP

elem = 'PHOSPHATE,FILTERED REACTIVE'
PO4 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
PO4.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
PO4


elem = 'CHLORIDE,         UNFIL.REAC'
Cl = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Cl.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Cl

elem = 'SILICATES,UNFILTERED REACTIVE'
Si = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Si.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Si

elem = 'NITROGEN; TOTAL'
TN = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
TN.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TN

elem = 'NITRITE,  UNFILTERED REACTIVE'
NO2 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO2.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO2

elem = 'NITRATE,  UNFILTERED REACTIVE'
NO3 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3

elem = 'NITROGEN,TOT,KJELDAHL/UNF.REA'
NTK = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NTK.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NTK

elem = 'NITRATES TOTAL,   UNFIL.REAC'
NO3R = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3R.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3R


dfs = [PO4, TN, NO3, NO2, NTK, NO3R, Si, Cl]
for df in dfs:
    TP = pd.merge(TP, df, on='DATE', how='outer')
# TP.insert(1,'STATION', station)
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] = TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] / 1000
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'UNITS PHOSPHORUS,UNFILTERED TOTAL'] = 'MILLIGRAM PER LITER'

directory = 'western_basin/'+river.lower().replace(" ", "_")+'/'

if not os.path.exists(directory):
    os.makedirs(directory)

TP.to_csv(directory+"PWQMN_"+river.lower().replace(" ", "_")+"_"+str(station)+'.csv')

TP[TP.columns[1::2]].describe()

,"PHOSPHORUS,UNFILTERED TOTAL","PHOSPHATE,FILTERED REACTIVE",NITROGEN; TOTAL,"NITRATE, UNFILTERED REACTIVE","NITRITE, UNFILTERED REACTIVE","NITROGEN,TOT,KJELDAHL/UNF.REA","NITRATES TOTAL, UNFIL.REAC","SILICATES,UNFILTERED REACTIVE","CHLORIDE, UNFIL.REAC"
count,115.000000,110.000000,42.000000,0.0,114.000000,86.000000,111.000000,0.0,120.000000
mean,0.135950,0.071447,1.578571,NaN,0.041873,1.072791,1.572369,NaN,74.123333
std,0.221117,0.200220,1.203006,NaN,0.057773,1.188311,3.314439,NaN,27.696181
min,0.014000,0.002700,0.530000,NaN,0.001000,0.320000,0.005000,NaN,14.900000
25%,0.073600,0.027850,0.712500,NaN,0.007500,0.680000,0.062500,NaN,59.325000
50%,0.102000,0.037500,1.275000,NaN,0.022500,0.825000,0.501000,NaN,71.050000
75%,0.130000,0.065975,2.180000,NaN,0.052250,1.095000,1.805000,NaN,90.125000
max,2.330000,2.100000,5.600000,NaN,0.381000,10.700000,29.000000,NaN,238.000000

In [319]:
river = 'Sturgeon River'
station = 16002700102
elem = 'PHOSPHORUS,UNFILTERED TOTAL'
short_name = 'TP'
TP = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
# TP.columns = ['TP_'+str(col) for col in TP.columns]
TP.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TP

elem = 'PHOSPHATE,FILTERED REACTIVE'
PO4 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
PO4.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
PO4


elem = 'CHLORIDE,         UNFIL.REAC'
Cl = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Cl.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Cl

elem = 'SILICATES,UNFILTERED REACTIVE'
Si = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Si.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Si

elem = 'NITROGEN; TOTAL'
TN = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
TN.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TN

elem = 'NITRITE,  UNFILTERED REACTIVE'
NO2 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO2.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO2

elem = 'NITRATE,  UNFILTERED REACTIVE'
NO3 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3

elem = 'NITROGEN,TOT,KJELDAHL/UNF.REA'
NTK = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NTK.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NTK

elem = 'NITRATES TOTAL,   UNFIL.REAC'
NO3R = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3R.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3R


dfs = [PO4, TN, NO3, NO2, NTK, NO3R, Si, Cl]
for df in dfs:
    TP = pd.merge(TP, df, on='DATE', how='outer')
# TP.insert(1,'STATION', station)
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] = TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] / 1000
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'UNITS PHOSPHORUS,UNFILTERED TOTAL'] = 'MILLIGRAM PER LITER'

directory = 'western_basin/'+river.lower().replace(" ", "_")+'/'

if not os.path.exists(directory):
    os.makedirs(directory)

TP.to_csv(directory+"PWQMN_"+river.lower().replace(" ", "_")+"_"+str(station)+'.csv')

TP[TP.columns[1::2]].describe()

,"PHOSPHORUS,UNFILTERED TOTAL","PHOSPHATE,FILTERED REACTIVE",NITROGEN; TOTAL,"NITRATE, UNFILTERED REACTIVE","NITRITE, UNFILTERED REACTIVE","NITROGEN,TOT,KJELDAHL/UNF.REA","NITRATES TOTAL, UNFIL.REAC","SILICATES,UNFILTERED REACTIVE","CHLORIDE, UNFIL.REAC"
count,143.000000,141.000000,42.000000,0.0,146.000000,113.000000,141.000000,0.0,152.000000
mean,4.285524,3.977851,27.400952,NaN,0.261247,1.169823,34.059504,NaN,101.061184
std,3.013736,2.910557,17.113244,NaN,0.166742,1.298854,23.014359,NaN,25.146437
min,0.020000,0.080000,7.000000,NaN,0.009000,0.020000,0.820000,NaN,44.600000
25%,2.360000,2.110000,13.675000,NaN,0.151750,0.690000,20.600000,NaN,86.100000
50%,3.900000,3.390000,21.550000,NaN,0.210000,0.900000,29.400000,NaN,95.500000
75%,5.000000,4.670000,40.700000,NaN,0.365750,1.000000,40.100000,NaN,120.000000
max,16.300000,17.000000,72.400000,NaN,1.300000,9.580000,125.000000,NaN,196.000000

In [320]:
river = 'Lebo Drain'
station = 16003000302
elem = 'PHOSPHORUS,UNFILTERED TOTAL'
short_name = 'TP'
TP = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
# TP.columns = ['TP_'+str(col) for col in TP.columns]
TP.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TP

elem = 'PHOSPHATE,FILTERED REACTIVE'
PO4 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
PO4.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
PO4


elem = 'CHLORIDE,         UNFIL.REAC'
Cl = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Cl.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Cl

elem = 'SILICATES,UNFILTERED REACTIVE'
Si = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Si.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Si

elem = 'NITROGEN; TOTAL'
TN = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
TN.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TN

elem = 'NITRITE,  UNFILTERED REACTIVE'
NO2 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO2.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO2

elem = 'NITRATE,  UNFILTERED REACTIVE'
NO3 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3

elem = 'NITROGEN,TOT,KJELDAHL/UNF.REA'
NTK = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NTK.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NTK

elem = 'NITRATES TOTAL,   UNFIL.REAC'
NO3R = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3R.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3R


dfs = [PO4, TN, NO3, NO2, NTK, NO3R, Si, Cl]
for df in dfs:
    TP = pd.merge(TP, df, on='DATE', how='outer')
# TP.insert(1,'STATION', station)
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] = TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] / 1000
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'UNITS PHOSPHORUS,UNFILTERED TOTAL'] = 'MILLIGRAM PER LITER'

directory = 'central_basin/'+river.lower().replace(" ", "_")+'/'

if not os.path.exists(directory):
    os.makedirs(directory)

TP.to_csv(directory+"PWQMN_"+river.lower().replace(" ", "_")+"_"+str(station)+'.csv')

TP[TP.columns[1::2]].describe()

,"PHOSPHORUS,UNFILTERED TOTAL","PHOSPHATE,FILTERED REACTIVE",NITROGEN; TOTAL,"NITRATE, UNFILTERED REACTIVE","NITRITE, UNFILTERED REACTIVE","NITROGEN,TOT,KJELDAHL/UNF.REA","NITRATES TOTAL, UNFIL.REAC","SILICATES,UNFILTERED REACTIVE","CHLORIDE, UNFIL.REAC"
count,142.000000,140.000000,42.000000,0.0,143.000000,109.000000,141.000000,0.0,148.000000
mean,2.470380,2.066779,18.796429,NaN,0.144755,1.186972,19.961489,NaN,54.085811
std,2.631366,1.515188,9.711979,NaN,0.109257,0.786719,14.322511,NaN,16.795359
min,0.100000,0.043000,6.910000,NaN,0.029000,0.050000,1.940000,NaN,23.500000
25%,1.045000,0.997500,12.800000,NaN,0.089500,0.940000,12.300000,NaN,37.400000
50%,1.875000,1.655000,15.900000,NaN,0.093000,0.980000,13.200000,NaN,53.600000
75%,3.095000,2.785000,22.600000,NaN,0.172000,1.170000,22.900000,NaN,66.200000
max,26.500000,8.570000,41.700000,NaN,0.723000,5.250000,93.600000,NaN,115.000000

In [321]:
river = 'Muddy Creek'
station = 16003200102
elem = 'PHOSPHORUS,UNFILTERED TOTAL'
short_name = 'TP'
TP = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
# TP.columns = ['TP_'+str(col) for col in TP.columns]
TP.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TP

elem = 'PHOSPHATE,FILTERED REACTIVE'
PO4 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
PO4.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
PO4


elem = 'CHLORIDE,         UNFIL.REAC'
Cl = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Cl.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Cl

elem = 'SILICATES,UNFILTERED REACTIVE'
Si = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Si.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Si

elem = 'NITROGEN; TOTAL'
TN = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
TN.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TN

elem = 'NITRITE,  UNFILTERED REACTIVE'
NO2 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO2.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO2

elem = 'NITRATE,  UNFILTERED REACTIVE'
NO3 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3

elem = 'NITROGEN,TOT,KJELDAHL/UNF.REA'
NTK = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NTK.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NTK

elem = 'NITRATES TOTAL,   UNFIL.REAC'
NO3R = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3R.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3R


dfs = [PO4, TN, NO3, NO2, NTK, NO3R, Si, Cl]
for df in dfs:
    TP = pd.merge(TP, df, on='DATE', how='outer')
# TP.insert(1,'STATION', station)
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] = TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] / 1000
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'UNITS PHOSPHORUS,UNFILTERED TOTAL'] = 'MILLIGRAM PER LITER'

directory = 'central_basin/'+river.lower().replace(" ", "_")+'/'

if not os.path.exists(directory):
    os.makedirs(directory)

TP.to_csv(directory+"PWQMN_"+river.lower().replace(" ", "_")+"_"+str(station)+'.csv')

TP[TP.columns[1::2]].describe()

,"PHOSPHORUS,UNFILTERED TOTAL","PHOSPHATE,FILTERED REACTIVE",NITROGEN; TOTAL,"NITRATE, UNFILTERED REACTIVE","NITRITE, UNFILTERED REACTIVE","NITROGEN,TOT,KJELDAHL/UNF.REA","NITRATES TOTAL, UNFIL.REAC","SILICATES,UNFILTERED REACTIVE","CHLORIDE, UNFIL.REAC"
count,129.000000,125.000000,43.000000,0.0,130.000000,97.000000,127.000000,0.0,135.000000
mean,0.487110,0.313897,1.677209,NaN,0.106908,2.410000,1.789969,NaN,37.318519
std,0.444154,0.389278,1.303456,NaN,0.116381,7.989983,1.844263,NaN,16.938110
min,0.085800,0.023800,0.460000,NaN,0.011000,0.200000,0.021000,NaN,14.200000
25%,0.258000,0.138000,0.775000,NaN,0.035500,1.230000,0.495000,NaN,26.300000
50%,0.400000,0.200000,1.110000,NaN,0.095500,1.780000,1.350000,NaN,33.700000
75%,0.485000,0.286000,2.050000,NaN,0.143000,1.840000,1.945000,NaN,52.200000
max,3.120000,3.000000,5.790000,NaN,1.110000,80.000000,11.000000,NaN,142.000000

In [322]:
river = 'Sixteen Mile Creek'
station = 16006300202
elem = 'PHOSPHORUS,UNFILTERED TOTAL'
short_name = 'TP'
TP = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
# TP.columns = ['TP_'+str(col) for col in TP.columns]
TP.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TP

elem = 'PHOSPHATE,FILTERED REACTIVE'
PO4 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
PO4.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
PO4


elem = 'CHLORIDE,         UNFIL.REAC'
Cl = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Cl.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Cl

elem = 'SILICATES,UNFILTERED REACTIVE'
Si = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Si.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Si

elem = 'NITROGEN; TOTAL'
TN = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
TN.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TN

elem = 'NITRITE,  UNFILTERED REACTIVE'
NO2 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO2.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO2

elem = 'NITRATE,  UNFILTERED REACTIVE'
NO3 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3

elem = 'NITROGEN,TOT,KJELDAHL/UNF.REA'
NTK = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NTK.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NTK

elem = 'NITRATES TOTAL,   UNFIL.REAC'
NO3R = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3R.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3R


dfs = [PO4, TN, NO3, NO2, NTK, NO3R, Si, Cl]
for df in dfs:
    TP = pd.merge(TP, df, on='DATE', how='outer')
# TP.insert(1,'STATION', station)
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] = TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] / 1000
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'UNITS PHOSPHORUS,UNFILTERED TOTAL'] = 'MILLIGRAM PER LITER'

directory = 'central_basin/'+river.lower().replace(" ", "_")+'/'

if not os.path.exists(directory):
    os.makedirs(directory)

TP.to_csv(directory+"PWQMN_"+river.lower().replace(" ", "_")+"_"+str(station)+'.csv')

TP[TP.columns[1::2]].describe()

,"PHOSPHORUS,UNFILTERED TOTAL","PHOSPHATE,FILTERED REACTIVE",NITROGEN; TOTAL,"NITRATE, UNFILTERED REACTIVE","NITRITE, UNFILTERED REACTIVE","NITROGEN,TOT,KJELDAHL/UNF.REA","NITRATES TOTAL, UNFIL.REAC","SILICATES,UNFILTERED REACTIVE","CHLORIDE, UNFIL.REAC"
count,68.000000,65.000000,20.000000,0.0,66.000000,54.000000,64.000000,0.0,69.000000
mean,0.078051,0.021135,5.526500,NaN,0.028682,0.729907,4.195938,NaN,44.765217
std,0.079681,0.018573,2.000632,NaN,0.020477,0.333990,1.728039,NaN,11.818938
min,0.016000,0.000500,3.180000,NaN,0.001000,0.280000,1.160000,NaN,21.200000
25%,0.032250,0.007900,3.857500,NaN,0.016000,0.570000,3.000000,NaN,37.200000
50%,0.060000,0.016300,5.540000,NaN,0.026000,0.645000,3.795000,NaN,42.500000
75%,0.103250,0.029100,6.737500,NaN,0.036000,0.773750,4.900000,NaN,53.400000
max,0.585000,0.083600,11.700000,NaN,0.108000,2.390000,10.000000,NaN,78.700000

In [323]:
river = 'Dutton Drain'
station = 16007200102
elem = 'PHOSPHORUS,UNFILTERED TOTAL'
short_name = 'TP'
TP = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
# TP.columns = ['TP_'+str(col) for col in TP.columns]
TP.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TP

elem = 'PHOSPHATE,FILTERED REACTIVE'
PO4 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
PO4.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
PO4


elem = 'CHLORIDE,         UNFIL.REAC'
Cl = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Cl.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Cl

elem = 'SILICATES,UNFILTERED REACTIVE'
Si = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Si.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Si

elem = 'NITROGEN; TOTAL'
TN = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
TN.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TN

elem = 'NITRITE,  UNFILTERED REACTIVE'
NO2 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO2.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO2

elem = 'NITRATE,  UNFILTERED REACTIVE'
NO3 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3

elem = 'NITROGEN,TOT,KJELDAHL/UNF.REA'
NTK = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NTK.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NTK

elem = 'NITRATES TOTAL,   UNFIL.REAC'
NO3R = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3R.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3R


dfs = [PO4, TN, NO3, NO2, NTK, NO3R, Si, Cl]
for df in dfs:
    TP = pd.merge(TP, df, on='DATE', how='outer')
# TP.insert(1,'STATION', station)
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] = TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] / 1000
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'UNITS PHOSPHORUS,UNFILTERED TOTAL'] = 'MILLIGRAM PER LITER'

directory = 'central_basin/'+river.lower().replace(" ", "_")+'/'

if not os.path.exists(directory):
    os.makedirs(directory)

TP.to_csv(directory+"PWQMN_"+river.lower().replace(" ", "_")+"_"+str(station)+'.csv')

TP[TP.columns[1::2]].describe()

,"PHOSPHORUS,UNFILTERED TOTAL","PHOSPHATE,FILTERED REACTIVE",NITROGEN; TOTAL,"NITRATE, UNFILTERED REACTIVE","NITRITE, UNFILTERED REACTIVE","NITROGEN,TOT,KJELDAHL/UNF.REA","NITRATES TOTAL, UNFIL.REAC","SILICATES,UNFILTERED REACTIVE","CHLORIDE, UNFIL.REAC"
count,105.000000,98.000000,42.000000,0.0,103.000000,75.000000,100.000000,56.000000,106.000000
mean,0.136642,0.072803,10.815952,NaN,0.076049,1.209200,8.469410,2.127143,104.878302
std,0.127385,0.096626,5.605486,NaN,0.071466,0.576578,4.305258,1.176543,49.391528
min,0.025000,0.003400,4.090000,NaN,0.006000,0.460000,0.101000,0.020000,17.200000
25%,0.064000,0.021050,7.155000,NaN,0.032000,0.875000,5.755000,1.235000,60.125000
50%,0.095000,0.046400,8.830000,NaN,0.050000,1.010000,7.265000,1.870000,102.000000
75%,0.166000,0.079975,12.900000,NaN,0.089500,1.345000,10.100000,3.060000,142.000000
max,0.852000,0.714000,24.500000,NaN,0.440000,3.420000,21.900000,4.580000,234.000000

In [324]:
river = 'Kettle Creek'
station = 16008701002
elem = 'PHOSPHORUS,UNFILTERED TOTAL'
short_name = 'TP'
TP = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
# TP.columns = ['TP_'+str(col) for col in TP.columns]
TP.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TP

elem = 'PHOSPHATE,FILTERED REACTIVE'
PO4 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
PO4.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
PO4


elem = 'CHLORIDE,         UNFIL.REAC'
Cl = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Cl.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Cl

elem = 'SILICATES,UNFILTERED REACTIVE'
Si = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Si.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Si

elem = 'NITROGEN; TOTAL'
TN = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
TN.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TN

elem = 'NITRITE,  UNFILTERED REACTIVE'
NO2 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO2.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO2

elem = 'NITRATE,  UNFILTERED REACTIVE'
NO3 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3

elem = 'NITROGEN,TOT,KJELDAHL/UNF.REA'
NTK = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NTK.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NTK

elem = 'NITRATES TOTAL,   UNFIL.REAC'
NO3R = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3R.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3R


dfs = [PO4, TN, NO3, NO2, NTK, NO3R, Si, Cl]
for df in dfs:
    TP = pd.merge(TP, df, on='DATE', how='outer')
# TP.insert(1,'STATION', station)
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] = TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] / 1000
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'UNITS PHOSPHORUS,UNFILTERED TOTAL'] = 'MILLIGRAM PER LITER'

directory = 'central_basin/'+river.lower().replace(" ", "_")+'/'

if not os.path.exists(directory):
    os.makedirs(directory)

TP.to_csv(directory+"PWQMN_"+river.lower().replace(" ", "_")+"_"+str(station)+'.csv')

TP[TP.columns[1::2]].describe()

,"PHOSPHORUS,UNFILTERED TOTAL","PHOSPHATE,FILTERED REACTIVE",NITROGEN; TOTAL,"NITRATE, UNFILTERED REACTIVE","NITRITE, UNFILTERED REACTIVE","NITROGEN,TOT,KJELDAHL/UNF.REA","NITRATES TOTAL, UNFIL.REAC","SILICATES,UNFILTERED REACTIVE","CHLORIDE, UNFIL.REAC"
count,87.000000,84.000000,28.000000,0.0,88.000000,70.000000,87.000000,0.0,90.000000
mean,0.187080,0.090776,5.921429,NaN,0.053727,0.954786,5.626897,NaN,71.965556
std,0.121539,0.060919,1.702499,NaN,0.041250,0.523413,2.206825,NaN,20.667861
min,0.028000,0.007000,3.300000,NaN,0.012000,0.050000,1.020000,NaN,24.500000
25%,0.117500,0.043750,4.760000,NaN,0.028000,0.700000,4.345000,NaN,58.350000
50%,0.171000,0.087450,5.655000,NaN,0.044500,0.800000,5.200000,NaN,70.750000
75%,0.226000,0.125500,6.557500,NaN,0.062250,1.000000,6.735000,NaN,87.350000
max,0.925000,0.313000,9.420000,NaN,0.220000,3.120000,11.600000,NaN,126.000000

In [325]:
river = 'Beaver Creek'
station = 16008700602
elem = 'PHOSPHORUS,UNFILTERED TOTAL'
short_name = 'TP'
TP = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
# TP.columns = ['TP_'+str(col) for col in TP.columns]
TP.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TP

elem = 'PHOSPHATE,FILTERED REACTIVE'
PO4 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
PO4.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
PO4


elem = 'CHLORIDE,         UNFIL.REAC'
Cl = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Cl.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Cl

elem = 'SILICATES,UNFILTERED REACTIVE'
Si = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Si.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Si

elem = 'NITROGEN; TOTAL'
TN = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
TN.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TN

elem = 'NITRITE,  UNFILTERED REACTIVE'
NO2 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO2.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO2

elem = 'NITRATE,  UNFILTERED REACTIVE'
NO3 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3

elem = 'NITROGEN,TOT,KJELDAHL/UNF.REA'
NTK = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NTK.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NTK

elem = 'NITRATES TOTAL,   UNFIL.REAC'
NO3R = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3R.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3R


dfs = [PO4, TN, NO3, NO2, NTK, NO3R, Si, Cl]
for df in dfs:
    TP = pd.merge(TP, df, on='DATE', how='outer')
# TP.insert(1,'STATION', station)
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] = TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] / 1000
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'UNITS PHOSPHORUS,UNFILTERED TOTAL'] = 'MILLIGRAM PER LITER'

directory = 'central_basin/'+river.lower().replace(" ", "_")+'/'

if not os.path.exists(directory):
    os.makedirs(directory)

TP.to_csv(directory+"PWQMN_"+river.lower().replace(" ", "_")+"_"+str(station)+'.csv')

TP[TP.columns[1::2]].describe()

,"PHOSPHORUS,UNFILTERED TOTAL","PHOSPHATE,FILTERED REACTIVE",NITROGEN; TOTAL,"NITRATE, UNFILTERED REACTIVE","NITRITE, UNFILTERED REACTIVE","NITROGEN,TOT,KJELDAHL/UNF.REA","NITRATES TOTAL, UNFIL.REAC","SILICATES,UNFILTERED REACTIVE","CHLORIDE, UNFIL.REAC"
count,88.000000,86.000000,29.000000,0.0,89.000000,68.000000,88.000000,0.0,91.000000
mean,0.063659,0.014344,1.710345,NaN,0.047966,0.815441,1.786284,NaN,35.237363
std,0.040461,0.013147,0.827270,NaN,0.026453,0.268747,1.011693,NaN,9.498850
min,0.025000,0.000500,0.790000,NaN,0.016000,0.180000,0.448000,NaN,24.100000
25%,0.042000,0.005425,1.160000,NaN,0.032000,0.687500,1.010000,NaN,30.000000
50%,0.052000,0.009650,1.580000,NaN,0.040000,0.775000,1.545000,NaN,33.600000
75%,0.072000,0.018475,1.800000,NaN,0.053000,0.957500,2.255000,NaN,37.800000
max,0.308000,0.070700,4.000000,NaN,0.188000,1.640000,4.600000,NaN,90.100000

In [326]:
river = 'Catfish Creek'
station = 16009700802
elem = 'PHOSPHORUS,UNFILTERED TOTAL'
short_name = 'TP'
TP = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
# TP.columns = ['TP_'+str(col) for col in TP.columns]
TP.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TP

elem = 'PHOSPHATE,FILTERED REACTIVE'
PO4 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
PO4.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
PO4


elem = 'CHLORIDE,         UNFIL.REAC'
Cl = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Cl.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Cl

elem = 'SILICATES,UNFILTERED REACTIVE'
Si = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Si.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Si

elem = 'NITROGEN; TOTAL'
TN = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
TN.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TN

elem = 'NITRITE,  UNFILTERED REACTIVE'
NO2 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO2.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO2

elem = 'NITRATE,  UNFILTERED REACTIVE'
NO3 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3

elem = 'NITROGEN,TOT,KJELDAHL/UNF.REA'
NTK = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NTK.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NTK

elem = 'NITRATES TOTAL,   UNFIL.REAC'
NO3R = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3R.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3R


dfs = [PO4, TN, NO3, NO2, NTK, NO3R, Si, Cl]
for df in dfs:
    TP = pd.merge(TP, df, on='DATE', how='outer')
# TP.insert(1,'STATION', station)
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] = TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] / 1000
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'UNITS PHOSPHORUS,UNFILTERED TOTAL'] = 'MILLIGRAM PER LITER'

directory = 'central_basin/'+river.lower().replace(" ", "_")+'/'

if not os.path.exists(directory):
    os.makedirs(directory)

TP.to_csv(directory+"PWQMN_"+river.lower().replace(" ", "_")+"_"+str(station)+'.csv')

TP[TP.columns[1::2]].describe()

,"PHOSPHORUS,UNFILTERED TOTAL","PHOSPHATE,FILTERED REACTIVE",NITROGEN; TOTAL,"NITRATE, UNFILTERED REACTIVE","NITRITE, UNFILTERED REACTIVE","NITROGEN,TOT,KJELDAHL/UNF.REA","NITRATES TOTAL, UNFIL.REAC","SILICATES,UNFILTERED REACTIVE","CHLORIDE, UNFIL.REAC"
count,21.000000,19.000000,0.0,0.0,20.000000,21.000000,20.000000,0.0,21.000000
mean,0.152048,0.015463,NaN,NaN,0.031950,0.844286,2.669100,NaN,33.852381
std,0.208066,0.023688,NaN,NaN,0.044924,0.533784,2.983238,NaN,8.170595
min,0.021000,0.000500,NaN,NaN,0.001000,0.430000,0.005000,NaN,18.200000
25%,0.061000,0.003200,NaN,NaN,0.008750,0.530000,1.005250,NaN,30.800000
50%,0.075000,0.004800,NaN,NaN,0.018500,0.610000,1.485000,NaN,33.000000
75%,0.107000,0.016650,NaN,NaN,0.030250,0.770000,3.727500,NaN,34.500000
max,0.739000,0.089000,NaN,NaN,0.197000,2.390000,13.400000,NaN,58.100000

In [327]:
river = 'Silver Creek'
station = 16009900102
elem = 'PHOSPHORUS,UNFILTERED TOTAL'
short_name = 'TP'
TP = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
# TP.columns = ['TP_'+str(col) for col in TP.columns]
TP.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TP

elem = 'PHOSPHATE,FILTERED REACTIVE'
PO4 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
PO4.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
PO4


elem = 'CHLORIDE,         UNFIL.REAC'
Cl = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Cl.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Cl

elem = 'SILICATES,UNFILTERED REACTIVE'
Si = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Si.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Si

elem = 'NITROGEN; TOTAL'
TN = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
TN.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TN

elem = 'NITRITE,  UNFILTERED REACTIVE'
NO2 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO2.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO2

elem = 'NITRATE,  UNFILTERED REACTIVE'
NO3 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3

elem = 'NITROGEN,TOT,KJELDAHL/UNF.REA'
NTK = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NTK.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NTK

elem = 'NITRATES TOTAL,   UNFIL.REAC'
NO3R = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3R.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3R


dfs = [PO4, TN, NO3, NO2, NTK, NO3R, Si, Cl]
for df in dfs:
    TP = pd.merge(TP, df, on='DATE', how='outer')
# TP.insert(1,'STATION', station)
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] = TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] / 1000
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'UNITS PHOSPHORUS,UNFILTERED TOTAL'] = 'MILLIGRAM PER LITER'

directory = 'central_basin/'+river.lower().replace(" ", "_")+'/'

if not os.path.exists(directory):
    os.makedirs(directory)

TP.to_csv(directory+"PWQMN_"+river.lower().replace(" ", "_")+"_"+str(station)+'.csv')

TP[TP.columns[1::2]].describe()

,"PHOSPHORUS,UNFILTERED TOTAL","PHOSPHATE,FILTERED REACTIVE",NITROGEN; TOTAL,"NITRATE, UNFILTERED REACTIVE","NITRITE, UNFILTERED REACTIVE","NITROGEN,TOT,KJELDAHL/UNF.REA","NITRATES TOTAL, UNFIL.REAC","SILICATES,UNFILTERED REACTIVE","CHLORIDE, UNFIL.REAC"
count,21.000000,20.000000,0.0,0.0,20.000000,21.000000,20.000000,0.0,21.000000
mean,0.109619,0.029940,NaN,NaN,0.021300,0.559048,2.444000,NaN,21.647619
std,0.112641,0.017332,NaN,NaN,0.008694,0.253494,0.587917,NaN,2.736900
min,0.020000,0.001300,NaN,NaN,0.010000,0.280000,1.480000,NaN,17.300000
25%,0.054000,0.023825,NaN,NaN,0.015000,0.400000,2.170000,NaN,20.400000
50%,0.075000,0.030450,NaN,NaN,0.020500,0.460000,2.365000,NaN,21.500000
75%,0.100000,0.035875,NaN,NaN,0.023750,0.580000,2.532500,NaN,22.900000
max,0.475000,0.085300,NaN,NaN,0.044000,1.290000,3.870000,NaN,30.000000

In [328]:
river = 'Big Otter Creek'
station = 16010900102
elem = 'PHOSPHORUS,UNFILTERED TOTAL'
short_name = 'TP'
TP = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
# TP.columns = ['TP_'+str(col) for col in TP.columns]
TP.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TP

elem = 'PHOSPHATE,FILTERED REACTIVE'
PO4 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
PO4.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
PO4


elem = 'CHLORIDE,         UNFIL.REAC'
Cl = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Cl.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Cl

elem = 'SILICATES,UNFILTERED REACTIVE'
Si = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Si.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Si

elem = 'NITROGEN; TOTAL'
TN = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
TN.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TN

elem = 'NITRITE,  UNFILTERED REACTIVE'
NO2 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO2.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO2

elem = 'NITRATE,  UNFILTERED REACTIVE'
NO3 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3

elem = 'NITROGEN,TOT,KJELDAHL/UNF.REA'
NTK = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NTK.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NTK

elem = 'NITRATES TOTAL,   UNFIL.REAC'
NO3R = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3R.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3R


dfs = [PO4, TN, NO3, NO2, NTK, NO3R, Si, Cl]
for df in dfs:
    TP = pd.merge(TP, df, on='DATE', how='outer')
# TP.insert(1,'STATION', station)
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] = TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] / 1000
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'UNITS PHOSPHORUS,UNFILTERED TOTAL'] = 'MILLIGRAM PER LITER'

directory = 'central_basin/'+river.lower().replace(" ", "_")+'/'

if not os.path.exists(directory):
    os.makedirs(directory)

TP.to_csv(directory+"PWQMN_"+river.lower().replace(" ", "_")+"_"+str(station)+'.csv')

TP[TP.columns[1::2]].describe()

,"PHOSPHORUS,UNFILTERED TOTAL","PHOSPHATE,FILTERED REACTIVE",NITROGEN; TOTAL,"NITRATE, UNFILTERED REACTIVE","NITRITE, UNFILTERED REACTIVE","NITROGEN,TOT,KJELDAHL/UNF.REA","NITRATES TOTAL, UNFIL.REAC","SILICATES,UNFILTERED REACTIVE","CHLORIDE, UNFIL.REAC"
count,6.400000e+01,6.400000e+01,0.0,0.0,6.400000e+01,6.400000e+01,6.400000e+01,0.0,64.0
mean,5.400000e-02,3.000000e-03,NaN,NaN,1.400000e-02,5.600000e-01,2.740000e+00,NaN,29.0
std,4.895623e-17,1.748437e-18,NaN,NaN,1.049062e-17,2.237999e-16,8.951997e-16,NaN,0.0
min,5.400000e-02,3.000000e-03,NaN,NaN,1.400000e-02,5.600000e-01,2.740000e+00,NaN,29.0
25%,5.400000e-02,3.000000e-03,NaN,NaN,1.400000e-02,5.600000e-01,2.740000e+00,NaN,29.0
50%,5.400000e-02,3.000000e-03,NaN,NaN,1.400000e-02,5.600000e-01,2.740000e+00,NaN,29.0
75%,5.400000e-02,3.000000e-03,NaN,NaN,1.400000e-02,5.600000e-01,2.740000e+00,NaN,29.0
max,5.400000e-02,3.000000e-03,NaN,NaN,1.400000e-02,5.600000e-01,2.740000e+00,NaN,29.0

In [329]:
river = 'Big Otter Creek'
station = 16010900802
elem = 'PHOSPHORUS,UNFILTERED TOTAL'
short_name = 'TP'
TP = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
# TP.columns = ['TP_'+str(col) for col in TP.columns]
TP.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TP

elem = 'PHOSPHATE,FILTERED REACTIVE'
PO4 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
PO4.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
PO4


elem = 'CHLORIDE,         UNFIL.REAC'
Cl = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Cl.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Cl

elem = 'SILICATES,UNFILTERED REACTIVE'
Si = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Si.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Si

elem = 'NITROGEN; TOTAL'
TN = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
TN.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TN

elem = 'NITRITE,  UNFILTERED REACTIVE'
NO2 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO2.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO2

elem = 'NITRATE,  UNFILTERED REACTIVE'
NO3 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3

elem = 'NITROGEN,TOT,KJELDAHL/UNF.REA'
NTK = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NTK.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NTK

elem = 'NITRATES TOTAL,   UNFIL.REAC'
NO3R = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3R.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3R


dfs = [PO4, TN, NO3, NO2, NTK, NO3R, Si, Cl]
for df in dfs:
    TP = pd.merge(TP, df, on='DATE', how='outer')
# TP.insert(1,'STATION', station)
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] = TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] / 1000
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'UNITS PHOSPHORUS,UNFILTERED TOTAL'] = 'MILLIGRAM PER LITER'

directory = 'central_basin/'+river.lower().replace(" ", "_")+'/'

if not os.path.exists(directory):
    os.makedirs(directory)

TP.to_csv(directory+"PWQMN_"+river.lower().replace(" ", "_")+"_"+str(station)+'.csv')

TP[TP.columns[1::2]].describe()

,"PHOSPHORUS,UNFILTERED TOTAL","PHOSPHATE,FILTERED REACTIVE",NITROGEN; TOTAL,"NITRATE, UNFILTERED REACTIVE","NITRITE, UNFILTERED REACTIVE","NITROGEN,TOT,KJELDAHL/UNF.REA","NITRATES TOTAL, UNFIL.REAC","SILICATES,UNFILTERED REACTIVE","CHLORIDE, UNFIL.REAC"
count,120.000000,120.000000,38.000000,0.0,120.000000,96.000000,119.000000,88.000000,121.000000
mean,0.121203,0.026568,4.049737,NaN,0.028408,0.756927,3.733613,3.433182,30.919008
std,0.197505,0.039123,0.894435,NaN,0.024637,0.527539,0.940687,0.733813,4.813545
min,0.002000,0.000500,2.860000,NaN,0.007000,0.020000,2.450000,1.760000,15.700000
25%,0.036900,0.009275,3.542500,NaN,0.015000,0.465000,3.085000,2.815000,28.400000
50%,0.060000,0.015250,3.670000,NaN,0.022000,0.610000,3.490000,3.600000,31.200000
75%,0.118750,0.026925,4.700000,NaN,0.032250,0.852500,4.275000,4.040000,34.000000
max,1.450000,0.349000,6.480000,NaN,0.178000,3.300000,7.740000,4.600000,39.600000

In [330]:
river = 'Big Creek'
station = 16012401102
elem = 'PHOSPHORUS,UNFILTERED TOTAL'
short_name = 'TP'
TP = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
# TP.columns = ['TP_'+str(col) for col in TP.columns]
TP.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TP

elem = 'PHOSPHATE,FILTERED REACTIVE'
PO4 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
PO4.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
PO4


elem = 'CHLORIDE,         UNFIL.REAC'
Cl = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Cl.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Cl

elem = 'SILICATES,UNFILTERED REACTIVE'
Si = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Si.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Si

elem = 'NITROGEN; TOTAL'
TN = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
TN.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TN

elem = 'NITRITE,  UNFILTERED REACTIVE'
NO2 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO2.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO2

elem = 'NITRATE,  UNFILTERED REACTIVE'
NO3 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3

elem = 'NITROGEN,TOT,KJELDAHL/UNF.REA'
NTK = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NTK.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NTK

elem = 'NITRATES TOTAL,   UNFIL.REAC'
NO3R = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3R.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3R


dfs = [PO4, TN, NO3, NO2, NTK, NO3R, Si, Cl]
for df in dfs:
    TP = pd.merge(TP, df, on='DATE', how='outer')
# TP.insert(1,'STATION', station)
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] = TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] / 1000
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'UNITS PHOSPHORUS,UNFILTERED TOTAL'] = 'MILLIGRAM PER LITER'

directory = 'eastern_basin/'+river.lower().replace(" ", "_")+'/'

if not os.path.exists(directory):
    os.makedirs(directory)

TP.to_csv(directory+"PWQMN_"+river.lower().replace(" ", "_")+"_"+str(station)+'.csv')

TP[TP.columns[1::2]].describe()

,"PHOSPHORUS,UNFILTERED TOTAL","PHOSPHATE,FILTERED REACTIVE",NITROGEN; TOTAL,"NITRATE, UNFILTERED REACTIVE","NITRITE, UNFILTERED REACTIVE","NITROGEN,TOT,KJELDAHL/UNF.REA","NITRATES TOTAL, UNFIL.REAC","SILICATES,UNFILTERED REACTIVE","CHLORIDE, UNFIL.REAC"
count,118.000000,117.000000,36.000000,0.0,116.000000,96.000000,117.000000,86.000000,119.000000
mean,0.050981,0.011203,3.650556,NaN,0.022155,0.563177,3.172051,3.844186,25.662185
std,0.064101,0.008144,0.385130,NaN,0.010125,0.473498,0.426593,0.694083,3.129926
min,0.006000,0.000500,3.100000,NaN,0.007000,0.140000,2.380000,2.360000,14.600000
25%,0.024050,0.006700,3.360000,NaN,0.015750,0.357500,2.860000,3.330000,24.000000
50%,0.040000,0.010200,3.500000,NaN,0.021000,0.480000,3.140000,4.060000,26.200000
75%,0.055750,0.012200,3.982500,NaN,0.027000,0.592500,3.370000,4.320000,27.700000
max,0.605000,0.066800,4.550000,NaN,0.073000,4.500000,4.930000,4.980000,33.100000

In [331]:
river = 'Big Creek'
station = 16012401002
elem = 'PHOSPHORUS,UNFILTERED TOTAL'
short_name = 'TP'
TP = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
# TP.columns = ['TP_'+str(col) for col in TP.columns]
TP.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TP

elem = 'PHOSPHATE,FILTERED REACTIVE'
PO4 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
PO4.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
PO4


elem = 'CHLORIDE,         UNFIL.REAC'
Cl = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Cl.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Cl

elem = 'SILICATES,UNFILTERED REACTIVE'
Si = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Si.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Si

elem = 'NITROGEN; TOTAL'
TN = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
TN.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TN

elem = 'NITRITE,  UNFILTERED REACTIVE'
NO2 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO2.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO2

elem = 'NITRATE,  UNFILTERED REACTIVE'
NO3 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3

elem = 'NITROGEN,TOT,KJELDAHL/UNF.REA'
NTK = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NTK.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NTK

elem = 'NITRATES TOTAL,   UNFIL.REAC'
NO3R = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3R.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3R


dfs = [PO4, TN, NO3, NO2, NTK, NO3R, Si, Cl]
for df in dfs:
    TP = pd.merge(TP, df, on='DATE', how='outer')
# TP.insert(1,'STATION', station)
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] = TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] / 1000
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'UNITS PHOSPHORUS,UNFILTERED TOTAL'] = 'MILLIGRAM PER LITER'

directory = 'eastern_basin/'+river.lower().replace(" ", "_")+'/'

if not os.path.exists(directory):
    os.makedirs(directory)

TP.to_csv(directory+"PWQMN_"+river.lower().replace(" ", "_")+"_"+str(station)+'.csv')

TP[TP.columns[1::2]].describe()

,"PHOSPHORUS,UNFILTERED TOTAL","PHOSPHATE,FILTERED REACTIVE",NITROGEN; TOTAL,"NITRATE, UNFILTERED REACTIVE","NITRITE, UNFILTERED REACTIVE","NITROGEN,TOT,KJELDAHL/UNF.REA","NITRATES TOTAL, UNFIL.REAC","SILICATES,UNFILTERED REACTIVE","CHLORIDE, UNFIL.REAC"
count,33.000000,33.000000,0.0,0.0,33.000000,33.000000,33.000000,33.000000,33.000000
mean,0.066000,0.009152,NaN,NaN,0.027758,0.513939,3.056970,3.540000,23.648485
std,0.057983,0.005446,NaN,NaN,0.016424,0.219117,0.958995,0.717757,6.918098
min,0.022000,0.003000,NaN,NaN,0.001000,0.280000,1.950000,2.240000,18.800000
25%,0.036000,0.006000,NaN,NaN,0.016000,0.360000,2.350000,2.960000,20.400000
50%,0.046000,0.008500,NaN,NaN,0.025000,0.480000,2.710000,3.620000,21.800000
75%,0.076000,0.011000,NaN,NaN,0.033000,0.580000,3.690000,4.060000,24.400000
max,0.288000,0.030000,NaN,NaN,0.078000,1.400000,5.280000,4.820000,58.800000

In [332]:
river = 'Big Creek'
station = 16012400302
elem = 'PHOSPHORUS,UNFILTERED TOTAL'
short_name = 'TP'
TP = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
# TP.columns = ['TP_'+str(col) for col in TP.columns]
TP.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TP

elem = 'PHOSPHATE,FILTERED REACTIVE'
PO4 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
PO4.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
PO4


elem = 'CHLORIDE,         UNFIL.REAC'
Cl = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Cl.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Cl

elem = 'SILICATES,UNFILTERED REACTIVE'
Si = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Si.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Si

elem = 'NITROGEN; TOTAL'
TN = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
TN.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TN

elem = 'NITRITE,  UNFILTERED REACTIVE'
NO2 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO2.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO2

elem = 'NITRATE,  UNFILTERED REACTIVE'
NO3 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3

elem = 'NITROGEN,TOT,KJELDAHL/UNF.REA'
NTK = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NTK.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NTK

elem = 'NITRATES TOTAL,   UNFIL.REAC'
NO3R = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3R.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3R


dfs = [PO4, TN, NO3, NO2, NTK, NO3R, Si, Cl]
for df in dfs:
    TP = pd.merge(TP, df, on='DATE', how='outer')
# TP.insert(1,'STATION', station)
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] = TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] / 1000
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'UNITS PHOSPHORUS,UNFILTERED TOTAL'] = 'MILLIGRAM PER LITER'

directory = 'eastern_basin/'+river.lower().replace(" ", "_")+'/'

if not os.path.exists(directory):
    os.makedirs(directory)

TP.to_csv(directory+"PWQMN_"+river.lower().replace(" ", "_")+"_"+str(station)+'.csv')

TP[TP.columns[1::2]].describe()

,"PHOSPHORUS,UNFILTERED TOTAL","PHOSPHATE,FILTERED REACTIVE",NITROGEN; TOTAL,"NITRATE, UNFILTERED REACTIVE","NITRITE, UNFILTERED REACTIVE","NITROGEN,TOT,KJELDAHL/UNF.REA","NITRATES TOTAL, UNFIL.REAC","SILICATES,UNFILTERED REACTIVE","CHLORIDE, UNFIL.REAC"
count,6.400000e+01,6.400000e+01,0.0,0.0,6.400000e+01,6.400000e+01,6.400000e+01,0.0,6.400000e+01
mean,4.400000e-02,1.100000e-02,NaN,NaN,2.900000e-02,4.400000e-01,2.360000e+00,NaN,2.080000e+01
std,2.797499e-17,6.993748e-18,NaN,NaN,3.147186e-17,4.475999e-16,1.790399e-15,NaN,2.506559e-14
min,4.400000e-02,1.100000e-02,NaN,NaN,2.900000e-02,4.400000e-01,2.360000e+00,NaN,2.080000e+01
25%,4.400000e-02,1.100000e-02,NaN,NaN,2.900000e-02,4.400000e-01,2.360000e+00,NaN,2.080000e+01
50%,4.400000e-02,1.100000e-02,NaN,NaN,2.900000e-02,4.400000e-01,2.360000e+00,NaN,2.080000e+01
75%,4.400000e-02,1.100000e-02,NaN,NaN,2.900000e-02,4.400000e-01,2.360000e+00,NaN,2.080000e+01
max,4.400000e-02,1.100000e-02,NaN,NaN,2.900000e-02,4.400000e-01,2.360000e+00,NaN,2.080000e+01

In [333]:
river = 'Lynn River'
station = 16015900302
elem = 'PHOSPHORUS,UNFILTERED TOTAL'
short_name = 'TP'
TP = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
# TP.columns = ['TP_'+str(col) for col in TP.columns]
TP.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TP

elem = 'PHOSPHATE,FILTERED REACTIVE'
PO4 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
PO4.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
PO4


elem = 'CHLORIDE,         UNFIL.REAC'
Cl = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Cl.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Cl

elem = 'SILICATES,UNFILTERED REACTIVE'
Si = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Si.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Si

elem = 'NITROGEN; TOTAL'
TN = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
TN.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TN

elem = 'NITRITE,  UNFILTERED REACTIVE'
NO2 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO2.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO2

elem = 'NITRATE,  UNFILTERED REACTIVE'
NO3 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3

elem = 'NITROGEN,TOT,KJELDAHL/UNF.REA'
NTK = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NTK.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NTK

elem = 'NITRATES TOTAL,   UNFIL.REAC'
NO3R = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3R.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3R


dfs = [PO4, TN, NO3, NO2, NTK, NO3R, Si, Cl]
for df in dfs:
    TP = pd.merge(TP, df, on='DATE', how='outer')
# TP.insert(1,'STATION', station)
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] = TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] / 1000
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'UNITS PHOSPHORUS,UNFILTERED TOTAL'] = 'MILLIGRAM PER LITER'

directory = 'eastern_basin/'+river.lower().replace(" ", "_")+'/'

if not os.path.exists(directory):
    os.makedirs(directory)

TP.to_csv(directory+"PWQMN_"+river.lower().replace(" ", "_")+"_"+str(station)+'.csv')

TP[TP.columns[1::2]].describe()

,"PHOSPHORUS,UNFILTERED TOTAL","PHOSPHATE,FILTERED REACTIVE",NITROGEN; TOTAL,"NITRATE, UNFILTERED REACTIVE","NITRITE, UNFILTERED REACTIVE","NITROGEN,TOT,KJELDAHL/UNF.REA","NITRATES TOTAL, UNFIL.REAC","SILICATES,UNFILTERED REACTIVE","CHLORIDE, UNFIL.REAC"
count,117.000000,118.000000,36.000000,0.0,118.000000,95.000000,116.000000,86.000000,119.000000
mean,0.067879,0.034218,3.731389,NaN,0.090297,0.804105,3.202957,4.309767,55.615966
std,0.046014,0.038958,0.440124,NaN,0.107032,0.406083,0.740832,0.711305,12.344332
min,0.017000,0.002200,2.980000,NaN,0.004000,0.160000,0.083000,2.280000,22.500000
25%,0.036200,0.013450,3.412500,NaN,0.021250,0.500000,2.750000,3.930000,50.700000
50%,0.054000,0.021350,3.660000,NaN,0.041500,0.660000,3.105000,4.520000,54.500000
75%,0.087000,0.038325,4.157500,NaN,0.117500,1.075000,3.730000,4.850000,62.100000
max,0.300000,0.323000,4.500000,NaN,0.635000,1.990000,5.380000,5.360000,114.000000

In [334]:
river = 'Lynn River'
station = 16015900902
elem = 'PHOSPHORUS,UNFILTERED TOTAL'
short_name = 'TP'
TP = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
# TP.columns = ['TP_'+str(col) for col in TP.columns]
TP.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TP

elem = 'PHOSPHATE,FILTERED REACTIVE'
PO4 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
PO4.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
PO4


elem = 'CHLORIDE,         UNFIL.REAC'
Cl = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Cl.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Cl

elem = 'SILICATES,UNFILTERED REACTIVE'
Si = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Si.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Si

elem = 'NITROGEN; TOTAL'
TN = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
TN.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TN

elem = 'NITRITE,  UNFILTERED REACTIVE'
NO2 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO2.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO2

elem = 'NITRATE,  UNFILTERED REACTIVE'
NO3 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3

elem = 'NITROGEN,TOT,KJELDAHL/UNF.REA'
NTK = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NTK.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NTK

elem = 'NITRATES TOTAL,   UNFIL.REAC'
NO3R = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3R.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3R


dfs = [PO4, TN, NO3, NO2, NTK, NO3R, Si, Cl]
for df in dfs:
    TP = pd.merge(TP, df, on='DATE', how='outer')
# TP.insert(1,'STATION', station)
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] = TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] / 1000
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'UNITS PHOSPHORUS,UNFILTERED TOTAL'] = 'MILLIGRAM PER LITER'

directory = 'eastern_basin/'+river.lower().replace(" ", "_")+'/'

if not os.path.exists(directory):
    os.makedirs(directory)

TP.to_csv(directory+"PWQMN_"+river.lower().replace(" ", "_")+"_"+str(station)+'.csv')

TP[TP.columns[1::2]].describe()

,"PHOSPHORUS,UNFILTERED TOTAL","PHOSPHATE,FILTERED REACTIVE",NITROGEN; TOTAL,"NITRATE, UNFILTERED REACTIVE","NITRITE, UNFILTERED REACTIVE","NITROGEN,TOT,KJELDAHL/UNF.REA","NITRATES TOTAL, UNFIL.REAC","SILICATES,UNFILTERED REACTIVE","CHLORIDE, UNFIL.REAC"
count,6.400000e+01,64.000,0.0,0.0,6.400000e+01,6.400000e+01,6.400000e+01,0.0,64.0
mean,9.600000e-02,0.039,NaN,NaN,1.700000e-02,4.200000e-01,2.730000e+00,NaN,50.0
std,5.594998e-17,0.000,NaN,NaN,3.496874e-18,6.713998e-16,1.790399e-15,NaN,0.0
min,9.600000e-02,0.039,NaN,NaN,1.700000e-02,4.200000e-01,2.730000e+00,NaN,50.0
25%,9.600000e-02,0.039,NaN,NaN,1.700000e-02,4.200000e-01,2.730000e+00,NaN,50.0
50%,9.600000e-02,0.039,NaN,NaN,1.700000e-02,4.200000e-01,2.730000e+00,NaN,50.0
75%,9.600000e-02,0.039,NaN,NaN,1.700000e-02,4.200000e-01,2.730000e+00,NaN,50.0
max,9.600000e-02,0.039,NaN,NaN,1.700000e-02,4.200000e-01,2.730000e+00,NaN,50.0

In [335]:
river = 'Nanticoke Creek'
station = 16016400102
elem = 'PHOSPHORUS,UNFILTERED TOTAL'
short_name = 'TP'
TP = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
# TP.columns = ['TP_'+str(col) for col in TP.columns]
TP.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TP

elem = 'PHOSPHATE,FILTERED REACTIVE'
PO4 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
PO4.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
PO4


elem = 'CHLORIDE,         UNFIL.REAC'
Cl = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Cl.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Cl

elem = 'SILICATES,UNFILTERED REACTIVE'
Si = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Si.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Si

elem = 'NITROGEN; TOTAL'
TN = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
TN.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TN

elem = 'NITRITE,  UNFILTERED REACTIVE'
NO2 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO2.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO2

elem = 'NITRATE,  UNFILTERED REACTIVE'
NO3 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3

elem = 'NITROGEN,TOT,KJELDAHL/UNF.REA'
NTK = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NTK.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NTK

elem = 'NITRATES TOTAL,   UNFIL.REAC'
NO3R = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3R.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3R


dfs = [PO4, TN, NO3, NO2, NTK, NO3R, Si, Cl]
for df in dfs:
    TP = pd.merge(TP, df, on='DATE', how='outer')
# TP.insert(1,'STATION', station)
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] = TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] / 1000
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'UNITS PHOSPHORUS,UNFILTERED TOTAL'] = 'MILLIGRAM PER LITER'

directory = 'eastern_basin/'+river.lower().replace(" ", "_")+'/'

if not os.path.exists(directory):
    os.makedirs(directory)

TP.to_csv(directory+"PWQMN_"+river.lower().replace(" ", "_")+"_"+str(station)+'.csv')

TP[TP.columns[1::2]].describe()

,"PHOSPHORUS,UNFILTERED TOTAL","PHOSPHATE,FILTERED REACTIVE",NITROGEN; TOTAL,"NITRATE, UNFILTERED REACTIVE","NITRITE, UNFILTERED REACTIVE","NITROGEN,TOT,KJELDAHL/UNF.REA","NITRATES TOTAL, UNFIL.REAC","SILICATES,UNFILTERED REACTIVE","CHLORIDE, UNFIL.REAC"
count,213.000000,210.000000,36.000000,0.0,213.000000,192.000000,212.000000,118.000000,215.000000
mean,0.143455,0.035809,1.666944,NaN,0.028108,1.113125,1.289453,2.236102,37.655814
std,0.114583,0.039683,1.568524,NaN,0.027452,0.428720,1.510943,1.232129,11.295473
min,0.013000,0.002800,0.360000,NaN,0.003000,0.050000,0.005000,0.020000,19.600000
25%,0.077000,0.019275,0.730000,NaN,0.017000,0.790000,0.414000,1.205000,30.800000
50%,0.133000,0.029000,1.245000,NaN,0.018000,1.115000,0.561500,2.320000,33.100000
75%,0.166000,0.033950,1.965000,NaN,0.030000,1.340000,1.722500,3.080000,43.800000
max,0.975000,0.347000,8.960000,NaN,0.183000,3.750000,9.280000,5.040000,91.600000

In [336]:
river = 'Sandusk Creek'
station = 16017000282
elem = 'PHOSPHORUS,UNFILTERED TOTAL'
short_name = 'TP'
TP = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
# TP.columns = ['TP_'+str(col) for col in TP.columns]
TP.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TP

elem = 'PHOSPHATE,FILTERED REACTIVE'
PO4 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
PO4.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
PO4


elem = 'CHLORIDE,         UNFIL.REAC'
Cl = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Cl.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Cl

elem = 'SILICATES,UNFILTERED REACTIVE'
Si = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Si.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Si

elem = 'NITROGEN; TOTAL'
TN = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
TN.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TN

elem = 'NITRITE,  UNFILTERED REACTIVE'
NO2 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO2.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO2

elem = 'NITRATE,  UNFILTERED REACTIVE'
NO3 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3

elem = 'NITROGEN,TOT,KJELDAHL/UNF.REA'
NTK = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NTK.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NTK

elem = 'NITRATES TOTAL,   UNFIL.REAC'
NO3R = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3R.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3R


dfs = [PO4, TN, NO3, NO2, NTK, NO3R, Si, Cl]
for df in dfs:
    TP = pd.merge(TP, df, on='DATE', how='outer')
# TP.insert(1,'STATION', station)
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] = TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] / 1000
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'UNITS PHOSPHORUS,UNFILTERED TOTAL'] = 'MILLIGRAM PER LITER'

directory = 'eastern_basin/'+river.lower().replace(" ", "_")+'/'

if not os.path.exists(directory):
    os.makedirs(directory)

TP.to_csv(directory+"PWQMN_"+river.lower().replace(" ", "_")+"_"+str(station)+'.csv')

TP[TP.columns[1::2]].describe()

,"PHOSPHORUS,UNFILTERED TOTAL","PHOSPHATE,FILTERED REACTIVE",NITROGEN; TOTAL,"NITRATE, UNFILTERED REACTIVE","NITRITE, UNFILTERED REACTIVE","NITROGEN,TOT,KJELDAHL/UNF.REA","NITRATES TOTAL, UNFIL.REAC","SILICATES,UNFILTERED REACTIVE","CHLORIDE, UNFIL.REAC"
count,6.400000e+01,6.400000e+01,0.0,0.0,6.400000e+01,6.400000e+01,6.400000e+01,0.0,64.0
mean,1.720000e-01,5.600000e-02,NaN,NaN,3.300000e-02,9.600000e-01,6.700000e-02,NaN,28.0
std,8.392497e-17,4.196249e-17,NaN,NaN,3.496874e-17,7.832997e-16,6.993748e-17,NaN,0.0
min,1.720000e-01,5.600000e-02,NaN,NaN,3.300000e-02,9.600000e-01,6.700000e-02,NaN,28.0
25%,1.720000e-01,5.600000e-02,NaN,NaN,3.300000e-02,9.600000e-01,6.700000e-02,NaN,28.0
50%,1.720000e-01,5.600000e-02,NaN,NaN,3.300000e-02,9.600000e-01,6.700000e-02,NaN,28.0
75%,1.720000e-01,5.600000e-02,NaN,NaN,3.300000e-02,9.600000e-01,6.700000e-02,NaN,28.0
max,1.720000e-01,5.600000e-02,NaN,NaN,3.300000e-02,9.600000e-01,6.700000e-02,NaN,28.0

In [337]:
river = 'Sandusk Creek'
station = 16017000102
elem = 'PHOSPHORUS,UNFILTERED TOTAL'
short_name = 'TP'
TP = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
# TP.columns = ['TP_'+str(col) for col in TP.columns]
TP.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TP

elem = 'PHOSPHATE,FILTERED REACTIVE'
PO4 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
PO4.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
PO4


elem = 'CHLORIDE,         UNFIL.REAC'
Cl = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Cl.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Cl

elem = 'SILICATES,UNFILTERED REACTIVE'
Si = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Si.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Si

elem = 'NITROGEN; TOTAL'
TN = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
TN.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TN

elem = 'NITRITE,  UNFILTERED REACTIVE'
NO2 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO2.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO2

elem = 'NITRATE,  UNFILTERED REACTIVE'
NO3 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3

elem = 'NITROGEN,TOT,KJELDAHL/UNF.REA'
NTK = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NTK.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NTK

elem = 'NITRATES TOTAL,   UNFIL.REAC'
NO3R = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3R.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3R


dfs = [PO4, TN, NO3, NO2, NTK, NO3R, Si, Cl]
for df in dfs:
    TP = pd.merge(TP, df, on='DATE', how='outer')
# TP.insert(1,'STATION', station)
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] = TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] / 1000
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'UNITS PHOSPHORUS,UNFILTERED TOTAL'] = 'MILLIGRAM PER LITER'

directory = 'eastern_basin/'+river.lower().replace(" ", "_")+'/'

if not os.path.exists(directory):
    os.makedirs(directory)

TP.to_csv(directory+"PWQMN_"+river.lower().replace(" ", "_")+"_"+str(station)+'.csv')

TP[TP.columns[1::2]].describe()

,"PHOSPHORUS,UNFILTERED TOTAL","PHOSPHATE,FILTERED REACTIVE",NITROGEN; TOTAL,"NITRATE, UNFILTERED REACTIVE","NITRITE, UNFILTERED REACTIVE","NITROGEN,TOT,KJELDAHL/UNF.REA","NITRATES TOTAL, UNFIL.REAC","SILICATES,UNFILTERED REACTIVE","CHLORIDE, UNFIL.REAC"
count,1.000,1.00,0.0,0.0,1.000,1.00,1.00,1.00,1.0
mean,0.416,0.12,NaN,NaN,0.107,1.92,3.66,3.04,38.0
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.416,0.12,NaN,NaN,0.107,1.92,3.66,3.04,38.0
25%,0.416,0.12,NaN,NaN,0.107,1.92,3.66,3.04,38.0
50%,0.416,0.12,NaN,NaN,0.107,1.92,3.66,3.04,38.0
75%,0.416,0.12,NaN,NaN,0.107,1.92,3.66,3.04,38.0
max,0.416,0.12,NaN,NaN,0.107,1.92,3.66,3.04,38.0

In [338]:
river = 'Sandusk Creek'
station = 16017000602
elem = 'PHOSPHORUS,UNFILTERED TOTAL'
short_name = 'TP'
TP = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
# TP.columns = ['TP_'+str(col) for col in TP.columns]
TP.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TP

elem = 'PHOSPHATE,FILTERED REACTIVE'
PO4 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
PO4.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
PO4


elem = 'CHLORIDE,         UNFIL.REAC'
Cl = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Cl.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Cl

elem = 'SILICATES,UNFILTERED REACTIVE'
Si = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Si.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Si

elem = 'NITROGEN; TOTAL'
TN = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
TN.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TN

elem = 'NITRITE,  UNFILTERED REACTIVE'
NO2 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO2.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO2

elem = 'NITRATE,  UNFILTERED REACTIVE'
NO3 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3

elem = 'NITROGEN,TOT,KJELDAHL/UNF.REA'
NTK = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NTK.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NTK

elem = 'NITRATES TOTAL,   UNFIL.REAC'
NO3R = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3R.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3R


dfs = [PO4, TN, NO3, NO2, NTK, NO3R, Si, Cl]
for df in dfs:
    TP = pd.merge(TP, df, on='DATE', how='outer')
# TP.insert(1,'STATION', station)
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] = TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] / 1000
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'UNITS PHOSPHORUS,UNFILTERED TOTAL'] = 'MILLIGRAM PER LITER'

directory = 'eastern_basin/'+river.lower().replace(" ", "_")+'/'

if not os.path.exists(directory):
    os.makedirs(directory)

TP.to_csv(directory+"PWQMN_"+river.lower().replace(" ", "_")+"_"+str(station)+'.csv')

TP[TP.columns[1::2]].describe()

,"PHOSPHORUS,UNFILTERED TOTAL","PHOSPHATE,FILTERED REACTIVE",NITROGEN; TOTAL,"NITRATE, UNFILTERED REACTIVE","NITRITE, UNFILTERED REACTIVE","NITROGEN,TOT,KJELDAHL/UNF.REA","NITRATES TOTAL, UNFIL.REAC","SILICATES,UNFILTERED REACTIVE","CHLORIDE, UNFIL.REAC"
count,27.000000,27.000000,0.0,0.0,27.000000,27.000000,27.000000,27.000000,27.000000
mean,0.310667,0.099370,NaN,NaN,0.070852,1.729630,3.167704,2.147407,60.651852
std,0.231033,0.093393,NaN,NaN,0.064242,0.701742,3.010997,1.199656,31.068836
min,0.082000,0.003500,NaN,NaN,0.001000,0.840000,0.005000,0.020000,19.600000
25%,0.129000,0.029500,NaN,NaN,0.029000,1.330000,0.867000,1.610000,39.300000
50%,0.254000,0.070000,NaN,NaN,0.063000,1.580000,2.750000,2.300000,46.200000
75%,0.392000,0.135000,NaN,NaN,0.090000,1.910000,3.985000,2.930000,79.100000
max,1.090000,0.371000,NaN,NaN,0.299000,3.880000,13.000000,4.240000,138.000000

In [339]:
river = 'Sandusk Creek'
station = 16017000702
elem = 'PHOSPHORUS,UNFILTERED TOTAL'
short_name = 'TP'
TP = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
# TP.columns = ['TP_'+str(col) for col in TP.columns]
TP.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TP

elem = 'PHOSPHATE,FILTERED REACTIVE'
PO4 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
PO4.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
PO4


elem = 'CHLORIDE,         UNFIL.REAC'
Cl = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Cl.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Cl

elem = 'SILICATES,UNFILTERED REACTIVE'
Si = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Si.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Si

elem = 'NITROGEN; TOTAL'
TN = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
TN.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TN

elem = 'NITRITE,  UNFILTERED REACTIVE'
NO2 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO2.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO2

elem = 'NITRATE,  UNFILTERED REACTIVE'
NO3 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3

elem = 'NITROGEN,TOT,KJELDAHL/UNF.REA'
NTK = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NTK.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NTK

elem = 'NITRATES TOTAL,   UNFIL.REAC'
NO3R = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3R.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3R


dfs = [PO4, TN, NO3, NO2, NTK, NO3R, Si, Cl]
for df in dfs:
    TP = pd.merge(TP, df, on='DATE', how='outer')
# TP.insert(1,'STATION', station)
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] = TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] / 1000
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'UNITS PHOSPHORUS,UNFILTERED TOTAL'] = 'MILLIGRAM PER LITER'

directory = 'eastern_basin/'+river.lower().replace(" ", "_")+'/'

if not os.path.exists(directory):
    os.makedirs(directory)

TP.to_csv(directory+"PWQMN_"+river.lower().replace(" ", "_")+"_"+str(station)+'.csv')

TP[TP.columns[1::2]].describe()

,"PHOSPHORUS,UNFILTERED TOTAL","PHOSPHATE,FILTERED REACTIVE",NITROGEN; TOTAL,"NITRATE, UNFILTERED REACTIVE","NITRITE, UNFILTERED REACTIVE","NITROGEN,TOT,KJELDAHL/UNF.REA","NITRATES TOTAL, UNFIL.REAC","SILICATES,UNFILTERED REACTIVE","CHLORIDE, UNFIL.REAC"
count,1.000,1.00,0.0,0.0,1.000,1.00,1.0,1.0,1.0
mean,0.368,0.14,NaN,NaN,0.053,2.04,3.9,3.2,23.2
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.368,0.14,NaN,NaN,0.053,2.04,3.9,3.2,23.2
25%,0.368,0.14,NaN,NaN,0.053,2.04,3.9,3.2,23.2
50%,0.368,0.14,NaN,NaN,0.053,2.04,3.9,3.2,23.2
75%,0.368,0.14,NaN,NaN,0.053,2.04,3.9,3.2,23.2
max,0.368,0.14,NaN,NaN,0.053,2.04,3.9,3.2,23.2

In [340]:
river = 'Grand River'
station = 16018403502
elem = 'PHOSPHORUS,UNFILTERED TOTAL'
short_name = 'TP'
TP = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
# TP.columns = ['TP_'+str(col) for col in TP.columns]
TP.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TP

elem = 'PHOSPHATE,FILTERED REACTIVE'
PO4 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
PO4.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
PO4


elem = 'CHLORIDE,         UNFIL.REAC'
Cl = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Cl.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Cl

elem = 'SILICATES,UNFILTERED REACTIVE'
Si = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
Si.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
Si

elem = 'NITROGEN; TOTAL'
TN = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
TN.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
TN

elem = 'NITRITE,  UNFILTERED REACTIVE'
NO2 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO2.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO2

elem = 'NITRATE,  UNFILTERED REACTIVE'
NO3 = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3

elem = 'NITROGEN,TOT,KJELDAHL/UNF.REA'
NTK = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NTK.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NTK

elem = 'NITRATES TOTAL,   UNFIL.REAC'
NO3R = pwqmn_rawdata[(pwqmn_rawdata["PARM DESCRIPTION"]==elem) & ((pwqmn_rawdata["STATION"]==station) | (pwqmn_rawdata["STATION NO"]==station))][['DATE', 'RESULT', 'UNITS']]
NO3R.rename(columns={'UNITS':'UNITS '+elem, 'RESULT': elem}, index=str, inplace=True)
NO3R


dfs = [PO4, TN, NO3, NO2, NTK, NO3R, Si, Cl]
for df in dfs:
    TP = pd.merge(TP, df, on='DATE', how='outer')
# TP.insert(1,'STATION', station)
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] = TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'PHOSPHORUS,UNFILTERED TOTAL'] / 1000
TP.loc[TP['UNITS PHOSPHORUS,UNFILTERED TOTAL'] == 'MICROGRAM PER LITER', 'UNITS PHOSPHORUS,UNFILTERED TOTAL'] = 'MILLIGRAM PER LITER'

directory = 'eastern_basin/'+river.lower().replace(" ", "_")+'/'

if not os.path.exists(directory):
    os.makedirs(directory)

TP.to_csv(directory+"PWQMN_"+river.lower().replace(" ", "_")+"_"+str(station)+'.csv')

TP[TP.columns[1::2]].describe()

,"PHOSPHORUS,UNFILTERED TOTAL","PHOSPHATE,FILTERED REACTIVE",NITROGEN; TOTAL,"NITRATE, UNFILTERED REACTIVE","NITRITE, UNFILTERED REACTIVE","NITROGEN,TOT,KJELDAHL/UNF.REA","NITRATES TOTAL, UNFIL.REAC","SILICATES,UNFILTERED REACTIVE","CHLORIDE, UNFIL.REAC"
count,1352.000000,1346.000000,57.000000,0.0,1349.000000,1318.000000,1350.000000,287.000000,1355.000000
mean,0.171132,0.023654,3.314211,NaN,0.052824,1.128096,3.520907,1.255958,69.872472
std,1.630186,0.020198,1.419658,NaN,0.030800,0.261578,1.706909,0.951893,32.009145
min,0.005000,0.000800,0.520000,NaN,0.001000,0.050000,0.014000,0.020000,6.100000
25%,0.056000,0.012000,2.170000,NaN,0.034000,0.960000,2.100000,0.400000,41.600000
50%,0.108000,0.016000,3.300000,NaN,0.045000,1.100000,3.630000,1.520000,74.400000
75%,0.160000,0.032000,4.000000,NaN,0.070000,1.300000,5.120000,2.160000,90.400000
max,60.000000,0.261000,6.780000,NaN,0.250000,2.650000,7.140000,4.720000,285.000000

In [341]:
[s for s in pwqmn_rawdata['PARM DESCRIPTION'].unique() if "NITR" in s]

['NITRITE,  UNFILTERED REACTIVE',
 'NITRATES TOTAL,   UNFIL.REAC',
 'NITROGEN; TOTAL',
 'NITROGEN,TOT,KJELDAHL/UNF.REA',
 'NITRATE,  UNFILTERED REACTIVE',
 'NITRATES TOTAL,   FILTER.REAC']

In [342]:
[s for s in pwqmn_rawdata['PARM DESCRIPTION'].unique() if "PHO" in s]

['PHOSPHORUS,UNFILTERED TOTAL', 'PHOSPHATE,FILTERED REACTIVE']

In [343]:
[s for s in pwqmn_rawdata['PARM DESCRIPTION'].unique() if "SI" in s]

['RESIDUE,PARTICULATE',
 'SILICATES,UNFILTERED REACTIVE',
 'SILVER,   UNFILTERED TOTAL',
 'POTASSIUM,UNFILTERED TOTAL',
 'MAGNESIUM,UNFILTERED TOTAL',
 'RESIDUE,FILTERED',
 'RESIDUE,TOTAL']

In [344]:
[s for s in pwqmn_rawdata['PARM DESCRIPTION'].unique() if "CHL" in s]

['CHLORIDE,         UNFIL.REAC',
 'CHLOROPHYLL-A, CORRECTED',
 'CHLOROPHYLL-A, TOTAL',
 'CHLOROPHYLL-B, TOTAL',
 'CHLORDANE,ALPHA',
 'CHLORDANE,GAMMA',
 'HEPTACHLOR',
 'HEPTACHLOREPOXIDE',
 'HEXACHLORO CYCLO PENTADIENE',
 'HEXACHLOROBENZENE',
 'HEXACHLOROBUTADIENE',
 'HEXACHLOROETHANE',
 'OCTACHLOROSTYRENE',
 'OXYCHLORDANE',
 'PENTACHLOROBENZENE',
 'TETRACHLOROBENZENE 1,2,3,4',
 'TETRACHLOROBENZENE 1,2,3,5',
 'TETRACHLOROBENZENE 1,2,4,5',
 'TRICHLOROBENZENE   1,2,3',
 'TRICHLOROBENZENE   1,2,4',
 'TRICHLOROBENZENE   1,3,5',
 'TRICHLOROTOLUENE   2,3,6',
 'TRICHLOROTOLUENE   2,4,5',
 'TRICHLOROTOLUENE   2,6,A',
 'DMDT METHOXYCHLOR']

In [345]:
TP

,DATE,"PHOSPHORUS,UNFILTERED TOTAL","UNITS PHOSPHORUS,UNFILTERED TOTAL","PHOSPHATE,FILTERED REACTIVE","UNITS PHOSPHATE,FILTERED REACTIVE",NITROGEN; TOTAL,UNITS NITROGEN; TOTAL,"NITRATE, UNFILTERED REACTIVE","UNITS NITRATE, UNFILTERED REACTIVE","NITRITE, UNFILTERED REACTIVE","UNITS NITRITE, UNFILTERED REACTIVE","NITROGEN,TOT,KJELDAHL/UNF.REA","UNITS NITROGEN,TOT,KJELDAHL/UNF.REA","NITRATES TOTAL, UNFIL.REAC","UNITS NITRATES TOTAL, UNFIL.REAC","SILICATES,UNFILTERED REACTIVE","UNITS SILICATES,UNFILTERED REACTIVE","CHLORIDE, UNFIL.REAC","UNITS CHLORIDE, UNFIL.REAC"
0,2016-01-12,0.0520,MILLIGRAM PER LITER,0.0387,MILLIGRAM PER LITER,6.53,MILLIGRAM PER LITER,NaN,NaN,0.053,MILLIGRAM PER LITER,NaN,NaN,5.600,MILLIGRAM PER LITER,NaN,NaN,86.3,MILLIGRAM PER LITER
1,2016-02-04,0.2850,MILLIGRAM PER LITER,0.0704,MILLIGRAM PER LITER,4.46,MILLIGRAM PER LITER,NaN,NaN,0.044,MILLIGRAM PER LITER,NaN,NaN,4.290,MILLIGRAM PER LITER,NaN,NaN,48.7,MILLIGRAM PER LITER
2,2016-04-19,0.0510,MILLIGRAM PER LITER,0.0147,MILLIGRAM PER LITER,3.79,MILLIGRAM PER LITER,NaN,NaN,0.030,MILLIGRAM PER LITER,NaN,NaN,3.230,MILLIGRAM PER LITER,NaN,NaN,31.8,MILLIGRAM PER LITER
3,2016-04-19,0.0720,MILLIGRAM PER LITER,0.0147,MILLIGRAM PER LITER,3.79,MILLIGRAM PER LITER,NaN,NaN,0.030,MILLIGRAM PER LITER,NaN,NaN,3.230,MILLIGRAM PER LITER,NaN,NaN,31.8,MILLIGRAM PER LITER
4,2016-04-25,0.0780,MILLIGRAM PER LITER,0.0115,MILLIGRAM PER LITER,3.08,MILLIGRAM PER LITER,NaN,NaN,0.028,MILLIGRAM PER LITER,NaN,NaN,2.900,MILLIGRAM PER LITER,NaN,NaN,78.1,MILLIGRAM PER LITER
5,2016-04-25,0.0780,MILLIGRAM PER LITER,0.0115,MILLIGRAM PER LITER,3.08,MILLIGRAM PER LITER,NaN,NaN,0.028,MILLIGRAM PER LITER,NaN,NaN,2.900,MILLIGRAM PER LITER,NaN,NaN,78.1,MILLIGRAM PER LITER
6,2016-05-12,0.0680,MILLIGRAM PER LITER,0.0093,MILLIGRAM PER LITER,3.30,MILLIGRAM PER LITER,NaN,NaN,0.035,MILLIGRAM PER LITER,NaN,NaN,2.970,MILLIGRAM PER LITER,NaN,NaN,90.8,MILLIGRAM PER LITER
7,2016-05-12,0.0704,MILLIGRAM PER LITER,0.0093,MILLIGRAM PER LITER,3.30,MILLIGRAM PER LITER,NaN,NaN,0.035,MILLIGRAM PER LITER,NaN,NaN,2.970,MILLIGRAM PER LITER,NaN,NaN,90.8,MILLIGRAM PER LITER
8,2016-05-18,0.0580,MILLIGRAM PER LITER,0.0087,MILLIGRAM PER LITER,3.55,MILLIGRAM PER LITER,NaN,NaN,0.025,MILLIGRAM PER LITER,NaN,NaN,3.080,MILLIGRAM PER LITER,NaN,NaN,95.1,MILLIGRAM PER LITER
9,2016-05-18,0.0660,MILLIGRAM PER LITER,0.0087,MILLIGRAM PER LITER,3.55,MILLIGRAM PER LITER,NaN,NaN,0.025,MILLIGRAM PER LITER,NaN,NaN,3.080,MILLIGRAM PER LITER,NaN,NaN,95.1,MILLIGRAM PER LITER
10,2016-06-06,0.0740,MILLIGRAM PER LITER,0.0110,MILLIGRAM PER LITER,2.03,MILLIGRAM PER LITER,NaN,NaN,0.045,MILLIGRAM PER LITER,NaN,NaN,1.830,MILLIGRAM PER LITER,NaN,NaN,104.0,MILLIGRAM PER LITER
11,2016-06-06,0.1420,MILLIGRAM PER LITER,0.0110,MILLIGRAM PER LITER,2.03,MILLIGRAM PER LITER,NaN,NaN,0.045,MILLIGRAM PER LITER,NaN,NaN,1.830,MILLIGRAM PER LITER,NaN,NaN,104.0,MILLIGRAM PER LITER
12,2016-06-22,0.0840,MILLIGRAM PER LITER,0.0107,MILLIGRAM PER LITER,2.17,MILLIGRAM PER LITER,NaN,NaN,0.044,MILLIGRAM PER LITER,NaN,NaN,1.890,MILLIGRAM PER LITER,NaN,NaN,109.0,MILLIGRAM PER LITER
13,2016-06-22,0.1240,MILLIGRAM PER LITER,0.0107,MILLIGRAM PER LITER,2.17,MILLIGRAM PER LITER,NaN,NaN,0.044,MILLIGRAM PER LITER,NaN,NaN,1.890,MILLIGRAM PER LITER,NaN,NaN,109.0,MILLIGRAM PER LITER
14,2016-07-20,0.0430,MILLIGRAM PER LITER,0.0126,MILLIGRAM PER LITER,1.68,MILLIGRAM PER LITER,NaN,NaN,0.036,MILLIGRAM PER LITER,NaN,NaN,1.320,MILLIGRAM PER LITER,NaN,NaN,112.0,MILLIGRAM PER LITER
15,2016-07-20,0.0680,MILLIGRAM PER LITER,0.0126,MILLIGRAM PER LITER,1.68,MILLIGRAM PER LITER,NaN,NaN,0.036,MILLIGRAM PER LITER,NaN,NaN,1.320,MILLIGRAM PER LITER,NaN,NaN,112.0,MILLIGRAM PER LITER
16,2016-07-27,0.0780,MILLIGRAM PER LITER,0.0100,MILLIGRAM PER LITER,1.31,MILLIGRAM PER LITER,NaN,NaN,0.027,MILLIGRAM PER LITER,NaN,NaN,0.988,MILLIGRAM PER LITER,NaN,NaN,100.0,MILLIGRAM PER LITER
17,2016-08-09,0.0580,MILLIGRAM PER LITER,0.0140,MILLIGRAM PER LITER,1.16,MILLIGRAM PER LITER,NaN,NaN,0.030,MILLIGRAM PER LITER,NaN,NaN,0.707,MILLIGRAM PER LITER,NaN,NaN,101.0,MILLIGRAM PER LITER
18,2016-08-09,0.0940,MILLIGRAM PER LITER,0.0140,MILLIGRAM PER LITER,1.16,MILLIGRAM PER LITER,NaN,NaN,0.030,MILLIGRAM PER LITER,NaN,NaN,0.707,MILLIGRAM PER LITER,NaN,NaN,101.0,MILLIGRAM PER LITER
19,2016-08-17,0.0540,MILLIGRAM PER LITER,0.0126,MILLIGRAM PER LITER,1.69,MILLIGRAM PER LITER,NaN,NaN,0.037,MILLIGRAM PER LITER,NaN,NaN,1.270,MILLIGRAM PER LITER,NaN,NaN,106.0,MILLIGRAM PER LITER
20,2016-08-17,0.0850,MILLIGRAM PER LITER,0.0126,MILLIGRAM PER LITER,1.69,MILLIGRAM PER LITER,NaN,NaN,0.037,MILLIGRAM PER LITER,NaN,NaN,1.270,MILLIGRAM PER LITER,NaN,NaN,106.0,MILLIGRAM PER LITER
21,2016-09-21,0.0500,MILLIGRAM PER LITER,0.0089,MILLIGRAM PER LITER,2.02,MILLIGRAM PER LITER,NaN,NaN,0.035,MILLIGRAM PER LITER,NaN,NaN,1.680,MILLIGRAM PER LITER,NaN,NaN,112.0,MILLIGRAM PER LITER
22,2016-09-21,0.0620,MILLIGRAM PER LITER,0.0089,MILLIGRAM PER LITER,2.02,MILLIGRAM PER LITER,NaN,NaN,0.035,MILLIGRAM PER LITER,NaN,NaN,1.680,MILLIGRAM PER LITER,NaN,NaN,112.0,MILLIGRAM PER LITER
23,2016-09-26,0.0800,MILLIGRAM PER LITER,0.0102,MILLIGRAM PER LITER,2.25,MILLIGRAM PER LITER,NaN,NaN,0.038,MILLIGRAM PER LITER,NaN,NaN,1.840,MILLIGRAM PER LITER,NaN,NaN,115.0,MILLIGRAM PER LITER
24,2016-09-26,0.0780,MILLIGRAM PER LITER,0.0102,MILLIGRAM PER LITER,2.25,MILLIGRAM PER LITER,NaN,NaN,0.038,MILLIGRAM PER LITER,NaN,NaN,1.840,MILLIGRAM PER LITER,NaN,NaN,115.0,MILLIGRAM PER LITER
25,2016-10-31,0.0400,MILLIGRAM PER LITER,0.0111,MILLIGRAM PER LITER,3.68,MILLIGRAM PER LITER,NaN,NaN,0.021,MILLIGRAM PER LITER,NaN,NaN,3.560,MILLIGRAM PER LITER,NaN,NaN,129.0,MILLIGRAM PER LITER
26,2016-10-31,0.0422,MILLIGRAM PER LITER,0.0111,MILLIGRAM PER LITER,3.68,MILLIGRAM PER LITER,NaN,NaN,0.021,MILLIGRAM PER LITER,NaN,NaN,3.560,MILLIGRAM PER LITER,NaN,NaN,129.0,MILLIGRAM PER LITER
27,2016-11-30,0.0160,MILLIGRAM PER LITER,0.0074,MILLIGRAM PER LITER,4.82,MILLIGRAM PER LITER,NaN,NaN,0.019,MILLIGRAM PER LITER,NaN,NaN,4.320,MILLIGRAM PER LITER,NaN,NaN,129.0,MILLIGRAM PER LITER
28,2016-11-30,0.0258,MILLIGRAM PER LITER,0.0074,MILLIGRAM PER LITER,4.82,MILLIGRAM PER LITER,NaN,NaN,0.019,MILLIGRAM PER LITER,NaN,NaN,4.320,MILLIGRAM PER LITER,NaN,NaN,129.0,MILLIGRAM PER LITER
29,2016-12-22,0.0160,MILLIGRAM PER LITER,0.0055,MILLIGRAM PER LITER,5.80,MILLIGRAM PER LITER,NaN,NaN,0.030,MILLIGRAM PER LITER,NaN,NaN,5.320,MILLIGRAM PER LITER,NaN,NaN,145.0,MILLIGRAM PER LITER
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1326,1997-10-07,0.1240,MILLIGRAM PER LITER,0.0150,MILLIGRAM PER LITER,NaN,NaN,NaN,NaN,0.023,MILLIGRAM PER LITER,1.20,MILLIGRAM PER LITER,1.890,MILLIGRAM PER LITER,NaN,NaN,75.2,MILLIGRAM PER LITER
1327,1998-01-06,0.0580,MILLIGRAM PER LITER,0.0125,MILLIGRAM PER LITER,NaN,NaN,NaN,NaN,0.086,MILLIGRAM PER LITER,0.84,MILLIGRAM PER LITER,3.930,MILLIGRAM PER LITER,NaN,NaN,75.6,MILLIGRAM PER LITER
1328,1997-12-02,0.0460,MILLIGRAM PER LITER,0.0170,MILLIGRAM PER LITER,NaN,NaN,NaN,NaN,0.054,MILLIGRAM PER LITER,0.80,MILLIGRAM PER LITER,3.690,MILLIGRAM PER LITER,NaN,NaN,74.8,MILLIGRAM PER LITER
1329,1998-02-03,0.0520,MILLIGRAM PER LITER,0.0315,MILLIGRAM PER LITER,NaN,NaN,NaN,NaN,0.033,MILLIGRAM PER LITER,0.96,MILLIGRAM PER LITER,3.560,MILLIGRAM PER LITER,NaN,NaN,86.8,MILLIGRAM PER LITER
1330,1998-03-10,0.0600,MILLIGRAM PER LITER,0.0540,MILLIGRAM PER LITER,NaN,NaN,NaN,NaN,0.050,MILLIGRAM PER LITER,0.60,MILLIGRAM PER LITER,3.850,MILLIGRAM PER LITER,NaN,NaN,42.2,MILLIGRAM PER LITER
1331,1998-04-07,0.1400,MILLIGRAM PER LITER,0.0320,MILLIGRAM PER LITER,NaN,NaN,NaN,NaN,0.061,MILLIGRAM PER LITER,1.10,MILLIGRAM PER LITER,2.900,MILLIGRAM PER LITER,NaN,NaN,44.4,MILLIGRAM PER LITER
1332,1998-05-05,0.1260,MILLIGRAM PER LITER,0.0080,MILLIGRAM PER LITER,NaN,NaN,NaN,NaN,0.048,MILLIGRAM PER LITER,1.02,MILLIGRAM PER LITER,2.120,MILLIGRAM PER LITER,NaN,NaN,66.2,MILLIGRAM PER LITER
1333,1998-06-02,0.0980,MILLIGRAM PER LITER,0.0185,MILLIGRAM PER LITER,NaN,NaN,NaN,NaN,0.043,MILLIGRAM PER LITER,0.86,MILLIGRAM PER LITER,1.180,MILLIGRAM PER LITER,NaN,NaN,84.8,MILLIGRAM PER LITER
1334,1998-07-07,0.1040,MILLIGRAM PER LITER,0.0100,MILLIGRAM PER LITER,NaN,NaN,NaN,NaN,0.040,MILLIGRAM PER LITER,1.10,MILLIGRAM PER LITER,0.750,MILLIGRAM PER LITER,NaN,NaN,86.4,MILLIGRAM PER LITER
1335,1998-08-04,0.1600,MILLIGRAM PER LITER,0.0115,MILLIGRAM PER LITER,NaN,NaN,NaN,NaN,0.039,MILLIGRAM PER LITER,1.24,MILLIGRAM PER LITER,0.275,MILLIGRAM PER LITER,NaN,NaN,91.6,MILLIGRAM PER LITER
1336,1998-09-01,0.1400,MILLIGRAM PER LITER,0.0365,MILLIGRAM PER LITER,NaN,NaN,NaN,NaN,0.104,MILLIGRAM PER LITER,0.90,MILLIGRAM PER LITER,0.575,MILLIGRAM PER LITER,NaN,NaN,94.2,MILLIGRAM PER LITER
1337,1998-11-03,0.0600,MILLIGRAM PER LITER,0.0140,MILLIGRAM PER LITER,NaN,NaN,NaN,NaN,0.053,MILLIGRAM PER LITER,0.76,MILLIGRAM PER LITER,1.780,MILLIGRAM PER LITER,NaN,NaN,103.0,MILLIGRAM PER LITER
1338,1998-10-13,0.0700,MILLIGRAM PER LITER,0.0165,MILLIGRAM PER LITER,NaN,NaN,NaN,NaN,0.024,MILLIGRAM PER LITER,0.90,MILLIGRAM PER LITER,1.330,MILLIGRAM PER LITER,NaN,NaN,101.0,MILLIGRAM PER LITER
1339,1998-12-02,0.1300,MILLIGRAM PER LITER,0.0230,MILLIGRAM PER LITER,NaN,NaN,NaN,NaN,0.034,MILLIGRAM PER LITER,1.10,MILLIGRAM PER LITER,3.250,MILLIGRAM PER LITER,NaN,NaN,126.0,MILLIGRAM PER LITER
1340,1999-01-05,0.0200,MILLIGRAM PER LITER,0.0080,MILLIGRAM PER LITER,NaN,NaN,NaN,NaN,0.030,MILLIGRAM PER LITER,0.84,MILLIGRAM PER LITER,4.110,MILLIGRAM PER LITER,NaN,NaN,116.0,MILLIGRAM PER LITER
1341,1999-02-03,0.0880,MILLIGRAM PER LITER,0.0595,MILLIGRAM PER LITER,NaN,NaN,NaN,NaN,0.049,MILLIGRAM PER LITER,1.18,MILLIGRAM PER LITER,7.100,MILLIGRAM PER LITER,NaN,NaN,110.0,MILLIGRAM PER LITER
1342,1999-03-02,0.0540,MILLIGRAM PER LITER,0.0270,MILLIGRAM PER LITER,NaN,NaN,NaN,NaN,0.052,MILLIGRAM PER LITER,1.06,MILLIGRAM PER LITER,6.550,MILLIGRAM PER LITER,NaN,NaN,81.8,MILLIGRAM PER LITER
1343,1999-04-13,0.0840,MILLIGRAM PER LITER,0.0120,MILLIGRAM PER LITER,NaN,NaN,NaN,NaN,0.048,MILLIGRAM PER LITER,1.00,MILLIGRAM PER LITER,3.300,MILLIGRAM PER LITER,NaN,NaN,67.6,MILLIGRAM PER LITER
1344,1999-06-01,0.0900,MILLIGRAM PER LITER,0.0030,MILLIGRAM PER LITER,NaN,NaN,NaN,NaN,0.022,MILLIGRAM PER LITER,1.02,MILLIGRAM PER LITER,0.890,MILLIGRAM PER LITER,NaN,NaN,104.0,MILLIGRAM PER LITER
1345,1999-07-07,0.1220,MILLIGRAM PER LITER,0.0085,MILLIGRAM PER LITER,NaN,NaN,NaN,NaN,0.026,MILLIGRAM PER LITER,1.26,MILLIGRAM PER LITER,0.515,MILLIGRAM PER LITER,NaN,NaN,101.0,MILLIGRAM PER LITER
1346,1999-08-03,0.1100,MILLIGRAM PER LITER,0.0090,MILLIGRAM PER LITER,NaN,NaN,NaN,NaN,0.025,MILLIGRAM PER LITER,1.16,MILLIGRAM PER LITER,0.325,MILLIGRAM PER LITER,NaN,NaN,107.0,MILLIGRAM PER LITER
1347,1999-10-03,0.0920,MILLIGRAM PER LITER,0.0180,MILLIGRAM PER LITER,NaN,NaN,NaN,NaN,0.025,MILLIGRAM PER LITER,0.94,MILLIGRAM PER LITER,1.480,MILLIGRAM PER LITER,NaN,NaN,99.0,MILLIGRAM PER LITER
1348,1999-11-03,0.1040,MILLIGRAM PER LITER,0.0200,MILLIGRAM PER LITER,NaN,NaN,NaN,NaN,0.032,MILLIGRAM PER LITER,0.80,MILLIGRAM PER LITER,2.040,MILLIGRAM PER LITER,NaN,NaN,93.4,MILLIGRAM PER LITER
1349,1999-12-07,0.0440,MILLIGRAM PER LITER,0.0040,MILLIGRAM PER LITER,NaN,NaN,NaN,NaN,0.033,MILLIGRAM PER LITER,0.64,MILLIGRAM PER LITER,3.420,MILLIGRAM PER LITER,NaN,NaN,84.8,MILLIGRAM PER LITER
1350,1999-05-05,0.1200,MILLIGRAM PER LITER,0.0105,MILLIGRAM PER LITER,NaN,NaN,NaN,NaN,0.040,MILLIGRAM PER LITER,1.50,MILLIGRAM PER LITER,3.840,MILLIGRAM PER LITER,NaN,NaN,67.4,MILLIGRAM PER LITER
1351,1999-09-07,0.0380,MILLIGRAM PER LITER,0.0090,MILLIGRAM PER LITER,NaN,NaN,NaN,NaN,0.036,MILLIGRAM PER LITER,0.48,MILLIGRAM PER LITER,0.901,MILLIGRAM PER LITER,NaN,NaN,106.0,MILLIGRAM PER LITER
1352,2011-02-13,NaN,NaN,0.0270,MILLIGRAM PER LITER,NaN,NaN,NaN,NaN,0.027,MILLIGRAM PER LITER,NaN,NaN,4.920,MILLIGRAM PER LITER,NaN,NaN,113.0,MILLIGRAM PER LITER
1353,2007-11-12,NaN,NaN,0.0015,MILLIGRAM PER LITER,NaN,NaN,NaN,NaN,0.023,MILLIGRAM PER LITER,0.63,MILLIGRAM PER LITER,2.900,MILLIGRAM PER LITER,NaN,NaN,116.0,MILLIGRAM PER LITER
1354,1996-02-13,NaN,NaN,0.0695,MILLIGRAM PER LITER,NaN,NaN,NaN,NaN,0.047,MILLIGRAM PER LITER,NaN,NaN,2.960,MILLIGRAM PER LITER,NaN,NaN,121.0,MILLIGRAM PER LITER
1355,1996-02-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.2,MILLIGRAM PER LITER