In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

sns.set_style("whitegrid")
plt.rcParams.update({'font.size': 32})
sns.set_context("poster", rc={"font.size":34,"axes.titlesize":34,"axes.labelsize":34, "lines.linewidth": 2})  
plt.rcParams['figure.figsize'] = 18, 12


from datetime import datetime
str(datetime.now())

'2018-06-28 08:40:14.712207'

In [2]:
df = pd.read_csv('../../measurements/GLNPO/GLENDA T.csv')

/Users/imarkelo/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (37,38,44,45,47,48,50,51,54,55,57,58,61,62,64,65,68,69,71,72,75,76,78,79,82,83,85,86,89,90,92,93,96,97,99,100) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.groupby(['STATION_ID']).count()

,Row,YEAR,MONTH,SEASON,LAKE,CRUISE_ID,VISIT_ID,STN_DEPTH_M,LATITUDE,LONGITUDE,...,METHOD_11,RESULT_REMARK_11,ANL_CODE_12,ANALYTE_12,VALUE_12,UNITS_12,FRACTION_12,METHOD_12,RESULT_REMARK_12,Unnamed: 103
STATION_ID,,,,,,,,,,,,,,,,,,,,,
ER01,3,3,3,3,3,0,3,3,3,3,...,0,0,0,0,0,0,0,0,0,0
ER09,580,580,580,554,580,322,580,336,336,336,...,0,0,2,2,2,2,2,0,0,0
ER09H8501,1,1,1,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ER09H8502,2,2,2,0,2,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ER10,482,482,482,475,482,308,482,321,321,321,...,0,0,0,0,0,0,0,0,0,0
ER15H,2,2,2,0,2,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ER15H8501,2,2,2,0,2,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ER15H8502,2,2,2,0,2,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ER15M,817,817,817,770,817,411,817,428,428,428,...,0,0,0,0,0,0,0,0,0,0
ER18,72,72,72,56,72,0,72,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ER18H,2,2,2,0,2,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ER18H8501,2,2,2,0,2,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ER18H8502,2,2,2,0,2,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ER30,409,409,409,402,409,254,409,267,267,267,...,0,0,0,0,0,0,0,0,0,0
ER31,413,413,413,406,413,253,413,265,265,265,...,0,0,0,0,0,0,0,0,0,0
ER32,409,409,409,402,409,257,409,269,269,269,...,0,0,0,0,0,0,0,0,0,0
ER36,422,422,422,414,422,257,422,270,270,270,...,0,0,0,0,0,0,0,0,0,0
ER37,487,487,487,465,487,261,487,273,273,273,...,0,0,0,0,0,0,0,0,0,0
ER38,411,411,411,404,411,254,411,267,267,267,...,0,0,0,0,0,0,0,0,0,0
ER42,476,476,476,454,476,253,476,265,265,265,...,0,0,0,0,0,0,0,0,0,0
ER43,412,412,412,404,412,247,412,259,259,259,...,0,0,0,0,0,0,0,0,0,0
ER55,61,61,61,46,61,0,61,1,1,1,...,0,0,0,0,0,0,0,0,0,0
ER55H,2,2,2,0,2,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ER55H8501,2,2,2,0,2,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ER55H8502,2,2,2,0,2,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ER57,72,72,72,54,72,0,72,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ER57H,2,2,2,0,2,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ER57H8501,2,2,2,0,2,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ER57H8502,2,2,2,0,2,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ER58,293,293,293,293,293,203,293,215,215,215,...,0,0,0,0,0,0,0,0,0,0
ER59,288,288,288,288,288,199,288,210,210,210,...,0,0,0,0,0,0,0,0,0,0
ER60,335,335,335,323,335,190,335,202,202,202,...,0,0,0,0,0,0,0,0,0,0
ER60H,2,2,2,0,2,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ER60H8501,2,2,2,0,2,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ER60H8502,2,2,2,0,2,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ER61,296,296,296,296,296,203,296,215,215,215,...,0,0,0,0,0,0,0,0,0,0
ER63,510,510,510,503,510,327,510,341,341,341,...,0,0,0,0,0,0,0,0,0,0
ER73,471,471,471,449,471,253,471,266,266,266,...,0,0,0,0,0,0,0,0,0,0
ER73H,2,2,2,0,2,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ER73H8501,2,2,2,0,2,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ER73H8502,2,2,2,0,2,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ER78H,2,2,2,0,2,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ER78H8501,2,2,2,0,2,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ER78H8502,2,2,2,0,2,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ER78M,550,550,550,519,550,289,550,302,302,302,...,0,0,0,0,0,0,0,0,0,0
ER79,55,55,55,43,55,0,55,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ER79H,2,2,2,0,2,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ER79H8501,2,2,2,0,2,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ER79H8502,2,2,2,0,2,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ER91M,296,296,296,296,296,201,296,214,214,214,...,0,0,0,0,0,0,0,0,0,0
ER92,294,294,294,294,294,202,294,215,215,215,...,0,0,0,0,0,0,0,0,0,0
ER93B,14,14,14,14,14,12,14,14,14,14,...,0,0,0,0,0,0,0,0,0,0
ER95B,14,14,14,14,14,12,14,14,14,14,...,0,0,0,0,0,0,0,0,0,0
ERFE,59,59,59,59,59,59,59,59,59,59,...,0,0,0,0,0,0,0,0,0,0
ERFO,75,75,75,75,75,75,75,75,75,75,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df[df['STATION_ID']=='ER63'].groupby(['YEAR']).count()

,Row,MONTH,SEASON,LAKE,CRUISE_ID,VISIT_ID,STATION_ID,STN_DEPTH_M,LATITUDE,LONGITUDE,...,METHOD_11,RESULT_REMARK_11,ANL_CODE_12,ANALYTE_12,VALUE_12,UNITS_12,FRACTION_12,METHOD_12,RESULT_REMARK_12,Unnamed: 103
YEAR,,,,,,,,,,,,,,,,,,,,,
1985,29,29,22,29,0,29,29,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1986,19,19,19,19,0,19,19,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1987,25,25,25,25,0,25,25,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1988,22,22,22,22,0,22,22,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1989,14,14,14,14,0,14,14,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1990,22,22,22,22,0,22,22,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1991,22,22,22,22,0,22,22,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1992,8,8,8,8,0,8,8,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1993,8,8,8,8,0,8,8,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1996,3,3,3,3,0,3,3,3,3,3,...,0,0,0,0,0,0,0,0,0,0
1997,3,3,3,3,0,3,3,3,3,3,...,0,0,0,0,0,0,0,0,0,0
1998,6,6,6,6,0,6,6,6,6,6,...,0,0,0,0,0,0,0,0,0,0
1999,2,2,2,2,0,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
2000,10,10,10,10,10,10,10,10,10,10,...,0,0,0,0,0,0,0,0,0,0
2001,17,17,17,17,17,17,17,17,17,17,...,0,0,0,0,0,0,0,0,0,0
2002,23,23,23,23,23,23,23,23,23,23,...,0,0,0,0,0,0,0,0,0,0
2003,31,31,31,31,31,31,31,31,31,31,...,0,0,0,0,0,0,0,0,0,0
2004,17,17,17,17,17,17,17,17,17,17,...,0,0,0,0,0,0,0,0,0,0
2005,21,21,21,21,21,21,21,21,21,21,...,0,0,0,0,0,0,0,0,0,0
2006,18,18,18,18,18,18,18,18,18,18,...,0,0,0,0,0,0,0,0,0,0
2007,17,17,17,17,17,17,17,17,17,17,...,0,0,0,0,0,0,0,0,0,0
2008,18,18,18,18,18,18,18,18,18,18,...,0,0,0,0,0,0,0,0,0,0
2009,20,20,20,20,20,20,20,20,20,20,...,0,0,0,0,0,0,0,0,0,0
2010,18,18,18,18,18,18,18,18,18,18,...,0,0,0,0,0,0,0,0,0,0
2011,18,18,18,18,18,18,18,18,18,18,...,0,0,0,0,0,0,0,0,0,0
2012,14,14,14,14,14,14,14,14,14,14,...,0,0,0,0,0,0,0,0,0,0
2013,15,15,15,15,15,15,15,15,15,15,...,0,0,0,0,0,0,0,0,0,0
2014,14,14,14,14,14,14,14,14,14,14,...,0,0,0,0,0,0,0,0,0,0
2015,14,14,14,14,14,14,14,14,14,14,...,0,0,0,0,0,0,0,0,0,0
2016,16,16,16,16,16,16,16,16,16,16,...,0,0,0,0,0,0,0,0,0,0
2017,16,16,16,16,16,16,16,16,16,16,...,0,0,0,0,0,0,0,0,0,0
2018,10,10,10,10,10,10,10,10,10,10,...,0,0,0,0,0,0,0,0,0,0

In [11]:
df.columns[10:]

Index(['LONGITUDE', 'SAMPLING_DATE', 'TIME_ZONE', 'SAMPLE_DEPTH_M',
       'DEPTH_CODE', 'MEDIUM', 'SAMPLE_TYPE', 'QC_TYPE', 'SAMPLE_ID',
       'ANL_CODE_1', 'ANALYTE_1', 'VALUE_1', 'UNITS_1', 'FRACTION_1',
       'METHOD_1', 'RESULT_REMARK_1', 'ANL_CODE_2', 'ANALYTE_2', 'VALUE_2',
       'UNITS_2', 'FRACTION_2', 'METHOD_2', 'RESULT_REMARK_2', 'ANL_CODE_3',
       'ANALYTE_3', 'VALUE_3', 'UNITS_3', 'FRACTION_3', 'METHOD_3',
       'RESULT_REMARK_3', 'ANL_CODE_4', 'ANALYTE_4', 'VALUE_4', 'UNITS_4',
       'FRACTION_4', 'METHOD_4', 'RESULT_REMARK_4', 'ANL_CODE_5', 'ANALYTE_5',
       'VALUE_5', 'UNITS_5', 'FRACTION_5', 'METHOD_5', 'RESULT_REMARK_5',
       'ANL_CODE_6', 'ANALYTE_6', 'VALUE_6', 'UNITS_6', 'FRACTION_6',
       'METHOD_6', 'RESULT_REMARK_6', 'ANL_CODE_7', 'ANALYTE_7', 'VALUE_7',
       'UNITS_7', 'FRACTION_7', 'METHOD_7', 'RESULT_REMARK_7', 'ANL_CODE_8',
       'ANALYTE_8', 'VALUE_8', 'UNITS_8', 'FRACTION_8', 'METHOD_8',
       'RESULT_REMARK_8', 'ANL_CODE_9', 'ANALYTE_9', 'VALUE_9', 'UNITS_9',
       'FRACTION_9', 'METHOD_9', 'RESULT_REMARK_9', 'ANL_CODE_10',
       'ANALYTE_10', 'VALUE_10', 'UNITS_10', 'FRACTION_10', 'METHOD_10',
       'RESULT_REMARK_10', 'ANL_CODE_11', 'ANALYTE_11', 'VALUE_11', 'UNITS_11',
       'FRACTION_11', 'METHOD_11', 'RESULT_REMARK_11', 'ANL_CODE_12',
       'ANALYTE_12', 'VALUE_12', 'UNITS_12', 'FRACTION_12', 'METHOD_12',
       'RESULT_REMARK_12', 'Unnamed: 103'],
      dtype='object')

In [12]:
df[df['STATION_ID']=='ER15M'].groupby(['YEAR', 'MONTH', 'SAMPLE_DEPTH_M']).count()

                               Row  SEASON  LAKE  CRUISE_ID  VISIT_ID  \
YEAR MONTH     SAMPLE_DEPTH_M
1983 April     0.91              2       2     2          0         2
               4.27              2       2     2          0         2
               10.06             2       2     2          0         2
               18.90             1       1     1          0         1
               19.20             1       1     1          0         1
               29.57             1       1     1          0         1
               29.87             1       1     1          0         1
               39.93             1       1     1          0         1
               40.23             1       1     1          0         1
               48.77             1       1     1          0         1
               49.68             1       1     1          0         1
               56.39             1       1     1          0         1
               57.61             1       1     1          0         1
     August    0.91              3       3     3          0         3
               4.57              2       2     2          0         2
               4.88              1       1     1          0         1
               10.06             3       3     3          0         3
               17.37             1       1     1          0         1
               20.12             1       1     1          0         1
               22.25             1       1     1          0         1
               29.26             1       1     1          0         1
               29.87             1       1     1          0         1
               39.62             1       1     1          0         1
               39.93             1       1     1          0         1
               40.23             1       1     1          0         1
               49.68             1       1     1          0         1
               50.29             1       1     1          0         1
               51.21             1       1     1          0         1
               57.00             1       1     1          0         1
               58.22             2       2     2          0         2
...                            ...     ...   ...        ...       ...
2016 August    14.00             1       1     1          1         1
               19.00             1       1     1          1         1
               25.50             1       1     1          1         1
               28.10             1       1     1          1         1
               40.00             1       1     1          1         1
               52.00             1       1     1          1         1
               61.10             1       1     1          1         1
2017 April     2.20              1       1     1          1         1
               5.20              1       1     1          1         1
               10.10             2       2     2          2         2
               20.20             1       1     1          1         1
               30.10             1       1     1          1         1
               40.20             1       1     1          1         1
               52.10             1       1     1          1         1
               60.40             1       1     1          1         1
     August    2.00              1       1     1          1         1
               6.50              1       1     1          1         1
               13.00             1       1     1          1         1
               16.00             1       1     1          1         1
               28.00             1       1     1          1         1
               40.00             1       1     1          1         1
               51.90             2       2     2          2         2
2018 April     2.00              1       1     1          1         1
               5.00              1       1     1          1         1
               10.00             2       2     2          2         2
               20.00             1       1     1          1         1
               30.00             1       1     1          1         1
               40.00             1       1     1          1         1
               52.10             1       1     1          1         1
               60.70             1       1     1          1         1

                               STATION_ID  STN_DEPTH_M  LATITUDE  LONGITUDE  \
YEAR MONTH     SAMPLE_DEPTH_M
1983 April     0.91                     2            0         0          0
               4.27                     2            0         0          0
               10.06                    2            0         0          0
               18.90                    1            0         0          0
               19.20                    1            0         0          0
               29.57                    1            0         0          0
               29.87                    1            0         0          0
               39.93                    1            0         0          0
               40.23                    1            0         0          0
               48.77                    1            0         0          0
               49.68                    1            0         0          0
               56.39                    1            0         0          0
               57.61                    1            0         0          0
     August    0.91                     3            0         0          0
               4.57                     2            0         0          0
               4.88                     1            0         0          0
               10.06                    3            0         0          0
               17.37                    1            0         0          0
               20.12                    1            0         0          0
               22.25                    1            0         0          0
               29.26                    1            0         0          0
               29.87                    1            0         0          0
               39.62                    1            0         0          0
               39.93                    1            0         0          0
               40.23                    1            0         0          0
               49.68                    1            0         0          0
               50.29                    1            0         0          0
               51.21                    1            0         0          0
               57.00                    1            0         0          0
               58.22                    2            0         0          0
...                                   ...          ...       ...        ...
2016 August    14.00                    1            1         1          1
               19.00                    1            1         1          1
               25.50                    1            1         1          1
               28.10                    1            1         1          1
               40.00                    1            1         1          1
               52.00                    1            1         1          1
               61.10                    1            1         1          1
2017 April     2.20                     1            1         1          1
               5.20                     1            1         1          1
               10.10                    2            2         2          2
               20.20                    1            1         1          1
               30.10                    1            1         1          1
               40.20                    1            1         1          1
               52.10                    1            1         1          1
               60.40                    1            1         1          1
     August    2.00                     1            1         1          1
               6.50                     1            1         1          1
               13.00                    1            1         1          1
               16.00                    1            1         1          1
               28.00                    1            1         1          1
               40.00                    1            1         1          1
               51.90                    2            2         2          2
2018 April     2.00                     1            1         1          1
               5.00                     1            1         1          1
               10.00                    2            2         2          2
               20.00                    1            1         1          1
               30.00                    1            1         1          1
               40.00                    1            1         1          1
               52.10                    1            1         1          1
               60.70                    1            1         1          1

                               SAMPLING_DATE      ...       METHOD_11  \
YEAR MONTH     SAMPLE_DEPTH_M                     ...
1983 April     0.91                        2      ...               0
               4.27                        2      ...               0
               10.06                       2      ...               0
               18.90                       1      ...               0
               19.20                       1      ...               0
               29.57                       1      ...               0
               29.87                       1      ...               0
               39.93                       1      ...               0
               40.23                       1      ...               0
               48.77                       1      ...               0
               49.68                       1      ...               0
               56.39                       1      ...               0
               57.61                       1      ...               0
     August    0.91                        3      ...               0
               4.57                        2      ...               0
               4.88                        1      ...               0
               10.06                       3      ...               0
               17.37                       1      ...               0
               20.12                       1      ...               0
               22.25                       1      ...               0
               29.26                       1      ...               0
               29.87                       1      ...               0
               39.62                       1      ...               0
               39.93                       1      ...               0
               40.23                       1      ...               0
               49.68                       1      ...               0
               50.29                       1      ...               0
               51.21                       1      ...               0
               57.00                       1      ...               0
               58.22                       2      ...               0
...                                      ...      ...             ...
2016 August    14.00                       1      ...               0
               19.00                       1      ...               0
               25.50                       1      ...               0
               28.10                       1      ...               0
               40.00                       1      ...               0
               52.00                       1      ...               0
               61.10                       1      ...               0
2017 April     2.20                        1      ...               0
               5.20                        1      ...               0
               10.10                       2      ...               0
               20.20                       1      ...               0
               30.10                       1      ...               0
               40.20                       1      ...               0
               52.10                       1      ...               0
               60.40                       1      ...               0
     August    2.00                        1      ...               0
               6.50                        1      ...               0
               13.00                       1      ...               0
               16.00                       1      ...               0
               28.00                       1      ...               0
               40.00                       1      ...               0
               51.90                       2      ...               0
2018 April     2.00                        1      ...               0
               5.00                        1      ...               0
               10.00                       2      ...               0
               20.00                       1      ...               0
               30.00                       1      ...               0
               40.00                       1      ...               0
               52.10                       1      ...               0
               60.70                       1      ...               0

                               RESULT_REMARK_11  ANL_CODE_12  ANALYTE_12  \
YEAR MONTH     SAMPLE_DEPTH_M
1983 April     0.91                           0            0           0
               4.27                           0            0           0
               10.06                          0            0           0
               18.90                          0            0           0
               19.20                          0            0           0
               29.57                          0            0           0
               29.87                          0            0           0
               39.93                          0            0           0
               40.23                          0            0           0
               48.77                          0            0           0
               49.68                          0            0           0
               56.39                          0            0           0
               57.61                          0            0           0
     August    0.91                           0            0           0
               4.57                           0            0           0
               4.88                           0            0           0
               10.06                          0            0           0
               17.37                          0            0           0
               20.12                          0            0           0
               22.25                          0            0           0
               29.26                          0            0           0
               29.87                          0            0           0
               39.62                          0            0           0
               39.93                          0            0           0
               40.23                          0            0           0
               49.68                          0            0           0
               50.29                          0            0           0
               51.21                          0            0           0
               57.00                          0            0           0
               58.22                          0            0           0
...                                         ...          ...         ...
2016 August    14.00                          0            0           0
               19.00                          0            0           0
               25.50                          0            0           0
               28.10                          0            0           0
               40.00                          0            0           0
               52.00                          0            0           0
               61.10                          0            0           0
2017 April     2.20                           0            0           0
               5.20                           0            0           0
               10.10                          0            0           0
               20.20                          0            0           0
               30.10                          0            0           0
               40.20                          0            0           0
               52.10                          0            0           0
               60.40                          0            0           0
     August    2.00                           0            0           0
               6.50                           0            0           0
               13.00                          0            0           0
               16.00                          0            0           0
               28.00                          0            0           0
               40.00                          0            0           0
               51.90                          0            0           0
2018 April     2.00                           0            0           0
               5.00                           0            0           0
               10.00                          0            0           0
               20.00                          0            0           0
               30.00                          0            0           0
               40.00                          0            0           0
               52.10                          0            0           0
               60.70                          0            0           0

                               VALUE_12  UNITS_12  FRACTION_12  METHOD_12  \
YEAR MONTH     SAMPLE_DEPTH_M
1983 April     0.91                   0         0            0          0
               4.27                   0         0            0          0
               10.06                  0         0            0          0
               18.90                  0         0            0          0
               19.20                  0         0            0          0
               29.57                  0         0            0          0
               29.87                  0         0            0          0
               39.93                  0         0            0          0
               40.23                  0         0            0          0
               48.77                  0         0            0          0
               49.68                  0         0            0          0
               56.39                  0         0            0          0
               57.61                  0         0            0          0
     August    0.91                   0         0            0          0
               4.57                   0         0            0          0
               4.88                   0         0            0          0
               10.06                  0         0            0          0
               17.37                  0         0            0          0
               20.12                  0         0            0          0
               22.25                  0         0            0          0
               29.26                  0         0            0          0
               29.87                  0         0            0          0
               39.62                  0         0            0          0
               39.93                  0         0            0          0

In [48]:
years=np.linspace(2000, 2015, 16)
months = df.MONTH.unique()[:2]
dfs = {}
for y in years:
    for m in months:
        dfs[" ".join([str(y),str(m)]).strip()]=df[(df['YEAR']==y) & (df['MONTH']==m)& (df['STATION_ID']=='ER15M')]

In [49]:
dfs.keys()

dict_keys(['2000.0 August', '2000.0 April', '2001.0 August', '2001.0 April', '2002.0 August', '2002.0 April', '2003.0 August', '2003.0 April', '2004.0 August', '2004.0 April', '2005.0 August', '2005.0 April', '2006.0 August', '2006.0 April', '2007.0 August', '2007.0 April', '2008.0 August', '2008.0 April', '2009.0 August', '2009.0 April', '2010.0 August', '2010.0 April', '2011.0 August', '2011.0 April', '2012.0 August', '2012.0 April', '2013.0 August', '2013.0 April', '2014.0 August', '2014.0 April', '2015.0 August', '2015.0 April'])

In [50]:
dfs['2015.0 April'][['SAMPLE_DEPTH_M','VALUE_1','UNITS_1','VALUE_3']]

      SAMPLE_DEPTH_M              VALUE_1 UNITS_1  VALUE_3
3965             NaN  No result reported.       C      NaN
3968             2.0                  1.1       C      NaN
3969             5.0                  1.1       C      NaN
3970            10.0                  1.1       C      NaN
3971            20.0                  1.2       C      NaN
3972            30.0                  1.2       C      NaN
3973            40.0                  1.2       C      NaN
3974            52.8                  1.4       C      NaN
3975            61.4                  1.4       C      NaN

In [80]:
dfs['2011.0 April'][['SAMPLE_DEPTH_M','VALUE_1','UNITS_1','VALUE_3','SAMPLING_DATE']]

      SAMPLE_DEPTH_M              VALUE_1 UNITS_1  VALUE_3     SAMPLING_DATE
3109             NaN  No result reported.       C      NaN  2011/04/13 02:33
3118             2.0                  1.3       C      NaN  2011/04/13 02:33
3119             4.9                  1.3       C      NaN  2011/04/13 02:33
3120            10.0                  1.3       C      NaN  2011/04/13 02:33
3121            20.0                  1.3       C      NaN  2011/04/13 02:33
3122            30.1                  1.3       C      NaN  2011/04/13 02:33
3123            40.1                  1.3       C      NaN  2011/04/13 02:33
3124            52.2                  1.3       C      NaN  2011/04/13 02:33
3125            61.1                  1.4       C      NaN  2011/04/13 02:33

In [81]:
dfs['2011.0 August'][['SAMPLE_DEPTH_M','VALUE_1','UNITS_1','VALUE_3','SAMPLING_DATE']]

      SAMPLE_DEPTH_M VALUE_1 UNITS_1  VALUE_3     SAMPLING_DATE
3157             NaN    24.4       C      NaN  2011/08/11 08:09
3160             2.3    23.9       C      NaN  2011/08/11 08:09
3161             5.4    23.9       C      NaN  2011/08/11 08:09
3162            11.1    23.9       C      NaN  2011/08/11 08:09
3163            14.5    13.6       C      NaN  2011/08/11 08:09
3164            28.4     5.5       C      NaN  2011/08/11 08:09
3165            45.2     4.7       C      NaN  2011/08/11 08:08
3166            40.2    24.4       C      NaN  2011/08/11 08:09
3167            52.7     4.7       C      NaN  2011/08/11 08:09
3168            61.4     4.7       C      NaN  2011/08/11 08:09

In [117]:
df2=df[pd.to_numeric(df['SAMPLE_DEPTH_M'], errors='coerce').notnull()]
df2=df2[pd.to_numeric(df2['VALUE_1'], errors='coerce').notnull()]
df2['SAMPLE_DEPTH_M']=df2[['SAMPLE_DEPTH_M']].apply(pd.to_numeric)
df2['SAMPLE_DEPTH_M']=df2[['SAMPLE_DEPTH_M']]*-1
df2['VALUE_1']=df2[['VALUE_1']].apply(pd.to_numeric)

In [73]:
df2[df2['STATION_ID']=='ER15M'][['SAMPLING_DATE', 'SAMPLE_DEPTH_M','VALUE_1']].sort_values(by=['SAMPLE_DEPTH_M']).to_csv('Temperature_ER15M.csv', index=False)

In [75]:
df2[df2['STATION_ID']=='ER15M'][['SAMPLING_DATE', 'SAMPLE_DEPTH_M','VALUE_1']].sort_values(by=['SAMPLE_DEPTH_M'])

         SAMPLING_DATE  SAMPLE_DEPTH_M  VALUE_1
383   2001/08/05 07:30            0.00    25.00
1097  2003/08/09 04:07            0.00     0.00
1985  2006/08/12 08:59            0.00     0.00
1223  2004/04/10 21:17            0.00     0.80
1372  2004/08/07 03:30            0.00    20.50
1375  2004/08/07 03:30            0.00     0.00
1511  2005/04/08 07:50            0.00     0.00
3737  2014/04/14 16:38            0.00     0.00
3400  2012/08/11 04:45            0.00     0.00
876   2003/04/18 23:46            0.00     1.11
1554  2005/04/12 01:30            0.00     0.00
2726  2009/08/19 17:23            0.00     0.00
2594  2009/04/16 09:31            0.00     0.00
1704  2005/08/11 04:45            0.00     0.00
2467  2008/08/11 03:05            0.00     0.00
2331  2008/04/23 04:40            0.00     0.00
2104  2007/04/09 19:17            0.00     0.00
2102  2007/04/09 19:17            0.00     0.00
1829  2006/04/09 17:30            0.00     0.00
2852  2010/04/10 11:22            0.00     1.80
835   2003/04/15 07:43            0.00     0.65
1982  2006/08/12 08:59            0.00     0.00
497   2002/04/08 12:26            0.00     1.80
7123  1988/08/18 13:45            0.91    25.10
5238  1984/08/06 19:04            0.91    22.80
5230  1984/05/01 23:32            0.91     2.00
5222  1984/04/20 04:35            0.91     0.95
4909  1983/10/21 15:00            0.91    14.40
7521  1990/04/18 15:05            0.91     2.30
4901  1983/08/23 01:35            0.91    20.20
...                ...             ...      ...
1729  2005/08/11 04:45           60.70     4.80
4650  2018/04/08 22:31           60.70     0.90
857   2003/04/15 07:43           60.80     0.65
1537  2005/04/08 07:50           60.90     1.20
1536  2005/04/08 07:50           60.90     1.20
3514  2013/04/03 15:14           60.90     0.70
3410  2012/08/11 04:45           61.00     5.60
1123  2003/08/09 04:07           61.00     5.20
900   2003/04/18 23:46           61.00     1.11
4317  2016/08/12 14:56           61.10     5.50
3125  2011/04/13 02:33           61.10     1.40
3636  2013/08/11 03:10           61.20     5.70
3861  2014/08/15 16:31           61.30     4.60
2350  2008/04/23 04:40           61.30     2.30
3168  2011/08/11 08:09           61.40     4.70
2224  2007/08/09 05:40           61.40     4.30
3975  2015/04/26 10:03           61.40     1.40
1852  2006/04/09 17:30           61.50     1.90
4092  2015/08/12 14:34           61.50     5.70
3010  2010/08/10 21:59           61.50     5.80
2121  2007/04/09 19:17           61.70     0.90
3290  2012/04/09 02:55           61.70     3.70
3279  2012/04/09 02:55           61.70     3.70
3745  2014/04/25 00:23           61.70     1.30
2872  2010/04/10 11:22           61.80     1.70
2849  2010/04/10 11:22           61.80     1.70
2742  2009/08/19 17:23           61.80     5.10
2004  2006/08/12 08:59           61.80     5.10
4197  2016/04/06 13:13           62.00     3.20
2610  2009/04/16 09:31           62.00     2.60

[736 rows x 3 columns]

In [94]:
a = df2[df2['STATION_ID']=='ER15M']['SAMPLING_DATE'].unique()

In [97]:
np.sort(a)

array(['1983/04/26 02:10', '1983/04/27 08:15', '1983/05/09 23:18',
       '1983/08/07 21:55', '1983/08/09 04:17', '1983/08/23 01:35',
       '1983/10/21 15:00', '1983/10/21 22:30', '1984/04/18 22:00',
       '1984/04/20 04:35', '1984/05/01 23:32', '1984/08/06 19:04',
       '1984/08/08 01:20', '1984/08/20 14:45', '1984/12/05 13:12',
       '1984/12/05 23:35', '1985/04/26 03:54', '1985/04/27 11:55',
       '1985/08/08 04:40', '1985/08/13 01:05', '1985/11/22 21:10',
       '1985/11/23 19:50', '1986/04/19 08:20', '1986/04/26 10:55',
       '1986/08/07 23:20', '1986/08/14 10:40', '1987/04/03 21:25',
       '1987/04/06 02:55', '1987/04/19 16:55', '1987/08/01 13:45',
       '1987/08/16 11:35', '1988/04/09 21:20', '1988/04/16 02:05',
       '1988/08/12 19:10', '1988/08/18 13:45', '1989/08/14 16:30',
       '1989/08/20 01:55', '1990/04/12 01:13', '1990/04/18 15:05',
       '1990/08/10 04:25', '1990/08/16 01:34', '1991/04/07 01:40',
       '1991/04/14 10:42', '1991/08/09 13:00', '1991/08/15 07:00',
       '1992/04/03 20:00', '1992/04/09 11:15', '1993/04/11 07:25',
       '1993/04/16 16:05', '1998/04/09 07:20', '2001/08/05 07:30',
       '2002/04/08 12:26', '2002/04/23 06:59', '2002/08/07 18:32',
       '2003/04/15 07:43', '2003/04/18 23:46', '2003/08/09 04:07',
       '2004/04/10 21:17', '2004/08/07 03:30', '2005/04/08 07:50',
       '2005/04/08 08:20', '2005/04/12 01:30', '2005/08/11 04:45',
       '2006/04/09 17:30', '2006/08/12 08:59', '2007/04/09 19:17',
       '2007/08/09 05:40', '2008/04/23 04:40', '2008/08/11 03:05',
       '2009/04/16 09:31', '2009/08/19 17:23', '2010/04/10 11:22',
       '2010/08/10 21:59', '2011/04/13 02:33', '2011/08/11 08:08',
       '2011/08/11 08:09', '2012/04/09 02:55', '2012/08/11 04:45',
       '2013/04/03 15:14', '2013/08/11 03:10', '2014/04/14 16:38',
       '2014/04/25 00:23', '2014/08/15 16:31', '2015/04/26 10:03',
       '2015/08/12 14:34', '2016/04/06 13:13', '2016/08/12 14:56',
       '2017/04/07 04:29', '2017/08/14 17:18', '2018/04/08 22:31'],
      dtype=object)

In [125]:
df2[(df2['STATION_ID']=='ER15M') & ((df2['MONTH']=='April') | (df2['MONTH']=='August'))].groupby(['YEAR', 'MONTH', 'SAMPLE_DEPTH_M']).mean()['VALUE_1']

Series([], Name: VALUE_1, dtype: float64)

In [133]:
df2[(df2['STATION_ID']=='ER15M') & ((df2['MONTH']=='April    ') | (df2['MONTH']=='August   '))].groupby(['YEAR', 'MONTH', 'SAMPLE_DEPTH_M']).mean()['VALUE_1'].unstack(level=0).unstack(level=0).to_csv('temp_all_dates.csv')

In [127]:
df2.MONTH.unique()

array(['April    ', 'August   ', 'May      ', 'October  ', 'December ',
       'February ', 'November ', 'January  ', 'July     '], dtype=object)