In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

sns.set_style("whitegrid")
plt.rcParams.update({'font.size': 32})
sns.set_context("poster", rc={"font.size":34,"axes.titlesize":34,"axes.labelsize":34, "lines.linewidth": 2})  
plt.rcParams['figure.figsize'] = 18, 12

pd.options.display.max_columns = 999
pd.options.display.max_rows = 9999


from datetime import datetime
str(datetime.now())

'2018-09-24 11:15:20.479640'

In [2]:
df = pd.read_csv('../../measurements/Scavia paper/TP load Erie.csv')

    Year   TP load(tonnes/y)
0   1967           23456.752
1   1968           27950.846
2   1969           26958.547
3   1970           23760.684
4   1971           18081.711
5   1972           22260.527
6   1973           20511.760
7   1974           19474.770
8   1975           12974.784
9   1976           15036.352
10  1977           14195.127
11  1978           19052.736
12  1979           11583.857
13  1980           14504.737
14  1981           10064.546
15  1982           12004.113
16  1983            9495.691
17  1984           12439.976
18  1985           10790.510
19  1986           10796.183
20  1987            8023.194
21  1988            7291.911
22  1989            7939.499
23  1990           12296.698
24  1991           10539.422
25  1992            7363.550
26  1993           11556.193
27  1994            7121.325
28  1995            7127.708
29  1996           11024.577
30  1997           16302.799
31  1998           12225.060
32  1999            5930.773
33  2000            7854.027
34  2001            6719.510
35  2002            9109.123
36  2003            7962.194
37  2004            8863.707
38  2005            9252.403
39  2006            8846.331
40  2007           11875.732
41  2008           10740.504
42  2009            8447.707
43  2010            5802.746
44  2011            8530.341