In [299]:
import hydrofunctions as hf
import pandas as pd
import numpy as np
from zipfile import ZipFile
import os
import datetime
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set_style("ticks")

import matplotlib.pyplot as plt
import numpy as np

from matplotlib import rc
import matplotlib.ticker as tkr
import matplotlib.dates as mdates
from datetime import datetime, timedelta
from matplotlib.colors import ListedColormap
import seaborn as sns
sns.set_style("whitegrid")
sns.set_style("ticks")
import scipy.io as sio
import cmocean

import sys
sys.path.append('../../')


import warnings
warnings.filterwarnings('ignore')

%matplotlib inline


sns.set_style("whitegrid")
sns.set_style("ticks")

rc('text', usetex=False)
rc("savefig", dpi=90)
rc("figure", dpi=90)

plt.rcParams['figure.figsize'] = 6, 4

import pandas as pd

pd.options.display.max_columns = 999
pd.options.display.max_rows = 400

import h5py

from datetime import datetime
str(datetime.now())

'2019-04-10 18:03:06.303273'

In [300]:
ca_stations = pd.read_excel('canadian_stations.xlsx')

# Missing stations in the data

In [301]:
WSC_FLOWS = pd.read_pickle('../../Loadings Canada 2/data/WSC_FLOWS')

In [302]:
missing_stations = set(ca_stations['station'].values) - set(WSC_FLOWS.columns)
missing_stations

{'02GG010', '02GG011', '02GH005', 14827}

In [303]:
WSC_STATIONS = pd.read_pickle('../../Loadings Canada 2/data/WSC_STATIONS')

In [304]:
WSC_STATIONS[WSC_STATIONS.STATION_NUMBER.isin(missing_stations)]

,STATION_NUMBER,STATION_NAME,PROV_TERR_STATE_LOC,REGIONAL_OFFICE_ID,HYD_STATUS,SED_STATUS,LATITUDE,LONGITUDE,DRAINAGE_AREA_GROSS,DRAINAGE_AREA_EFFECT,RHBN,REAL_TIME,CONTRIBUTOR_ID,OPERATOR_ID,DATUM_ID,Level,Flow
859,02GG010,ST. CLAIR RIVER AT POINT EDWARD,ON,5,A,NaN,42.991280,-82.421501,NaN,NaN,0,0,647.0,218.0,46.0,True,
860,02GG011,ST. CLAIR RIVER AT PORT LAMBTON,ON,5,A,NaN,42.657280,-82.507080,NaN,NaN,0,0,647.0,218.0,46.0,True,
867,02GH005,LAKE ST. CLAIR AT BELLE RIVER,ON,5,A,NaN,42.296169,-82.710861,NaN,NaN,0,0,647.0,218.0,46.0,True,

# Flows for present rivers

In [305]:
WSC_FLOWS[WSC_FLOWS.columns.intersection(ca_stations['station'].values)].head()

,02GA003,02GB001,02GB010,02GC002,02GC007,02GC008,02GC010,02GC014,02GC018,02GC021,02GC022,02GC026,02GC029,02GC030,02GC031,02GC036,02GE002,02GE003,02GE006,02GE007,02GG002,02GG003,02GG005,02GG006,02GG009,02GG013,02GH002,02GH003,02GH004,02GH011,02GH016,02HA003,02HA007,02HA013,02HA019,02HA024
1996-01-01,15.8,24.500000,0.395,0.42,4.40,2.12,1.70,NaN,0.490,NaN,1.76,3.10,0.170,0.250,0.078,NaN,17.299999,21.0,30.200001,0.175,3.18,4.65,NaN,0.302,1.75,NaN,0.185,0.055,0.070,0.013,NaN,5270.0,0.180,NaN,140.0,NaN
1996-01-02,15.6,24.200001,0.380,0.39,4.20,2.11,1.63,NaN,0.440,NaN,1.76,3.00,0.160,0.230,0.070,NaN,16.600000,20.0,29.500000,0.184,3.15,4.66,NaN,0.265,1.45,NaN,0.190,0.059,0.051,0.009,NaN,4590.0,0.170,NaN,139.0,NaN
1996-01-03,15.4,24.000000,0.350,0.38,3.75,1.88,1.50,NaN,0.421,NaN,1.72,2.75,0.145,0.222,0.066,NaN,14.400000,19.0,19.900000,0.170,2.85,4.35,NaN,0.240,1.10,NaN,0.180,0.056,0.049,0.007,NaN,4260.0,0.155,NaN,137.0,NaN
1996-01-04,15.2,23.799999,0.320,0.37,3.50,2.00,1.37,NaN,0.405,NaN,1.68,2.55,0.130,0.215,0.062,NaN,14.400000,23.1,17.299999,0.165,2.65,4.05,NaN,0.220,0.90,NaN,0.170,0.053,0.048,0.006,NaN,5390.0,0.140,NaN,139.0,NaN
1996-01-05,15.0,23.600000,0.310,0.36,3.30,1.95,1.29,NaN,0.397,NaN,1.65,2.40,0.115,0.210,0.060,NaN,15.600000,20.0,17.299999,0.155,2.45,3.80,NaN,0.200,0.70,NaN,0.165,0.045,0.047,0.005,NaN,5700.0,0.130,NaN,139.0,NaN

In [355]:
df = WSC_STATIONS[(WSC_STATIONS.STATION_NUMBER == '02GG014') | (
    WSC_STATIONS.STATION_NUMBER.isin(WSC_FLOWS.columns.intersection(ca_stations['station'].values)))][[
    'STATION_NAME',
    'STATION_NUMBER',
    'LATITUDE',
    'LONGITUDE',
    'DRAINAGE_AREA_GROSS'
]]
df['STATION_NAME'] = df['STATION_NAME'].apply(lambda x: x.title())
df['STATION_NAME'] = df['STATION_NAME'].apply(lambda x: x+' ON')
df['country'] = 'CA'
df = df.sort_values('DRAINAGE_AREA_GROSS', ascending=False)
df[['country', 'STATION_NAME', 'STATION_NUMBER', 'LATITUDE', 'LONGITUDE', 'DRAINAGE_AREA_GROSS']]

,country,STATION_NAME,STATION_NUMBER,LATITUDE,LONGITUDE,DRAINAGE_AREA_GROSS
878,CA,Niagara River At Queenston ON,02HA003,43.156941,-79.047218,686000.000000
882,CA,Niagara River At Fort Erie ON,02HA013,42.930279,-78.914169,683000.000000
862,CA,St. Clair River At Port Huron ON,02GG014,42.986939,-82.424721,576013.000000
768,CA,Grand River At Brantford ON,02GB001,43.132721,-80.267311,5200.000000
842,CA,Thames River At Thamesville ON,02GE003,42.544861,-81.967270,4370.000000
845,CA,Thames River Near Dutton ON,02GE006,42.730690,-81.577469,3820.000000
725,CA,Grand River At Galt ON,02GA003,43.353111,-80.315750,3520.000000
841,CA,Thames River At Byron ON,02GE002,42.962502,-81.331780,3080.000000
852,CA,Sydenham River At Florence ON,02GG003,42.650612,-82.008392,1150.000000
851,CA,Sydenham River Near Alvinston ON,02GG002,42.830810,-81.851723,701.000000
801,CA,Big Otter Creek Near Calton ON,02GC026,42.710670,-80.840813,665.000000
784,CA,Big Creek Near Walsingham ON,02GC007,42.685612,-80.538467,567.000000
858,CA,Bear Creek Below Brigden ON,02GG009,42.812031,-82.298424,536.000000
787,CA,Big Otter Creek At Tillsonburg ON,02GC010,42.857311,-80.723579,354.000000
780,CA,Kettle Creek At St. Thomas ON,02GC002,42.777691,-81.213997,331.000000
795,CA,Catfish Creek Near Sparta ON,02GC018,42.746078,-81.056938,295.000000
855,CA,Bear Creek Near Petrolia ON,02GG006,42.905830,-82.119110,249.000000
880,CA,Welland River Below Caistor Corners ON,02HA007,43.021778,-79.618019,223.000000
861,CA,Black Creek Near Bradshaw ON,02GG013,42.762440,-82.259216,213.000000
846,CA,Mcgregor Creek Near Chatham ON,02GE007,42.383499,-82.095062,204.000000
797,CA,Nanticoke Creek At Nanticoke ON,02GC022,42.809921,-80.076172,177.000000
777,CA,Mckenzie Creek Near Caledonia ON,02GB010,43.033939,-79.949806,173.000000
854,CA,Sydenham River At Strathroy ON,02GG005,42.958859,-81.627136,171.000000
865,CA,Canard River Near Lukerville ON,02GH003,42.158970,-83.018890,159.000000
785,CA,Lynn River At Simcoe ON,02GC008,42.823330,-80.289436,144.000000
804,CA,Kettle Creek Above St. Thomas ON,02GC029,42.835190,-81.134720,134.000000
805,CA,Catfish Creek At Aylmer ON,02GC030,42.773750,-80.982674,127.000000
864,CA,Ruscom River Near Ruscom Station ON,02GH002,42.211498,-82.629143,125.000000
806,CA,Dodd Creek Below Paynes Mills ON,02GC031,42.787392,-81.267502,99.599998
893,CA,Oswego Creek At Canborough ON,02HA024,42.991310,-79.678253,83.199997
796,CA,Venison Creek Near Walsingham ON,02GC021,42.653359,-80.548439,68.400002
791,CA,Young Creek Near Vittoria ON,02GC014,42.765751,-80.294579,65.800003
873,CA,Little River At Windsor ON,02GH011,42.309860,-82.928497,55.299999
811,CA,Silver Creek Near Grovesend ON,02GC036,42.675831,-80.953331,40.299999
866,CA,Turkey Creek At Windsor ON,02GH004,42.260502,-83.039833,29.600000
877,CA,Turkey Creek At South Windsor ON,02GH016,42.264080,-83.032417,14.600000
888,CA,Welland Canal Diversion From Lake Erie ON,02HA019,42.950001,-79.216667,NaN

In [320]:
df[df.STATION_NUMBER.isin(['02GB001', '02GE006', '02GG005', '02GH004', '02GH016'])]

,STATION_NAME,STATION_NUMBER,LATITUDE,LONGITUDE,DRAINAGE_AREA_GROSS,country
768,Grand River At Brantford ON,02GB001,43.132721,-80.267311,5200.0,CA
845,Thames River Near Dutton ON,02GE006,42.730690,-81.577469,3820.0,CA
854,Sydenham River At Strathroy ON,02GG005,42.958859,-81.627136,171.0,CA
866,Turkey Creek At Windsor ON,02GH004,42.260502,-83.039833,29.6,CA
877,Turkey Creek At South Windsor ON,02GH016,42.264080,-83.032417,14.6,CA

In [321]:
dictionary_of_ca_basins = {
    'SCR': ['St. Clair River At Port Huron ON','Bear Creek Below Brigden ON', 
            'Bear Creek Near Petrolia ON', 'Black Creek Near Bradshaw ON',
           ],
    'SCL': ['Mcgregor Creek Near Chatham ON', 'Ruscom River Near Ruscom Station ON',
           'Sydenham River At Florence ON', 'Sydenham River Near Alvinston ON',
            'Thames River Near Dutton ON', 'Sydenham River At Strathroy ON',
           'Thames River At Byron ON', 'Thames River At Thamesville ON',
           ],
    'DR': ['Canard River Near Lukerville ON', 'Little River At Windsor ON',
          'Turkey Creek At Windsor ON', 'Turkey Creek At South Windsor ON',
          ],
    'WB': [],
    'CB': ['Catfish Creek At Aylmer ON', 'Catfish Creek Near Sparta ON', 
           'Dodd Creek Below Paynes Mills ON', 'Kettle Creek Above St. Thomas ON',
          'Kettle Creek At St. Thomas ON', 'Silver Creek Near Grovesend ON',
           'Big Otter Creek Near Calton ON', 'Big Otter Creek At Tillsonburg ON', 
          ],
    'EB': ['Big Creek Near Walsingham ON', 'Grand River At Galt ON',
          'Lynn River At Simcoe ON','Mckenzie Creek Near Caledonia ON',
          'Nanticoke Creek At Nanticoke ON', 'Venison Creek Near Walsingham ON',
          'Young Creek Near Vittoria ON', 'Grand River At Brantford ON',
          ],
    'NR': ['Niagara River At Fort Erie ON', 'Niagara River At Queenston ON',
          'Oswego Creek At Canborough ON', 'Welland Canal Diversion From Lake Erie ON',
          'Welland River Below Caistor Corners ON', ],
}

In [322]:
ca_river_sorted = dictionary_of_ca_basins['SCR'] + \
dictionary_of_ca_basins['SCL'] + \
dictionary_of_ca_basins['DR'] + \
dictionary_of_ca_basins['WB'] + \
dictionary_of_ca_basins['CB'] + \
dictionary_of_ca_basins['EB'] + \
dictionary_of_ca_basins['NR']

ca_river_sorted

['St. Clair River At Port Huron ON',
 'Bear Creek Below Brigden ON',
 'Bear Creek Near Petrolia ON',
 'Black Creek Near Bradshaw ON',
 'Mcgregor Creek Near Chatham ON',
 'Ruscom River Near Ruscom Station ON',
 'Sydenham River At Florence ON',
 'Sydenham River Near Alvinston ON',
 'Thames River Near Dutton ON',
 'Sydenham River At Strathroy ON',
 'Thames River At Byron ON',
 'Thames River At Thamesville ON',
 'Canard River Near Lukerville ON',
 'Little River At Windsor ON',
 'Turkey Creek At Windsor ON',
 'Turkey Creek At South Windsor ON',
 'Catfish Creek At Aylmer ON',
 'Catfish Creek Near Sparta ON',
 'Dodd Creek Below Paynes Mills ON',
 'Kettle Creek Above St. Thomas ON',
 'Kettle Creek At St. Thomas ON',
 'Silver Creek Near Grovesend ON',
 'Big Otter Creek Near Calton ON',
 'Big Otter Creek At Tillsonburg ON',
 'Big Creek Near Walsingham ON',
 'Grand River At Galt ON',
 'Lynn River At Simcoe ON',
 'Mckenzie Creek Near Caledonia ON',
 'Nanticoke Creek At Nanticoke ON',
 'Venison Creek Near Walsingham ON',
 'Young Creek Near Vittoria ON',
 'Grand River At Brantford ON',
 'Niagara River At Fort Erie ON',
 'Niagara River At Queenston ON',
 'Oswego Creek At Canborough ON',
 'Welland Canal Diversion From Lake Erie ON',
 'Welland River Below Caistor Corners ON']

# US Rivers

In [323]:
us_stations = pd.read_excel('us_stations.xlsx')

In [324]:
us_stations.station.values

array([4159130, 4159492, 4159900, 4160600, 4165500, 4165710, 4166500,
       4167000, 4168400, 4168580, 4174500, 4174518, 4176500, 4177000,
       4193500, 4193999, 4195820, 4198000, 4199000, 4199155, 4199500,
       4200500, 4201500, 4201526, 4208504, 4208700, 4209000, 4212100,
       4213000, 4213075, 4213152, 4213500, 4214500, 4215000, 4215500,
       4216000, 4216220, 4218000, 4218518, 4159500, 4164500, 4168000,
       4176605, 4212500])

In [325]:
from zipfile import ZipFile

import pandas as pd
import pyperclip

stations = pd.read_csv('../../../measurements/USGS stream data/OHIO station info.csv')
stations_1 = pd.read_csv(ZipFile('../../../measurements/USGS stream data/MICHIGAN stations.zip').open(name='station.csv'))
stations_2 = pd.read_csv(ZipFile('../../../measurements/USGS stream data/NEW YORK stations.zip').open(name='station.csv'))
stations = stations.append(stations_1.append(stations_2))

In [326]:
def append_name(x):
    return 'USGS-0' + str(x)

station_names = list(map(append_name, us_stations.station.values))

In [356]:
res = stations[stations.MonitoringLocationIdentifier.isin(station_names)][
    ['MonitoringLocationIdentifier',
        'MonitoringLocationName',
     'LatitudeMeasure',
     'LongitudeMeasure',
     'DrainageAreaMeasure/MeasureValue',
    ]
]
res['MonitoringLocationName'] = res['MonitoringLocationName'].apply(lambda x: x.title())


res['DrainageAreaMeasure/MeasureValue'] = res['DrainageAreaMeasure/MeasureValue']/0.386102

res = res.rename(columns={'MonitoringLocationIdentifier': 'STATION_NUMBER', 
'MonitoringLocationName': 'STATION_NAME',
'LatitudeMeasure': 'LATITUDE',
'LongitudeMeasure': 'LONGITUDE',
'DrainageAreaMeasure/MeasureValue': 'DRAINAGE_AREA_GROSS'})

res['STATION_NUMBER'] = res['STATION_NUMBER'].apply(lambda x: x[5:])

res['country'] = 'US'
res = res.sort_values('DRAINAGE_AREA_GROSS', ascending=False)
res[['country', 'STATION_NAME', 'STATION_NUMBER', 'LATITUDE', 'LONGITUDE', 'DRAINAGE_AREA_GROSS']]

,country,STATION_NAME,STATION_NUMBER,LATITUDE,LONGITUDE,DRAINAGE_AREA_GROSS
6402,US,Niagara River At Black Rock Lock At Buffalo Ny,04216220,42.933946,-78.904481,682980.145143
6389,US,Niagara River At Buffalo Ny,04216000,42.877778,-78.916389,682980.145143
4333,US,"Detroit River At Fort Wayne At Detroit, Mi",04165710,42.298094,-83.092700,592589.522976
3964,US,"St. Clair River At Port Huron, Mi",04159130,42.986974,-82.424637,576013.592263
1161,US,Maumee River At Waterville Oh,04193500,41.500053,-83.712715,16394.631470
27675,US,Maumee River At Waterville Oh,04193500,41.500053,-83.712715,16394.631470
1232,US,Sandusky River Near Fremont Oh,04198000,41.307831,-83.158809,3240.076456
4841,US,"River Raisin Near Monroe, Mi",04176500,41.960601,-83.531046,2698.768719
27677,US,Cuyahoga River Near Newburgh Heights Oh,04208504,41.462552,-81.680963,2040.911469
1358,US,Cuyahoga River Near Newburgh Heights Oh,04208504,41.462552,-81.680963,2040.911469
4321,US,Clinton River At Moravian Drive At Mt. Clemens...,04165500,42.595867,-82.908810,1901.052054
4620,US,"Huron River At Ann Arbor, Mi",04174500,42.286982,-83.733830,1888.102108
1393,US,Grand River Near Painesville Oh,04212100,41.718934,-81.227879,1774.142584
1200,US,Portage River Near Elmore Oh,04195820,41.491162,-83.224645,1279.454652
4011,US,"Black River Near Fargo, Mi",04159500,43.092250,-82.617980,1243.194803
42963,US,"Black River Near Jeddo, Mi",04159492,43.150860,-82.624647,1201.754977
4009,US,"Black River Near Jeddo, Mi",04159492,43.150860,-82.624647,1201.754977
6237,US,Cattaraugus Creek At Gowanda Ny,04213500,42.463333,-78.934167,1129.235280
88812,US,Cattaraugus Creek At Gowanda Ny,04213500,42.463333,-78.934167,1129.235280
1278,US,Black River At Elyria Oh,04200500,41.380324,-82.104593,1025.635713
1252,US,Huron River At Milan Oh,04199000,41.300885,-82.608233,960.885983
6481,US,Tonawanda Creek At Rapids Ny,04218000,43.093056,-78.636111,903.906222
1292,US,Rocky River Near Berea Oh,04201500,41.407548,-81.882638,691.527109
1264,US,Vermilion River Near Vermilion Oh,04199500,41.381990,-82.316827,678.577164
1380,US,Chagrin River At Willoughby Oh,04209000,41.630881,-81.403445,637.137337
4251,US,"North Branch Clinton River Near Mt. Clemens, Mi",04164500,42.629200,-82.888810,515.407846
4369,US,"River Rouge At Detroit, Mi",04166500,42.373092,-83.254651,484.327976
1403,US,Conneaut Creek At Conneaut Oh,04213000,41.926999,-80.603966,453.248105
4026,US,"Mill Creek Near Avoca, Mi",04159900,43.054471,-82.734649,437.708170
4090,US,"Belle River At Memphis, Mi",04160600,42.900862,-82.769091,391.088365
1035,US,"Ottawa River At University Of Toledo, Toledo Oh",04177000,41.659681,-83.612547,388.498376
6331,US,Buffalo Creek At Gardenville Ny,04214500,42.854722,-78.755000,367.778463
6381,US,Cazenovia Creek At Ebenezer Ny,04215500,42.829722,-78.775000,349.648538
1397,US,Ashtabula River Near Ashtabula Oh,04212500,41.855609,-80.762030,313.388690
4401,US,"Middle River Rouge Near Garden City, Mi",04167000,42.348093,-83.311597,258.739918
6349,US,Cayuga Creek Near Lancaster Ny,04215000,42.890000,-78.645000,249.674956
4428,US,"Lower River Rouge At Dearborn, Mi",04168400,42.308371,-83.252706,235.689015
4427,US,"Lower River Rouge At Inkster, Mi",04168000,42.300593,-83.300208,215.487099
6532,US,Ellicott Creek Below Williamsville Ny,04218518,42.977778,-78.763611,211.343117
4858,US,"Otter Creek At La Salle, Mi",04176605,41.866990,-83.453544,132.089448
1166,US,Wolf Creek At Holland Oh,04193999,41.609444,-83.684167,64.231732
1373,US,Euclid Creek At Cleveland Oh,04208700,41.582272,-81.558734,59.828750
1254,US,Old Woman Creek At Berlin Rd Near Huron Oh,04199155,41.348383,-82.513782,57.238761
4630,US,"Malletts Creek At Ann Arbor, Mi",04174518,42.264761,-83.688273,28.230882
4438,US,"Ecorse River At Dearborn Heights, Mi",04168580,42.269483,-83.289652,25.899892
1295,US,Abram Creek At Kolthoff Drive At Brook Park Oh,04201526,41.393056,-81.850278,21.030712

In [357]:
dictionary_of_us_basins = {
    'SCR': ['Belle River At Memphis, Mi', 'Black River Near Jeddo, Mi',
           'Mill Creek Near Avoca, Mi', 'St. Clair River At Port Huron, Mi',
           'Black River Near Fargo, Mi', ],
    'SCL': ['Clinton River At Moravian Drive At Mt. Clemens, Mi', 'North Branch Clinton River Near Mt. Clemens, Mi'],
    'DR': ['Detroit River At Fort Wayne At Detroit, Mi', 'Ecorse River At Dearborn Heights, Mi',
           'Lower River Rouge At Dearborn, Mi', 'Middle River Rouge Near Garden City, Mi',
          'River Rouge At Detroit, Mi', ],
    'WB': ['Huron River At Ann Arbor, Mi', 'Malletts Creek At Ann Arbor, Mi',
          'Maumee River At Waterville Oh', 'Maumee River At Waterville Oh', 
           'Ottawa River At University Of Toledo, Toledo Oh', 'Portage River Near Elmore Oh',
           'River Raisin Near Monroe, Mi', 'Wolf Creek At Holland Oh', 'Lower River Rouge At Inkster, Mi',
           'Otter Creek At La Salle, Mi'
          ],
    'CB': ['Abram Creek At Kolthoff Drive At Brook Park Oh', 'Black River At Elyria Oh',
          'Chagrin River At Willoughby Oh', 'Conneaut Creek At Conneaut Oh',
           'Cuyahoga River Near Newburgh Heights Oh', 'Euclid Creek At Cleveland Oh',
           'Grand River Near Painesville Oh', 'Huron River At Milan Oh',
           'Old Woman Creek At Berlin Rd Near Huron Oh', 'Rocky River Near Berea Oh',
           'Sandusky River Near Fremont Oh', 'Vermilion River Near Vermilion Oh',
           'Ashtabula River Near Ashtabula Oh',
          ],
    'EB': ['Buffalo Creek At Gardenville Ny', 'Cattaraugus Creek At Gowanda Ny',
          'Cayuga Creek Near Lancaster Ny', 'Cazenovia Creek At Ebenezer Ny'],
    'NR': ['Ellicott Creek Below Williamsville Ny', 'Niagara River At Black Rock Lock At Buffalo Ny',
           'Niagara River At Buffalo Ny', 'Tonawanda Creek At Rapids Ny'],
}

In [358]:
us_river_sorted = dictionary_of_us_basins['SCR'] + \
dictionary_of_us_basins['SCL'] + \
dictionary_of_us_basins['DR'] + \
dictionary_of_us_basins['WB'] + \
dictionary_of_us_basins['CB'] + \
dictionary_of_us_basins['EB'] + \
dictionary_of_us_basins['NR']

len(us_river_sorted)

43

# Final Table

In [367]:
master_df = res[res.STATION_NAME.isin(dictionary_of_us_basins['SCR'])].append( 
    df[df.STATION_NAME.isin(dictionary_of_ca_basins['SCR'])], ignore_index=True)
master_df['basin'] = 'SCR'

new_df = res[res.STATION_NAME.isin(dictionary_of_us_basins['SCL'])].append( 
    df[df.STATION_NAME.isin(dictionary_of_ca_basins['SCL'])], ignore_index=True)
new_df['basin'] = 'SCL'


master_df = master_df.append(new_df, ignore_index=1)

new_df = res[res.STATION_NAME.isin(dictionary_of_us_basins['DR'])].append( 
    df[df.STATION_NAME.isin(dictionary_of_ca_basins['DR'])], ignore_index=True)
new_df['basin'] = 'DR'

master_df = master_df.append(new_df, ignore_index=1)


new_df = res[res.STATION_NAME.isin(dictionary_of_us_basins['WB'])].append( 
    df[df.STATION_NAME.isin(dictionary_of_ca_basins['WB'])], ignore_index=True)
new_df['basin'] = 'WB'

master_df = master_df.append(new_df, ignore_index=1)

new_df = res[res.STATION_NAME.isin(dictionary_of_us_basins['CB'])].append( 
    df[df.STATION_NAME.isin(dictionary_of_ca_basins['CB'])], ignore_index=True)
new_df['basin'] = 'CB'

master_df = master_df.append(new_df, ignore_index=1)

new_df = res[res.STATION_NAME.isin(dictionary_of_us_basins['EB'])].append( 
    df[df.STATION_NAME.isin(dictionary_of_ca_basins['EB'])], ignore_index=True)
new_df['basin'] = 'EB'

master_df = master_df.append(new_df, ignore_index=1)

new_df = res[res.STATION_NAME.isin(dictionary_of_us_basins['NR'])].append( 
    df[df.STATION_NAME.isin(dictionary_of_ca_basins['NR'])], ignore_index=True)
new_df['basin'] = 'NR'

master_df = master_df.append(new_df, ignore_index=1)

master_df['STATION_NAME'] = master_df['STATION_NAME'].apply(lambda x: (x[:-3] + ', ' + x[-2:].upper()).replace(',,',',') )

    
master_df['DRAINAGE_AREA_GROSS'] = master_df['DRAINAGE_AREA_GROSS'].apply(lambda x: round(x,0))

master_df = master_df[['basin','country', 'STATION_NAME', 'STATION_NUMBER', 'LATITUDE', 'LONGITUDE', 'DRAINAGE_AREA_GROSS']]
master_df = master_df.drop_duplicates(subset=['STATION_NUMBER']).reset_index(drop=True)
master_df

,basin,country,STATION_NAME,STATION_NUMBER,LATITUDE,LONGITUDE,DRAINAGE_AREA_GROSS
0,SCR,US,"St. Clair River At Port Huron, MI",04159130,42.986974,-82.424637,576014.0
1,SCR,US,"Black River Near Fargo, MI",04159500,43.092250,-82.617980,1243.0
2,SCR,US,"Black River Near Jeddo, MI",04159492,43.150860,-82.624647,1202.0
3,SCR,US,"Mill Creek Near Avoca, MI",04159900,43.054471,-82.734649,438.0
4,SCR,US,"Belle River At Memphis, MI",04160600,42.900862,-82.769091,391.0
5,SCR,CA,"St. Clair River At Port Huron, ON",02GG014,42.986939,-82.424721,576013.0
6,SCR,CA,"Bear Creek Below Brigden, ON",02GG009,42.812031,-82.298424,536.0
7,SCR,CA,"Bear Creek Near Petrolia, ON",02GG006,42.905830,-82.119110,249.0
8,SCR,CA,"Black Creek Near Bradshaw, ON",02GG013,42.762440,-82.259216,213.0
9,SCL,US,Clinton River At Moravian Drive At Mt. Clemens...,04165500,42.595867,-82.908810,1901.0
10,SCL,US,"North Branch Clinton River Near Mt. Clemens, MI",04164500,42.629200,-82.888810,515.0
11,SCL,CA,"Thames River At Thamesville, ON",02GE003,42.544861,-81.967270,4370.0
12,SCL,CA,"Thames River Near Dutton, ON",02GE006,42.730690,-81.577469,3820.0
13,SCL,CA,"Thames River At Byron, ON",02GE002,42.962502,-81.331780,3080.0
14,SCL,CA,"Sydenham River At Florence, ON",02GG003,42.650612,-82.008392,1150.0
15,SCL,CA,"Sydenham River Near Alvinston, ON",02GG002,42.830810,-81.851723,701.0
16,SCL,CA,"Mcgregor Creek Near Chatham, ON",02GE007,42.383499,-82.095062,204.0
17,SCL,CA,"Sydenham River At Strathroy, ON",02GG005,42.958859,-81.627136,171.0
18,SCL,CA,"Ruscom River Near Ruscom Station, ON",02GH002,42.211498,-82.629143,125.0
19,DR,US,"Detroit River At Fort Wayne At Detroit, MI",04165710,42.298094,-83.092700,592590.0
20,DR,US,"River Rouge At Detroit, MI",04166500,42.373092,-83.254651,484.0
21,DR,US,"Middle River Rouge Near Garden City, MI",04167000,42.348093,-83.311597,259.0
22,DR,US,"Lower River Rouge At Dearborn, MI",04168400,42.308371,-83.252706,236.0
23,DR,US,"Ecorse River At Dearborn Heights, MI",04168580,42.269483,-83.289652,26.0
24,DR,CA,"Canard River Near Lukerville, ON",02GH003,42.158970,-83.018890,159.0
25,DR,CA,"Little River At Windsor, ON",02GH011,42.309860,-82.928497,55.0
26,DR,CA,"Turkey Creek At Windsor, ON",02GH004,42.260502,-83.039833,30.0
27,DR,CA,"Turkey Creek At South Windsor, ON",02GH016,42.264080,-83.032417,15.0
28,WB,US,"Maumee River At Waterville, OH",04193500,41.500053,-83.712715,16395.0
29,WB,US,"River Raisin Near Monroe, MI",04176500,41.960601,-83.531046,2699.0
30,WB,US,"Huron River At Ann Arbor, MI",04174500,42.286982,-83.733830,1888.0
31,WB,US,"Portage River Near Elmore, OH",04195820,41.491162,-83.224645,1279.0
32,WB,US,"Ottawa River At University Of Toledo, Toledo, OH",04177000,41.659681,-83.612547,388.0
33,WB,US,"Lower River Rouge At Inkster, MI",04168000,42.300593,-83.300208,215.0
34,WB,US,"Otter Creek At La Salle, MI",04176605,41.866990,-83.453544,132.0
35,WB,US,"Wolf Creek At Holland, OH",04193999,41.609444,-83.684167,64.0
36,WB,US,"Malletts Creek At Ann Arbor, MI",04174518,42.264761,-83.688273,28.0
37,CB,US,"Sandusky River Near Fremont, OH",04198000,41.307831,-83.158809,3240.0
38,CB,US,"Cuyahoga River Near Newburgh Heights, OH",04208504,41.462552,-81.680963,2041.0
39,CB,US,"Grand River Near Painesville, OH",04212100,41.718934,-81.227879,1774.0
40,CB,US,"Black River At Elyria, OH",04200500,41.380324,-82.104593,1026.0
41,CB,US,"Huron River At Milan, OH",04199000,41.300885,-82.608233,961.0
42,CB,US,"Rocky River Near Berea, OH",04201500,41.407548,-81.882638,692.0
43,CB,US,"Vermilion River Near Vermilion, OH",04199500,41.381990,-82.316827,679.0
44,CB,US,"Chagrin River At Willoughby, OH",04209000,41.630881,-81.403445,637.0
45,CB,US,"Conneaut Creek At Conneaut, OH",04213000,41.926999,-80.603966,453.0
46,CB,US,"Ashtabula River Near Ashtabula, OH",04212500,41.855609,-80.762030,313.0
47,CB,US,"Euclid Creek At Cleveland, OH",04208700,41.582272,-81.558734,60.0
48,CB,US,"Old Woman Creek At Berlin Rd Near Huron, OH",04199155,41.348383,-82.513782,57.0
49,CB,US,"Abram Creek At Kolthoff Drive At Brook Park, OH",04201526,41.393056,-81.850278,21.0
50,CB,CA,"Big Otter Creek Near Calton, ON",02GC026,42.710670,-80.840813,665.0
51,CB,CA,"Big Otter Creek At Tillsonburg, ON",02GC010,42.857311,-80.723579,354.0
52,CB,CA,"Kettle Creek At St. Thomas, ON",02GC002,42.777691,-81.213997,331.0
53,CB,CA,"Catfish Creek Near Sparta, ON",02GC018,42.746078,-81.056938,295.0
54,CB,CA,"Kettle Creek Above St. Thomas, ON",02GC029,42.835190,-81.134720,134.0
55,CB,CA,"Catfish Creek At Aylmer, ON",02GC030,42.773750,-80.982674,127.0
56,CB,CA,"Dodd Creek Below Paynes Mills, ON",02GC031,42.787392,-81.267502,100.0
57,CB,CA,"Silver Creek Near Grovesend, ON",02GC036,42.675831,-80.953331,40.0
58,EB,US,"Cattaraugus Creek At Gowanda, NY",04213500,42.463333,-78.934167,1129.0
59,EB,US,"Buffalo Creek At Gardenville, NY",04214500,42.854722,-78.755000,368.0
60,EB,US,"Cazenovia Creek At Ebenezer, NY",04215500,42.829722,-78.775000,350.0
61,EB,US,"Cayuga Creek Near Lancaster, NY",04215000,42.890000,-78.645000,250.0
62,EB,CA,"Grand River At Brantford, ON",02GB001,43.132721,-80.267311,5200.0
63,EB,CA,"Grand River At Galt, ON",02GA003,43.353111,-80.315750,3520.0
64,EB,CA,"Big Creek Near Walsingham, ON",02GC007,42.685612,-80.538467,567.0
65,EB,CA,"Nanticoke Creek At Nanticoke, ON",02GC022,42.809921,-80.076172,177.0
66,EB,CA,"Mckenzie Creek Near Caledonia, ON",02GB010,43.033939,-79.949806,173.0
67,EB,CA,"Lynn River At Simcoe, ON",02GC008,42.823330,-80.289436,144.0
68,EB,CA,"Venison Creek Near Walsingham, ON",02GC021,42.653359,-80.548439,68.0
69,EB,CA,"Young Creek Near Vittoria, ON",02GC014,42.765751,-80.294579,66.0
70,NR,US,"Niagara River At Black Rock Lock At Buffalo, NY",04216220,42.933946,-78.904481,682980.0
71,NR,US,"Niagara River At Buffalo, NY",04216000,42.877778,-78.916389,682980.0
72,NR,US,"Tonawanda Creek At Rapids, NY",04218000,43.093056,-78.636111,904.0
73,NR,US,"Ellicott Creek Below Williamsville, NY",04218518,42.977778,-78.763611,211.0
74,NR,CA,"Niagara River At Queenston, ON",02HA003,43.156941,-79.047218,686000.0
75,NR,CA,"Niagara River At Fort Erie, ON",02HA013,42.930279,-78.914169,683000.0
76,NR,CA,"Welland River Below Caistor Corners, ON",02HA007,43.021778,-79.618019,223.0
77,NR,CA,"Oswego Creek At Canborough, ON",02HA024,42.991310,-79.678253,83.0
78,NR,CA,"Welland Canal Diversion From Lake Erie, ON",02HA019,42.950001,-79.216667,NaN

In [370]:
print(master_df.to_latex(index=0))

\begin{tabular}{llllrrr}
\toprule
basin & country &                                       STATION\_NAME & STATION\_NUMBER &   LATITUDE &  LONGITUDE &  DRAINAGE\_AREA\_GROSS \\
\midrule
  SCR &      US &                  St. Clair River At Port Huron, MI &       04159130 &  42.986974 & -82.424637 &             576014.0 \\
  SCR &      US &                         Black River Near Fargo, MI &       04159500 &  43.092250 & -82.617980 &               1243.0 \\
  SCR &      US &                         Black River Near Jeddo, MI &       04159492 &  43.150860 & -82.624647 &               1202.0 \\
  SCR &      US &                          Mill Creek Near Avoca, MI &       04159900 &  43.054471 & -82.734649 &                438.0 \\
  SCR &      US &                         Belle River At Memphis, MI &       04160600 &  42.900862 & -82.769091 &                391.0 \\
  SCR &      CA &                  St. Clair River At Port Huron, ON &        02GG014 &  42.986939 & -82.424721 &             576013.0 \\
  SCR &      CA &                       Bear Creek Below Brigden, ON &        02GG009 &  42.812031 & -82.298424 &                536.0 \\
  SCR &      CA &                       Bear Creek Near Petrolia, ON &        02GG006 &  42.905830 & -82.119110 &                249.0 \\
  SCR &      CA &                      Black Creek Near Bradshaw, ON &        02GG013 &  42.762440 & -82.259216 &                213.0 \\
  SCL &      US &  Clinton River At Moravian Drive At Mt. Clemens... &       04165500 &  42.595867 & -82.908810 &               1901.0 \\
  SCL &      US &    North Branch Clinton River Near Mt. Clemens, MI &       04164500 &  42.629200 & -82.888810 &                515.0 \\
  SCL &      CA &                    Thames River At Thamesville, ON &        02GE003 &  42.544861 & -81.967270 &               4370.0 \\
  SCL &      CA &                       Thames River Near Dutton, ON &        02GE006 &  42.730690 & -81.577469 &               3820.0 \\
  SCL &      CA &                          Thames River At Byron, ON &        02GE002 &  42.962502 & -81.331780 &               3080.0 \\
  SCL &      CA &                     Sydenham River At Florence, ON &        02GG003 &  42.650612 & -82.008392 &               1150.0 \\
  SCL &      CA &                  Sydenham River Near Alvinston, ON &        02GG002 &  42.830810 & -81.851723 &                701.0 \\
  SCL &      CA &                    Mcgregor Creek Near Chatham, ON &        02GE007 &  42.383499 & -82.095062 &                204.0 \\
  SCL &      CA &                    Sydenham River At Strathroy, ON &        02GG005 &  42.958859 & -81.627136 &                171.0 \\
  SCL &      CA &               Ruscom River Near Ruscom Station, ON &        02GH002 &  42.211498 & -82.629143 &                125.0 \\
   DR &      US &         Detroit River At Fort Wayne At Detroit, MI &       04165710 &  42.298094 & -83.092700 &             592590.0 \\
   DR &      US &                         River Rouge At Detroit, MI &       04166500 &  42.373092 & -83.254651 &                484.0 \\
   DR &      US &            Middle River Rouge Near Garden City, MI &       04167000 &  42.348093 & -83.311597 &                259.0 \\
   DR &      US &                  Lower River Rouge At Dearborn, MI &       04168400 &  42.308371 & -83.252706 &                236.0 \\
   DR &      US &               Ecorse River At Dearborn Heights, MI &       04168580 &  42.269483 & -83.289652 &                 26.0 \\
   DR &      CA &                   Canard River Near Lukerville, ON &        02GH003 &  42.158970 & -83.018890 &                159.0 \\
   DR &      CA &                        Little River At Windsor, ON &        02GH011 &  42.309860 & -82.928497 &                 55.0 \\
   DR &      CA &                        Turkey Creek At Windsor, ON &        02GH004 &  42.260502 & -83.039833 &                 30.0 \\
   DR &      CA &                  Turkey Creek At South Windsor, ON &        02GH016 &  42.264080 & -83.032417 &                 15.0 \\
   WB &      US &                     Maumee River At Waterville, OH &       04193500 &  41.500053 & -83.712715 &              16395.0 \\
   WB &      US &                       River Raisin Near Monroe, MI &       04176500 &  41.960601 & -83.531046 &               2699.0 \\
   WB &      US &                       Huron River At Ann Arbor, MI &       04174500 &  42.286982 & -83.733830 &               1888.0 \\
   WB &      US &                      Portage River Near Elmore, OH &       04195820 &  41.491162 & -83.224645 &               1279.0 \\
   WB &      US &   Ottawa River At University Of Toledo, Toledo, OH &       04177000 &  41.659681 & -83.612547 &                388.0 \\
   WB &      US &                   Lower River Rouge At Inkster, MI &       04168000 &  42.300593 & -83.300208 &                215.0 \\
   WB &      US &                        Otter Creek At La Salle, MI &       04176605 &  41.866990 & -83.453544 &                132.0 \\
   WB &      US &                          Wolf Creek At Holland, OH &       04193999 &  41.609444 & -83.684167 &                 64.0 \\
   WB &      US &                    Malletts Creek At Ann Arbor, MI &       04174518 &  42.264761 & -83.688273 &                 28.0 \\
   CB &      US &                    Sandusky River Near Fremont, OH &       04198000 &  41.307831 & -83.158809 &               3240.0 \\
   CB &      US &           Cuyahoga River Near Newburgh Heights, OH &       04208504 &  41.462552 & -81.680963 &               2041.0 \\
   CB &      US &                   Grand River Near Painesville, OH &       04212100 &  41.718934 & -81.227879 &               1774.0 \\
   CB &      US &                          Black River At Elyria, OH &       04200500 &  41.380324 & -82.104593 &               1026.0 \\
   CB &      US &                           Huron River At Milan, OH &       04199000 &  41.300885 & -82.608233 &                961.0 \\
   CB &      US &                         Rocky River Near Berea, OH &       04201500 &  41.407548 & -81.882638 &                692.0 \\
   CB &      US &                 Vermilion River Near Vermilion, OH &       04199500 &  41.381990 & -82.316827 &                679.0 \\
   CB &      US &                    Chagrin River At Willoughby, OH &       04209000 &  41.630881 & -81.403445 &                637.0 \\
   CB &      US &                     Conneaut Creek At Conneaut, OH &       04213000 &  41.926999 & -80.603966 &                453.0 \\
   CB &      US &                 Ashtabula River Near Ashtabula, OH &       04212500 &  41.855609 & -80.762030 &                313.0 \\
   CB &      US &                      Euclid Creek At Cleveland, OH &       04208700 &  41.582272 & -81.558734 &                 60.0 \\
   CB &      US &        Old Woman Creek At Berlin Rd Near Huron, OH &       04199155 &  41.348383 & -82.513782 &                 57.0 \\
   CB &      US &    Abram Creek At Kolthoff Drive At Brook Park, OH &       04201526 &  41.393056 & -81.850278 &                 21.0 \\
   CB &      CA &                    Big Otter Creek Near Calton, ON &        02GC026 &  42.710670 & -80.840813 &                665.0 \\
   CB &      CA &                 Big Otter Creek At Tillsonburg, ON &        02GC010 &  42.857311 & -80.723579 &                354.0 \\
   CB &      CA &                     Kettle Creek At St. Thomas, ON &        02GC002 &  42.777691 & -81.213997 &                331.0 \\
   CB &      CA &                      Catfish Creek Near Sparta, ON &        02GC018 &  42.746078 & -81.056938 &                295.0 \\
   CB &      CA &                  Kettle Creek Above St. Thomas, ON &        02GC029 &  42.835190 & -81.134720 &                134.0 \\
   CB &      CA &                        Catfish Creek At Aylmer, ON &        02GC030 &  42.773750 & -80.982674 &                127.0 \\
   CB &      CA &                  Dodd Creek Below Paynes Mills, ON &        02GC031 &  42.787392 & -81.267502 &                100.0 \\
   CB &      CA &                    Silver Creek Near Grovesend, ON &        02GC036 &  42.675831 & -80.953331 &                 40.0 \\
   EB &      US &                   Cattaraugus Creek At Gowanda, NY &       04213500 &  42.463333 & -78.934167 &               1129.0 \\
   EB &      US &                   Buffalo Creek At Gardenville, NY &       04214500 &  42.854722 & -78.755000 &                368.0 \\
   EB &      US &                    Cazenovia Creek At Ebenezer, NY &       04215500 &  42.829722 & -78.775000 &                350.0 \\
   EB &      US &                    Cayuga Creek Near Lancaster, NY &       04215000 &  42.890000 & -78.645000 &                250.0 \\
   EB &      CA &                       Grand River At Brantford, ON &        02GB001 &  43.132721 & -80.267311 &               5200.0 \\
   EB &      CA &                            Grand River At Galt, ON &        02GA003 &  43.353111 & -80.315750 &               3520.0 \\
   EB &      CA &                      Big Creek Near Walsingham, ON &        02GC007 &  42.685612 & -80.538467 &                567.0 \\
   EB &      CA &                   Nanticoke Creek At Nanticoke, ON &        02GC022 &  42.809921 & -80.076172 &                177.0 \\
   EB &      CA &                  Mckenzie Creek Near Caledonia, ON &        02GB010 &  43.033939 & -79.949806 &                173.0 \\
   EB &      CA &                           Lynn River At Simcoe, ON &        02GC008 &  42.823330 & -80.289436 &                144.0 \\
   EB &      CA &                  Venison Creek Near Walsingham, ON &        02GC021 &  42.653359 & -80.548439 &                 68.0 \\
   EB &      CA &                      Young Creek Near Vittoria, ON &        02GC014 &  42.765751 & -80.294579 &                 66.0 \\
   NR &      US &    Niagara River At Black Rock Lock At Buffalo, NY &       04216220 &  42.933946 & -78.904481 &             682980.0 \\
   NR &      US &                       Niagara River At Buffalo, NY &       04216000 &  42.877778 & -78.916389 &             682980.0 \\
   NR &      US &                      Tonawanda Creek At Rapids, NY &       04218000 &  43.093056 & -78.636111 &                904.0 \\
   NR &      US &             Ellicott Creek Below Williamsville, NY &       04218518 &  42.977778 & -78.763611 &                211.0 \\
   NR &      CA &                     Niagara River At Queenston, ON &        02HA003 &  43.156941 & -79.047218 &             686000.0 \\
   NR &      CA &                     Niagara River At Fort Erie, ON &        02HA013 &  42.930279 & -78.914169 &             683000.0 \\
   NR &      CA &            Welland River Below Caistor Corners, ON &        02HA007 &  43.021778 & -79.618019 &                223.0 \\
   NR &      CA &                     Oswego Creek At Canborough, ON &        02HA024 &  42.991310 & -79.678253 &                 83.0 \\
   NR &      CA &         Welland Canal Diversion From Lake Erie, ON &        02HA019 &  42.950001 & -79.216667 &                  NaN \\
\bottomrule
\end{tabular}

# Agregation of the flow results

In [384]:
master_df[(master_df.basin=='SCR') & (master_df.country == 'CA')]

,basin,country,STATION_NAME,STATION_NUMBER,LATITUDE,LONGITUDE,DRAINAGE_AREA_GROSS
5,SCR,CA,"St. Clair River At Port Huron, ON",02GG014,42.986939,-82.424721,576013.0
6,SCR,CA,"Bear Creek Below Brigden, ON",02GG009,42.812031,-82.298424,536.0
7,SCR,CA,"Bear Creek Near Petrolia, ON",02GG006,42.905830,-82.119110,249.0
8,SCR,CA,"Black Creek Near Bradshaw, ON",02GG013,42.762440,-82.259216,213.0

In [381]:
station_numbers_ca = master_df[(master_df.basin=='SCR') & (master_df.country == 'CA')].STATION_NUMBER.values

In [400]:
df = WSC_FLOWS[station_numbers_ca]
# df = df.fillna(df.mean())
df['year'] = df.index.year
df['month'] = df.index.month
df = df[(df.year>2002) & (df.year<2018)]
df.groupby(['year','month']).mean().round(2)

            02GG014  02GG009  02GG006  02GG013
year month
2003 1          NaN     0.14     0.07      NaN
     2          NaN     0.29     0.24      NaN
     3          NaN    10.53     6.97      NaN
     4          NaN     9.16     4.48      NaN
     5          NaN     4.77     2.51      NaN
     6          NaN     1.36     0.65      NaN
     7          NaN     0.19     0.13      NaN
     8          NaN     0.09     0.05      NaN
     9          NaN     0.19     0.10      NaN
     10         NaN     1.16     0.83      NaN
     11         NaN     8.71     5.60      NaN
     12         NaN     8.77     5.23      NaN
2004 1          NaN     4.69     1.47      NaN
     2          NaN     0.37     0.15      NaN
     3          NaN    13.13     7.37      NaN
     4          NaN     4.32     1.48      NaN
     5          NaN    18.01    10.16      NaN
     6          NaN     2.31     0.72      NaN
     7          NaN     0.41     0.17      NaN
     8          NaN     0.26     0.11      NaN
     9          NaN     0.12     0.05      NaN
     10         NaN     0.19     0.04      NaN
     11         NaN     1.20     0.30      NaN
     12         NaN     6.20     2.01      NaN
2005 1          NaN    19.47     9.97      NaN
     2          NaN    14.98     4.84      NaN
     3          NaN    15.24     5.45      NaN
     4          NaN    11.90     5.74      NaN
     5          NaN     1.81     0.75      NaN
     6          NaN     0.76     0.35      NaN
     7          NaN     0.17     0.10      NaN
     8          NaN     0.06     0.03      NaN
     9          NaN     0.34     0.17      NaN
     10         NaN     0.35     0.13      NaN
     11         NaN     6.19     3.42      NaN
     12         NaN    10.60     4.82      NaN
2006 1          NaN    18.57     7.98      NaN
     2          NaN    21.47     9.38      NaN
     3          NaN    11.95     6.56      NaN
     4          NaN     4.86     2.21     1.50
     5          NaN     5.71     1.76     3.17
     6          NaN     0.67     0.39     0.02
     7          NaN     1.09     0.58     0.32
     8          NaN     0.96     0.37     0.20
     9          NaN     0.46     0.12     0.45
     10         NaN    12.07     6.08     9.95
     11         NaN     9.35     3.91     4.96
     12         NaN    15.14     7.13     8.37
2007 1          NaN    13.80     6.12     7.77
     2          NaN     0.78     0.42     0.10
     3          NaN    19.28     9.54     9.73
     4          NaN     3.78     1.89     1.67
     5          NaN     2.77     1.35     0.38
     6          NaN     0.66     0.31     0.15
     7          NaN     0.19     0.09     0.03
     8          NaN     0.15     0.03     0.04
     9          NaN     0.06     0.02     0.00
     10         NaN     0.11     0.02     0.00
     11         NaN     0.13     0.06     0.03
     12         NaN     5.64     2.49     4.92
2008 1          NaN    10.61     5.17     5.06
     2          NaN    17.39     9.63     8.85
     3          NaN    19.76    10.05    12.18
     4          NaN     8.12     4.16     3.35
     5          NaN     1.36     0.66     0.22
     6          NaN     4.30     2.60     0.69
     7          NaN     2.58     1.00     0.45
     8          NaN     1.83     0.58     0.54
     9          NaN     8.90     3.94     3.56
     10         NaN     2.09     1.49     0.98
     11     5148.42    18.50    10.96     8.39
     12     4837.10    24.01    13.70    10.72
2009 1      4475.48     3.68     1.09     0.82
     2      4742.14    25.89    13.75    13.00
     3      4995.16    18.05     8.69     7.96
     4      5198.33    12.96     6.37     5.30
     5      5279.35     5.62     2.47     1.80
     6      5427.00     2.70     1.05     0.90
     7      5424.52     1.10     0.31     0.37
     8      5372.26     0.72     0.21     0.15
     9      5424.33     0.08     0.07     0.01
     10     5352.26     0.77     0.56     0.10
     11     5473.33     0.25     0.18     0.04
     12     5345.67     3.47     1.67     1.74
2010 1      4726.77     4.07     2.19     1.86
     2      4173.57     1.11     0.38     0.17
     3      5059.68    13.22     8.40     5.73
     4      5261.00     6.12     2.78     3.10
     5      5096.13     8.82     4.66     4.21
     6      5058.33     3.58     2.18     1.15
     7      5101.29     1.57     0.44     0.37
     8      5207.10     0.07     0.03     0.00
     9      5258.00     0.04     0.00     0.00
     10     5233.87     0.18     0.08     0.01
     11     5005.86     3.60     1.41     1.13
     12     4995.16     3.12     1.36     1.08
2011 1      4147.74    10.21     5.71     4.46
     2      3886.07    14.64     7.43     5.57
     3      4314.52    31.15    16.09    16.03
     4      4860.67    10.22     5.83     4.36
     5      4957.74     7.63     3.18     5.76
     6      5012.33     6.36     3.82     1.36
     7      4938.71     0.69     0.37     0.28
     8      5143.55     1.34     0.46     0.37
     9      5065.33     0.88     0.25     0.61
     10     5067.74     6.65     2.97     3.49
     11     4998.33     7.73     5.26     5.49
     12     4799.35    21.90     8.76     8.94
2012 1      4744.19     8.65     4.55     4.51
     2      4816.07     5.49     2.87     2.03
     3      4861.67     4.82     2.33     2.16
     4      5122.00     0.77     0.35     0.17
     5      5015.48     2.08     0.80     0.55
     6      4967.67     1.05     0.50     0.89
     7      4910.65     0.15     0.05     0.10
     8      4972.58     0.50     0.05     0.07
     9      4891.67     0.37     0.02     0.05
     10     4870.97     1.50     0.16     3.09
     11     4779.67     3.26     0.83     0.91
     12     4708.06     2.69     1.10     1.15
2013 1          NaN    14.93     8.98     7.47
     2          NaN     8.60     4.51     3.85
     3          NaN     8.37     5.08     4.84
     4          NaN    17.69    10.47     7.00
     5          NaN     2.74     1.66     0.74
     6          NaN     1.72     0.53     0.50
     7          NaN     1.67     1.37     0.58
     8          NaN     0.23     0.16     0.06
     9          NaN     2.20     1.61     0.82
     10         NaN     1.37     1.08     0.25
     11         NaN     5.02     3.82     1.77
     12         NaN     4.77     2.63     2.34
2014 1          NaN     8.87     4.51     3.86
     2          NaN     2.33     1.28     0.83
     3          NaN    24.64     9.65     9.35
     4          NaN    10.54     5.17     3.81
     5          NaN     9.49     4.46     4.60
     6          NaN     0.43     0.34     0.12
     7          NaN     2.12     1.47     1.64
     8          NaN     0.37     0.12     0.23
     9          NaN     9.81     5.73     5.53
     10         NaN     2.47     1.80     1.33
     11         NaN     6.55     3.68     3.29
     12         NaN     3.59     1.94     1.28
2015 1          NaN     1.64     0.67     0.29
     2          NaN     0.37     0.19     0.06
     3          NaN    14.56     7.74     6.01
     4          NaN     9.24     4.46     3.07
     5          NaN     0.60     0.34     0.20
     6          NaN    12.61     9.82     3.74
     7          NaN     2.08     0.50     0.66
     8          NaN     0.54     0.12     0.39
     9          NaN     0.15     0.04     0.04
     10         NaN     0.18     0.09     0.13
     11         NaN     0.76     0.44     0.46
     12         NaN     2.17     1.45     1.93
2016 1          NaN     4.77     2.23     1.72
     2          NaN    11.01     6.11     5.55
     3          NaN    18.88    10.42     7.67
     4          NaN    10.88     5.34     4.00
     5          NaN     4.60     2.71     0.94
     6          NaN     3.36     1.59     0.22
     7          NaN     1.40     0.82     0.18
     8          NaN     1.77     0.56     0.44
     9          NaN     0.22     0.06     0.05
     10         NaN     0.99     0.47     0.25
     11         NaN     2.86     1.01     0.65
     12         NaN     6.89     3.40     2.73
2017 1          NaN    13.28     5.93     4.93
     2          NaN     6.43     3.03     2.89
     3          NaN     9.99     5.48     4.96
     4          NaN    15.74     7.23     5.34
     5          NaN    13.97     7.23     4.72
     6          NaN     3.24     1.35     0.63
     7          NaN     1.19     0.57     0.62
     8          NaN     0.93     0.73     0.13
     9          NaN     0.55     0.30     0.01
     10         NaN     0.95     0.36     0.19
     11         NaN     4.89     1.40     3.14
     12         NaN     1.22     0.54     0.61

In [394]:
WSC_FLOWS.index.year

Int64Index([1996, 1996, 1996, 1996, 1996, 1996, 1996, 1996, 1996, 1996,
            ...
            2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017],
           dtype='int64', length=8036)